[2014-07-31 19:45] PradeepKadubandi opened #10 "Make scaffolding work as nuget packages"
2 things need to happen for this:
- We need changes to make the scaffolding packages to package content (templates)
- Code changes necessary to get the template folder locations from nuget package location

[2014-07-31 19:47] PradeepKadubandi opened #11 "Make scaffolding build as part of CI"

[2014-07-31 19:48] PradeepKadubandi opened #12 "Error message for scaffolding on empty projects is bad"
When user provides a non-existing DbContext, we should bail out with a better error message when app does not reference EF package.

[2014-07-31 19:49] PradeepKadubandi opened #13 "Scaffolding should use short type names for primary keys"
In the generated controller, we need to use short type names like int? for method parameters.

[2014-07-31 19:51] PradeepKadubandi opened #14 "PushIndent support in custom razor host for scaffolding"
When scaffolding creates partial views, the generated content is not properly indented. This is because there is no equivalent of T4's PushIndent (http://msdn.microsoft.com/en-us/library/microsoft.visualstudio.texttemplating.texttransformation.pushindent.aspx) for our custom razor host, we will need to implement it to correct the formatting of the generated templates.

[2014-07-31 21:48] rmangalore opened #15 "CTP3: Add DB.EnsureCreated check in constructor while scaffolding createa a new DBContext"
Actual:
public TestDBContext()
        {
            }
Expected:
 public TestDBContext()
        {
            if (!created)
            {
                Database.EnsureCreated();
                created = true;
            }
        }

[2014-07-31 21:52] rmangalore opened #16 "CTP3: Delete does not work on simple Person model in TestWebApp:"
Execute command >>K gen controller -m Person -dc TestDBContext -views.

F5 and try clicking on delete

[2014-07-31 23:46] rmangalore opened #17 "CTP3: K gen controller command should also generate views by default"

[2014-08-01 18:22] PradeepKadubandi opened #19 "Generated Controller should use property injection for DbContext"
One catch is in the new DbContext scenario, we should either modify the startup code (ideal but hard) or at least show a readme that the newly created context should be registered in the startup. Is this a must fix for CTP3?

[2014-08-04 17:34] #11 closed, assigned to nobody

[2014-08-04 20:35] rmangalore opened #22 "CTP3: k gen and k gen --help/ kgen -? to provide some information to user."
K Gen >> This should list all the Scaffolders that are available.
Something like:
/\* Here is the list of scaffolders that you have. Try K gen --help for more options */
Bug

K gen- help/ k gen --help /K gen -? should provide some generic help on KGen.

Example: try Kgen View -? or K gen controller -? for more specific help.

[2014-08-04 21:02] rmangalore opened #23 "CTP3: K gen view -? should give the various TemplateName options listed"

[2014-08-12 19:50] PradeepKadubandi opened #25 "Controller uses wrong namespace name"
Current implementation for controller uses the app name of model type as the assembly name (This is not right in the scenario where you are running k gen on a TestWebApp but the model type is in different assembly). Should fix this.

[2014-08-12 21:07] rmangalore opened #26 "CTP4: Should K gen view generate DbContext if it does not exist."
The datacontext does not exists in this case.
The above command complains that A type with name "TestViewDbContext" does not exist. Should it generate one?

[2014-08-12 21:14] rmangalore opened #27 "CTP4: K gen view should give a better error message rather than stating that, a file matching the name was not found within any folder."
k gen view MyView -m Person -dc PersonContext

Expected error message: something like, TemplateName is missing.

Actual:  A file matching the name .cshtml not found within any folder withing any of the folders:
c:..\Scaffolding|...\MS.Framework.CodeGenerators.MVC\Templates

[2014-08-13 20:58] rmangalore opened #28 "CTP3: Update the behaviour of -l and -ul flags"
1. K gen controller -m Person -dc PersonContext -L layoutPage.cshtml
   -L, should imply use layout(-ul)
2. K gen controller -m Person -dc PersonContext

When there is NO UL or L falg psassed. Then e should set layout to Null.
1.  K gen controller -m Person -dc PersonContext - ul

Set the layout page to empty in this case.

[2014-08-13 21:04] rmangalore opened #29 "Suggestion: K gen Views to generate all Views"
K gen Views -m Person -dc PersonContext

Views should generate all the Views (Create, delete, details, edit, Index) etc

[2014-08-13 21:11] rmangalore opened #30 "Suggestion:List the files that were added by a K gen command."
After running K gen command..

We should get some logging like:

[2014-08-13 21:24] rmangalore opened #31 "Suggestion: K gen command to add an action to a given Controller"
K gen action -n NewAction -c HomeController
1. This should generate NewCtion in HomeController.
2. This should add a View in Views/Home/NewAction.cshtml

[2014-08-13 21:27] rmangalore opened #32 "Suggestion: K gen UnitTest HomeController"
We should add support similar to:
 http://blog.stevensanderson.com/2011/03/28/scaffolding-actions-and-unit-tests-with-mvcscaffolding/

[2014-08-13 22:57] rmangalore opened #33 "CTP3: We should update our templates to use IActionResult instead of ActionResult"

[2014-08-14 19:28] #16 closed, assigned to nobody

[2014-08-14 20:21] #33 closed, assigned to nobody

[2014-08-14 20:30] #23 closed, assigned to nobody

[2014-08-14 21:36] rmangalore opened #36 "CTP3: K gen View command should check for view name ending in .cshtml"
K gen view Test1.cshtnl create -m Person

ACTUAL:
This generates file named Test1.cshtml.cshtml file.

EXPECTED:
This command to generate Test1.cshtml file.

[2014-08-14 22:56] rmangalore opened #37 "CTP3: K gen controller -name Person1 creates Controller with name Person1.cs"
EXPECTED the generated file nameto be Person1Controller.cs. It is Currently Person1.cs
[Note that this happens only when you pass a model parameter as well]

[2014-08-14 23:01] rmangalore opened #38 "CTP3: K gen controller generates views in a wrong folder"
ACTUAL: Views are generated in Views/Person folder.
EXPECTED: All view to be generated under : Views/Person1 folder.

[2014-08-14 23:11] #27 closed, assigned to nobody

[2014-08-14 23:12] #17 closed, assigned to nobody

[2014-08-14 23:16] #15 closed, assigned to nobody

[2014-08-14 23:45] rmangalore opened #39 "CTP3: K gen controller -m Person -dc new Context should show better error message"
K gen controller -m Person -dc new Context

ACTUAL:

EXPECTED: Error message to be like:

[2014-08-15 20:14] rmangalore opened #40 "CTP3: K gen view PartialCreateTest.cshtml create -partial -m Person -dc PersonContext -f -scripts"
Contents generate din MVC5 and MVC6 are different for Person Model.

[code]

[2014-08-15 20:18] rmangalore opened #41 "CTP3: K gen view PartialEdit.cshtml edit -partial -m Person -cd PersonContext -f -scripts"
EXPECTED: Contents to be arranged in this fashion:

 @HTML.ValidationSummary()
 @HTML.HiddenFor()
 <div>
<div>
<div>

ACTUAL:
@HTML.ValidationSummary()
<div>
 @HTML.HiddenFor()
<div>
<div>

[2014-08-15 20:19] rmangalore opened #42 "CTP3: Move script block to the end of file where required in generated View files."

[2014-08-15 20:20] rmangalore opened #43 "CTP3: k gen controller -?, does not have a description for -scripts."

[2014-08-15 20:26] rmangalore opened #44 "Suggestion: We should give the option to specify the output folder in which the generated files should go."
Scenario description:
1. I create a Controller by name Person1 based off a model Person w/o Views. This will Create Person1Controller.
2. Now, I want to generate Views. These have to go to a specific folder Vises\Person1.
3. The only Option I have now is to go to Views\Person1 and then do K gen. But K gen is NOT supported here :-).

OR

We can give
K gen View create -m Person -dc PersonContext -ou

[2014-08-16 00:03] #10 closed, assigned to nobody

[2014-08-16 00:04] #28 closed, assigned to nobody

[2014-08-16 00:11] #38 closed, assigned to nobody

[2014-08-16 00:15] #30 closed, assigned to nobody

[2014-08-18 21:29] rmangalore opened #45 "CTP3: System.InvalidOperationException surfaced to user when view file alreday exists."
Command:
D:\school\MVC6\MVC6>k gen view create create1.cshtml.cshtml -m Person -dc Person
ContextTest

ACTUAL:
System.InvalidOperationException: There was an error running the GenerateCode me
thod: View file D:\school\MVC6\MVC6\Views\Person\create.cshtml exists, use -f op
tion to overwrite
   at Microsoft.Framework.CodeGeneration.ActionInvoker.<BuildCommandLine>b__1()
   at Microsoft.Framework.Run

[2014-08-18 21:38] rmangalore opened #46 "CTP3: Fix the filename that is added in "Added View:.." Message"
Run command: k gen view create1.cshtml.cshtml create  -m Person -dc Perso
nContextTest
ACTUAL: Added View : \Views\Person\create1.cshtml.cshtml
EXPECTED: The file name to be create1.cshtml, in "Added View: \Views\Person\create1.cshtml" message.

[2014-08-18 21:40] #36 closed, assigned to nobody

[2014-08-18 21:54] #26 closed, assigned to nobody

[2014-08-19 18:29] rmangalore opened #47 "Review all the help/description text displayed to users."

[2014-08-22 17:28] PradeepKadubandi opened #48 "Allow for customization of scaffolding templates"
If the templates are copied into user's project directory and modified there, scaffolding should pick up the templates from that location.

[2014-08-23 08:07] davidfowl opened #49 "Decouple IModelTypesGenerator from roslyn"
https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.Framework.CodeGeneration.Core/IModelTypesLocator.cs#L9

This code needs to be more generic not assuming roslyn anywhere. There should be a POCO type that is used in the interface and a roslyn implementation that can turn ITypeSymbol into the POCO type.

[2014-09-11 20:19] #46 closed, assigned to nobody

[2014-09-11 20:21] #45 closed, assigned to nobody

[2014-09-11 20:27] #43 closed, assigned to nobody

[2014-09-11 20:29] #25 closed, assigned to nobody

[2014-09-11 20:31] #22 closed, assigned to nobody

[2014-09-11 20:44] #48 closed, assigned to nobody

[2014-09-11 20:55] rmangalore opened #53 "CTP4: Handle cases where dbcontext is not present in an EMpty MVC app."
Actual: There was an error running the GeneratedCode: Scaffolding will not be able to add a new DBContext if the application does not refrence ENtityFramework.SqlServer pachage, add a dependency to that package and try scaffolding again.

Expected: This dependency to be added automatically as the command is run.

[2014-09-11 21:03] rmangalore opened #54 "CTP4: Adding a model w/o the namespace gives errors."
ACTUAL: C:\school\EmptyTest2\Src\EmptyTest2>k gen controller -m Student -dc StudentConte
xt
There was an error running the GenerateCode method: There was an error creating
a DbContext :(3,7): error CS1001: Identifier expected
(3,7): error CS1002: ; expected
(3,7): error CS1022: Type or namespace definition, or end-of-file expected
(3,8): error CS0116: A namespace cannot directly contain members su

[2014-09-15 20:44] lucamorelli opened #56 "how can I debug it?"
Hi,
  I would like to debug to understand better how it works, but I don't userstand very well how can I start it so I can debug with vs.
  Selection the .CodeGeneration project and debug tells me that there are not generators installed.
  I created a webapp application, I added the reference in the project.json using
       "Microsoft.Framework.CodeGenerators.Mvc": ""
 so I suppose is trying to u

[2014-09-20 17:57] #56 closed, assigned to nobody

[2014-10-20 23:17] rmangalore opened #62 "Preview: Fix up create.cshtml generated file"
1. Add a model Person to default starter web.

   public class Person
     {
         public int Id { get; set; }
         public string lastname { get; set; }
     }
2. Do K gen controller -m Person -dc Personctxt.
3. This generated controller and Views
4. Verify the contents in Views\Create.cshtml file
   ACTUAL: Look at the contents in view\create.cshtml file. This has an ID label added. We did

[2014-10-21 19:07] kichalla opened #63 "Use the new helper method HttpNotFound instead of using HttpStatusCodeResult"
Currently when I scaffold a controller, I see the following...we can change all the references to `new HttpStatusCodeResult(404);` by`return HttpNotFound();` instead...

[code]

[2014-10-21 19:21] kichalla opened #64 "Let the scaffolded view's layout take the default one"
Currently when I scaffold a controller, the generated views have the `Layout` explicitly set to null like below...

[code]

Since the layout could possibly be set by `_ViewStart.cshtml`, we could just avoid this explicit setting enabling the views to take the styling etc. provided by the layout that the viewstart provides...

[2014-10-21 23:20] #64 closed, assigned to nobody

[2014-10-22 17:58] PradeepKadubandi opened #65 ""k gen controller -name Hello" seems to be broken with the latest builds"
Pranav tried this on his machine and it's throwing a weird error that 'object' does not have a property 'NamespaceName' - need to see if it repros consistently.

[2014-10-23 00:22] kichalla opened #66 "Scaffolding readme should probably change to reflect the new structure of Startup class"
Currently when I scaffold on an empty project, I receive the following read me text...

Couple of things:
- I think this should reflect the new Startup class setup of Configure, ConfigureServices to make it more clear...
- Also should StaticFiles middleware be registered before MVC?

[code]

[2014-10-24 16:51] PradeepKadubandi opened #68 "Need integration tests for scaffolding"

[2014-10-27 21:53] kichalla opened #69 "Remove REST style route from ScaffoldingReadMe.txt"
I tried scaffolding on an Empty project and following is the read-me that gets generated

Remove the following REST style route as currently we do not support REST style from conventional routing and expect users to use attribute routing instead..

[code]

SaccfoldingReadMe.txt

[code]

[2014-10-30 21:18] #47 closed, assigned to nobody

[2014-10-30 21:20] #42 closed, assigned to nobody

[2014-10-30 21:23] #39 closed, assigned to nobody

[2014-11-12 19:03] #69 closed, assigned to nobody

[2014-11-12 19:04] #68 closed, assigned to nobody

[2014-11-12 19:06] #66 closed, assigned to nobody

[2014-11-12 19:08] #63 closed, assigned to nobody

[2014-11-12 19:10] #62 closed, assigned to nobody

[2014-11-12 19:22] #44 closed, assigned to nobody

[2014-11-12 19:23] #41 closed, assigned to nobody

[2014-11-12 19:25] #40 closed, assigned to nobody

[2014-11-12 19:28] #32 closed, assigned to nobody

[2014-11-12 19:29] #31 closed, assigned to nobody

[2014-11-12 19:31] #29 closed, assigned to nobody

[2014-11-12 19:50] #19 closed, assigned to nobody

[2014-11-12 19:51] #14 closed, assigned to nobody

[2014-11-12 19:52] #13 closed, assigned to nobody

[2014-11-26 18:41] am11 opened #70 "Scaffolding: Add success messeges"
Right after scaffolding a model or vm, when the create or edit forms are submitted successfully and request is redirected to the Index view, there is no success message displayed.

In Ruby (sometimes) on Rails, there is a div `id='notice'` in the default layout which displays the status of the previous transaction and scaffold complements its existence by saying `flash[:notice] = "#{model_name} su

[2014-12-18 07:23] lucamorelli opened #71 "error compiling sources"
Hi,
  I just updated the repository clone, added to a custom scaffolders solution and tried recompiled, but I receive several errors

3>C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\AspNet\Microsoft.Web.AspNet.targets(143,5): error : Initiate build in the design time host failed with the following error: Could not load file or assembly 'a1bdf404-2a84-4219-84c6-6f06386d4d7a$Microsoft.

[2014-12-19 08:22] lucamorelli opened #73 "support for github, npm and bower"
Hi all,
  Has been planned support to integrated download source from **github repositories** and add packages to **npm**, **bower** and **grunt** config files when writing scaffolders? I seen several yeoman generators (mean.io) that start downloading files grom github: the main advantage in hosting sources in github is that I can see changes when a new version is uploaded.

[2015-01-12 22:55] #65 closed

[2015-02-06 18:59] #54 closed

[2015-02-12 22:18] ctolkien opened #74 "Templates only skip primary key if they are Guid"
https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.Framework.CodeGenerators.Mvc/Templates/ViewGenerator/Create.cshtml#L66

Having a int based key is pretty common. Is there a reason why this is restricted to guids?

[2015-02-17 12:41] borgdylan commented on #49
is this scheduled for a milestone?

[2015-02-24 21:42] #49 closed

[2015-02-25 07:19] borgdylan commented on #49
Does this support using reflection for projects that are not compiled with roslyn but with a different compiler?

[2015-02-25 07:25] borgdylan commented on #49
Affter examining the commit, I can still see that roslyn is assumed fully in the code (i.e it loads type using teh roslyn compilation object)

[2015-03-10 19:26] Bartmax opened #79 "remove Url.Content from views"
The views contains `@Url.Content` while is no longer required. should this be removed to use simple ~/address ?

[2015-03-16 17:59] Praburaj opened #80 "Review if a package description is required for these packages"
[code]

[2015-03-24 13:16] erichexter opened #84 "Are there any design docs, wiki, usecases or scenarios the scaffolding is trying to solve?"
Just wondering what the goal for the use experience is, for both using the scaffolder as well as creating  custom scaffolders

[2015-03-28 20:30] TheDarkTrumpet opened #86 "Unable to build project, on OSX (and likely Linux, too)"
Steps to Reproduce:
1) Git clone the repository (dev branch)
2) sh build.sh

The error I'm getting is:
Errors in /Users/dthole/Programming/Scaffolding2/test/Microsoft.Framework.CodeGeneration.Core.FunctionalTest/project.json
    Unable to locate ModelTypesLocatorTestWebApp >= 1.0.0

On a side note, is this project basically supposed to replace the asp generator app that was created some time ago?

[2015-03-31 01:47] HaoK opened #88 "Reenable or remove disabled test"
https://github.com/aspnet/Scaffolding/blob/dev/test/Microsoft.Framework.CodeGeneration.Core.FunctionalTest/ModelTypesLocatorTests.cs#L76

I'm not sure what the right behavior of this test is, hosting engine has changed a bit so more types are showing up.  39 types now instead of 3...

[2015-03-31 02:13] davidfowl opened #89 "Package source caching in project.json intellisense is too aggressive"
I changed my package sources, closed the project.json and reopened it, and it didn't update.

[2015-03-31 02:15] davidfowl opened #90 "Project.json intellisense claims it download NuGet package information but nothing shows up in the JSON output window"
![image](https://cloud.githubusercontent.com/assets/95136/6911115/0cda5a18-d711-11e4-93c4-01f1fff86dbb.png)

[2015-03-31 02:38] davidfowl commented on #89
Repro steps:

1. Unselect all configured feeds.
2. Search for `Microsoft.Framework.NotNullAttribute.Internal` (this package is only on myget)
3. Go to the NuGet sources and configure `https://www.myget.org/F/aspnetvnext/api/v2` as a package source
4. Go back to `project.json` and search for `Microsoft.Framework.NotNullAttribute.Internal`

Expected:
It was found

Actual:
It's not found until you cl

[2015-03-31 02:39] davidfowl commented on #89
There's an event on the NuGet package source provider that lets you know when package sources have changed. I suggest we hook that and clear our caches.

[2015-03-31 02:40] #89 closed

[2015-03-31 02:41] #90 closed

[2015-04-09 23:38] giggio opened #94 "Make ValidationUtil class public"
Right now `Microsoft.Framework.CodeGenerators.Mvc.ValidationUtil` is internal, but the work it is doing when validating model types is useful outside the `Microsoft.Framework.CodeGenerators.Mvc` assembly. It should be public.

[2015-05-06 23:07] muratg opened #96 "Pkg rename: Microsoft.Framework.CodeGeneration.Common -> Microsoft.Framework.CodeGeneration.Sources"

[2015-05-07 17:27] troydai commented on #96
Fixed in 6327964e83097070037946f6e0ff3672a6ed1c78

[2015-05-07 17:27] #96 closed

[2015-05-07 18:00] borgdylan commented on #49
This bug is not really solved. Roslyn's ITypeSymbol is required to load types. So the decoupling is only half done.

[2015-06-04 20:58] giggio opened #97 "Provide infrastructure to show scaffoldings in Visual Studio with a GUI"
Right now Scaffolding is only working with command line. If we write a new custom scaffolding we can use Visual Studio Extensibility APIs to extend Visual Studio and provide a GUI to these scaffoldings. But there is no clear path on how to connect the command line scaffolding to Visual Studio extensibility.
This issue addresses that.

There needs to exist an API we can use to directly invoke an sc

[2015-07-02 21:41] muratg opened #99 "Make .sources dependency in CodeGeneration.Core build time"
https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.Framework.CodeGeneration.Core/project.json#L7

[2015-07-07 20:55] troydai commented on #99
Fixed in 28dfdeb

[2015-07-07 20:55] #99 closed

[2015-07-22 16:28] danroth27 opened #103 "Wiring up scaffolding for CRUD"
Originally opened as https://github.com/aspnet/Mvc/issues/2842 by @NoralK

I have a basic Model with PERSON_ID as a key and identity and FULLNAME length of 30 and required.
[code]
When creating the scaffolding for CRUD Views I type the following command:
[code]
The Views get created however on the CREATE VIEW I am seeing a label and editor for PERSON_ID - I do not believe this should be there as i

[2015-07-23 00:19] marrrcin opened #104 "Adding CodeGenerators.Mvc to project.json causes builds to fail"
Steps to reproduce:
1. Create new ASP.NET 5 project in Visual Studio 2015 (Web Application)
2. Add "Microsoft.Framework.CodeGenerators.Mvc" : "1.0.0-beta4" to project.json
3. Rebuild solution

Result:
Build error
[code]

Problem does not occur unless I add dependency on code generators.

My full project.json
[code]

[2015-07-23 01:37] NoralK commented on #104
Change your line in project.json from
   "Microsoft.Framework.CodeGenerators.Mvc" : "1.0.0-beta4"
to
   "Microsoft.Framework.CodeGenerators.Mvc" : "1.0.0-beta5"
then perform a DNU restore.  You are using different betas.

[2015-07-29 20:26] giggio opened #105 "Release beta6"
It is not published to Nuget.org, for both:
* https://www.nuget.org/packages/Microsoft.Framework.CodeGenerators.Mvc/
* https://www.nuget.org/packages/Microsoft.Framework.CodeGeneration/

The tag is there, but not release:
https://github.com/aspnet/Scaffolding/releases/tag/1.0.0-beta6

[2015-07-29 20:39] heathyates commented on #105
I closed my issue at aspnet/Mvc since @giggio created it here in scaffolding. This is creating a lot of problems for users. Including this [issue](https://github.com/aspnet/MusicStore/issues/516)

[2015-07-29 20:50] giggio commented on #105
I noticed it has been published to the `aspnetmaster` feed on myget: https://www.myget.org/gallery/aspnetmaster
I added it to my `nuget.config` file and it seems to be working. But I have to do more tests.

[2015-07-30 05:36] Eilon commented on #105
@sayedihashimi @danroth27 to confirm but I believe we're pointing people at the Yeoman generators instead of these packages for now. We're not sure what the future is for these packages. That they were tagged as `beta6` is I think just an artifact of our build publishing scripts. We do still build the package and publish to MyGet, but not to NuGet.org anymore.

[2015-07-30 13:12] heathyates commented on #105
This resolved the issue for me now as well.

[2015-07-30 15:38] Muchiachio commented on #105
I wonder if this is a good idea, especially after [.tt support discussion](https://github.com/aspnet/Home/issues/272).
I can't even start to image how would someone iterate through C# type in yeoman's js.

[2015-07-31 17:48] giggio commented on #105
That is the exact problem of using yeoman to run a scaffolding. It is fine to use yeoman to bootstrap the project, but JavaScript cannot work with Roslyn to find types and create the correct files.
The current implementation with Razor is beautiful and works really well. We are creating our own scaffoldings using it. I hope Microsoft won't drop this package/repo. I also hope they keep it up to dat

[2015-08-04 21:21] sayedihashimi commented on #105
Not exactly, I'll try and clear it up here.

First let's make sure that we are using the same language since "scaffolding" means different things to different people. First let's consider it through the lens of Visual Studio 2013. In VS2013 we have the following ways to add ASP.NET related files.

 - New Project
 - Add New Item
 - Add New Scaffolded Item

The difference between `Add New Item` and

[2015-08-04 21:25] sayedihashimi commented on #105
@heathyates

Here is the latest on yo aspnet http://blogs.msdn.com/b/webdev/archive/2015/07/04/updates-to-asp-net-5-yeoman-generators-for-beta-5.aspx

@Muchiachio

I can't even start to image how would someone iterate through C# type in yeoman's js.

See my reply https://github.com/aspnet/Scaffolding/issues/105#issuecomment-127765528

@giggio

Yes I agree. See my reply https://github.com/aspnet/Sc

[2015-08-04 23:29] NoralK commented on #103
This should be closed

[2015-08-04 23:44] NoralK opened #106 "Wiring up scaffolding for CRUD on beta7-12609"
When I enter the command to wire up the scaffolding for this model I get the following error:
[code]
My basic model is as follows:
[code]
A snippet of my startup.cs is as follows:
[code]
Any thoughts?

[2015-08-04 23:47] NoralK commented on #106
BTW - I corrected my connection string in startup.cs to:
[code]

[2015-08-05 00:54] NoralK commented on #106
Some more information:
[code]
Output from `where dnx` is:
[code]

[2015-08-07 03:29] NoralK commented on #106
Still failing on beta7-12312:
[code]

[2015-08-07 23:14] NoralK commented on #106
@danroth27 - do you know when this issue might be addressed?

[2015-08-11 17:59] NoralK commented on #106
@bricelam Do you know when someone might look at this?

[2015-08-12 16:36] bricelam commented on #106
I'll use my internal email powers to ping a few folks...

[2015-08-12 17:15] divega commented on #106
Like @PradeepKadubandi? :smile:

[2015-08-17 23:38] NicoJuicy opened #107 "Scaffolding using beta6"
dnx . gen controller --controllerName CityController --model City --dataContext databaseContext

Contents of databaseContext:

    public class databaseContext : IdentityDbContext<ApplicationUser>
    {
        private  string _connectionString;

        //public DbSet<City> Cities { get; set; }
        //public DbSet<Event> Events { get; set; }
        //public DbSet<Tag> Tags { get; set; }

[2015-08-23 05:51] ddddddddeee22211 opened #108 "Multiple templates per projects"
Hi
the current scaffolding implementation restrict scaffolding to generators implementing ICodeGenerator
which are controller and view

paths and folders are strongly typed in Microsoft.Framework.CodeGenerators.Mvc\Constants.cs

this implementation is sufficient when I only need a single template for controller and view
however if i need multiple templates per project I will have to create a separ

[2015-08-26 03:09] PradeepKadubandi commented on #106
I have seen this issue today and I already know the fix for the null reference ...

[2015-08-30 22:50] NoralK commented on #106
@PradeepKadubandi - As of beta7-15533 this is still a problem.
[code]

[2015-09-14 19:10] Codenator81 commented on #106
Still the same error on  1.0.0-beta8-15613
[code]

[2015-09-30 06:18] Eilon opened #112 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-10-04 14:25] pranavkm commented on #112
e9db56e8bfc73655c44d5d09f2ec765e75883bbb

[2015-10-04 14:25] #112 closed

[2015-10-07 20:41] #12 closed

[2015-10-15 19:56] giggio opened #122 "Beta8 tag and release?"
Please tag and release beta8 of this scaffolding project to myget as you have been doing.

[2015-10-16 00:39] robbert229 opened #124 "How can I help?"
Hello, my name is John. I want to contribute to scaffolding, but I want to know where help is needed. Any direction you guys want to push me?

[2015-10-16 19:14] giggio commented on #122
It is now tagged and published. Tks!
https://www.myget.org/gallery/aspnetmaster

[2015-10-16 19:14] #122 closed

[2015-10-21 13:59] abpiskunov opened #127 "Localize console output and help message"
Help message now comes form attributes which have hardcoded text for descriptions, we need to think how to localize it.

[2015-10-21 20:00] robbert229 commented on #86
This issue is from a while ago, so the problem probably doesn't exist anymore for OSX. On Linux it builds fine as of the latest build. Does the issue still exist for you?

[2015-10-21 20:06] TheDarkTrumpet commented on #86
Hi Robert,

I haven't tested this lately, but I'll try and test it either today or tomorrow and will respond here as soon as I do.

[2015-10-21 20:07] robbert229 commented on #86
Thanks

[2015-10-21 21:08] robbert229 commented on #71
I assume that this got fixed. Can you still not build?

[2015-10-21 21:31] robbert229 commented on #86
Also, what version of OSX where you using then, and which when are you using now?

[2015-10-21 23:15] robbert229 commented on #127
Is using the aspnet localization project a good idea?

[2015-10-22 02:03] robbert229 commented on #104
Is this still open?

[2015-10-22 17:29] abpiskunov commented on #127
Yes, looks like we need to use it.

[2015-10-22 19:25] robbert229 commented on #127
After looking at it it appears to be specifically for the web, am I wrong?

[2015-10-23 02:09] #124 closed

[2015-10-30 00:19] robbert229 commented on #86
Any update?

[2015-11-04 00:42] sayedihashimi opened #135 "Update on scaffolding"
For scaffolding there are two high level scenarios.

 - Scaffolding from the command line
 - Scaffolding in Visual Studio

When we started scaffolding our goal was to create a command line scaffolding experience and then build the VS experience on top of that.

After working on the command line scaffolding experience, we realized that we need to take a step back to ensure that we have the right se

[2015-11-04 00:45] erichexter commented on #135
This is extremely disappointing .

[2015-11-04 01:06] dmccaffery commented on #135
While I understand the thought process, I do believe it is the wrong approach. In all likeliness, most hard and fast .NET developers that have been using Visual Studio for years aren't going to move to DNX anytime soon. The vast majority of your early adopters are going to be web developers coming from other platforms, or the more versatile .NET developers who will have no problem dropping to the

[2015-11-04 01:12] itomek commented on #135
I second the disappointment and good point @dmccaffery

[2015-11-04 01:13] rbarbe commented on #135
@dmccaffery +1

[2015-11-04 01:25] sayedihashimi commented on #135
Thanks for the feedback. I too am disappointed. We thought that we would have the time to have a great command line story and a great Visual Studio experience. Unfortunately we didn't have the resources to pull it off. I understand your feedback on the importance of command line utilities and we are not forgetting that scenario. Just prioritizing the Visual Studio feature since we've heard specifi

[2015-11-04 01:28] dmccaffery commented on #135
@sayedihashimi While my time is limited, I would love to get involved in a community effort to help evolve the command line functionality. I would want it to maintain feature parity with what you have planned for Visual Studio so it has at least some chance of remaining relevant in the future.

[2015-11-04 02:20] sayedihashimi commented on #135
For everyone who is interested in a community project around an xplat command line scaffolding for ASP.NET 5 either list your email below or email me at sayedha@microsoft.com. If there is enough interest I'll put something together.

@dmccaffery

I mentioned it above but wasn't very clear. The VS scaffolding feature will still use the Scaffolding NuGet packages from this repository. So it would ce

[2015-11-04 02:32] dmccaffery commented on #135
@sayedihashimi I just emailed you, but here it is for reference: dmccaffery@pulsebridge.com

You won't find any arguments from me with regard to testing and automation. I am the principle developer  on condo, which is a build/test automation stack for DNX-based projects: https://github.com/pulsebridge/condo if that is any indication of my sincerity. :rocket:

DMM

[2015-11-04 02:52] Daniel15 commented on #135
What about Yeoman? I know there's at least some basic support for ASP.NET 5 scaffolding via Yeoman, maybe some more templates could be added.

[2015-11-04 02:58] erichexter commented on #135
Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

On Tue, Nov 3, 2015 at 8:52 PM, Daniel Lo Nigro <notifications@github.com>
wrote:

[2015-11-04 03:04] erichexter commented on #135
I am always willing to help out. @sayedihashimi
<https://github.com/sayedihashimi> , One of the features that the team came
close to implementing two or three years ago was the multi
file generation from a  model.  I have spike that I updated from a vs 2008
scaffolding project.
https://github.com/erichexter/scaffold/blob/master/README.md  Its just
another use case to consider. This has a commandli

[2015-11-04 03:04] dmccaffery commented on #135
@Daniel15 Yeoman is a little bit different. I use it constantly, but this level of scaffolding can do things such as automatically generate add, edit, delete functionality for a specific entity type that is part of an EF data model, etc. Yeoman wouldn't be able to reflect a model type for this level of code generation.

[2015-11-04 03:13] sayedihashimi commented on #135
@erichexter thanks, got it. I should reply by the end of next week.

Yes I completely agree, thanks for saying that I felt like I was the only one. I have expanded on the difference between yeoman and the kind of scaffolding that we are discussing at https://github.com/aspnet/Scaffolding/issues/105#issuecomment-127765528.

@Daniel15 if you are interested in creating more templates (generators and

[2015-11-04 03:41] tparnell8 commented on #135
This makes me a little sad only because I think .NET is arriving to a Write-Windows Run everywhere scenario (that being said its still better than the Write-Windows, Run-Windows of the past).

One of my huge gripes with NodeJS is when I make express apps on windows I constantly run into the max filepath problem, thus I have to make sure I have a unix machine to write my node apps on (making node a

[2015-11-04 18:57] sayedihashimi commented on #135
Yes, but I'm hoping that we (the community) can come up with something before that.

[2015-11-04 19:23] tparnell8 commented on #135
:+1

[2015-11-04 19:23] tparnell8 commented on #135
Emoji fail

[2015-11-04 21:48] dmccaffery commented on #135
way to go @tparnell8 :+1:

[2015-11-05 03:33] TheDarkTrumpet commented on #86
Hi John,

Sorry about not getting back sooner, work has almost literally buried me lately.  Tomorrow night, I’ll send a few hours reworking this and will provide an update then.  Sorry about the wait on this.

To answer your previous question, I’m now on 10.11.1, which I’ve bene on 10.11 since it came out.

-David

[2015-11-06 05:25] mykebates commented on #135
@dmccaffery and @tparnell8 have summed things up very well, IMO, so I'll refrain from saying much more other than that I agree with their sentiments.  I would very much hate to see forward momentum slow down for tools like this that are incredibly important to the success of the cross-platform aspect of ASP.NET 5

[2015-11-06 11:25] functionalfunctions commented on #135
So is the scaffolding not yet included in VS2015? Is there a way to get it?

[2015-11-06 11:53] tparnell8 commented on #135
@mykebates agreed although I do like the sentiment that @sayedihashimi put forward which is that we could always create our own scaffolding tools....

[2015-11-18 17:39] Muchiachio commented on #135
I'm an old `T4Scaffolding` user, and after I found out that scaffolding repository is stalled, I started creating my own scaffolding engine. Now it only works from command line and is similar to `T4Scaffolding` only with `Razor`.

I will continue to work on this unless there is a better alternative made already.
I will update it to RC1 and publish it to nuget in upcoming days.
For those interested

[2015-11-18 20:37] dmccaffery commented on #135
@Muchiachio Very interesting stuff; I'll look through it later today. @sayedihashimi Any update on spinning up an "official" community project?

[2015-11-19 01:07] sayedihashimi commented on #135
Sorry I'm a bit behind, I'm actually travelling.

@Muchiachio I'm trying to organize a community effort around command line scaffolding. Maybe we can join forces? Could you email me at sayedha@microsoft.com?

I'll send out a mail to everyone tomorrow.

[2015-11-19 01:28] dmccaffery commented on #135
No worries. I was just curious. Safe travels!

[2015-11-20 05:48] sayedihashimi opened #139 "Community idea: command line scaffolding"
A few weeks ago I posted a [an issue](https://github.com/aspnet/Scaffolding/issues/135) which stated that the ASP.NET team is going to focus on scaffolding in Visual Studio for the short term, and then at a later time we would circle back to the command line case. This was not because we don't feel that command line scaffolding is not important, but instead just a prioritization decision. We want

[2015-11-20 05:49] sayedihashimi commented on #135
For those interested in working on a command line story please see my new issue at https://github.com/aspnet/Scaffolding/issues/139

[2015-11-20 06:27] Muchiachio commented on #139
Hi, thanks for update @sayedihashimi,

At first I actually wanted to contribute to scaffolding repo and continue working on that, but it felt like it has a lot of unnecessary code for scaffolding default templates (maybe it's just me :sob:). What I would like to see is something similar and easy to extend as [this](http://blog.stevensanderson.com/2011/04/07/mvcscaffolding-creating-custom-scaffolde

[2015-11-20 14:36] erichexter commented on #139
@sayedihashimi <https://github.com/sayedihashimi> totally excited to help
here..

As for next steps, I am assuming we should flesh out the scenarios covered
in bullet number 1, and probably define the command line parameters from a
design perspective. keeping in mind we want to support numbers 2 & 3.

Eric Hexter

blog | http://Hex.LosTechies.com
info | http://www.linkedin.com/in/erichexter

On Fr

[2015-11-20 14:48] gokalpi opened #140 "Error occurs using classes from another class project while scaffolding with rc1-final"
When I try to add a new scaffolded item from context menu inside Visual Studio Community Edition, I get an error saying "There was an error running the selected code generator: 'Value cannot be null. Parameter name: oldTree'".

I am trying to get model and context information from another class project inside the same solution.
![addcontroller](https://cloud.githubusercontent.com/assets/7867997/11

[2015-11-20 17:06] sayedihashimi commented on #139
That's one reason why I wasn't sure about the existing code. I think it would be better to have something that is more easily understood and extended.

Sounds good.

So where do we want to collaborate on this? I see the following options.

 - Use https://github.com/Muchiachio/DNX.Genny
 - Create new repo in the [OmniSharp org](https://github.com/OmniSharp)
 - Create a new org and repo

Thoughts?

[2015-11-20 17:10] MaximRouiller commented on #139
I do not see it as part of Omnisharp.

DNX.Genny has history (commit-wise). Would we start from this project? If no, it's not the good place to start.

Either we create a new repo under your Github/NonFactors or another org (not really important).

[2015-11-20 17:17] sayedihashimi commented on #139
Why not? `generator-aspnet` is already there and the Atom extension invokes `generator-aspnet` as well.

I am fine staring in `DNX.Genny` as well, but I think it would be better to put this in some org where we can manage permissions better and what not.

[2015-11-20 17:28] Muchiachio commented on #139
I see two options here:
- Create/move to a community org/repo, by using existing [DNX.Genny](https://github.com/Muchiachio/DNX.Genny) or a fresh repo (can rename repo, and/or move to [NonFactors](https://github.com/NonFactors) or other org, but not the OmniSharp one, somehow it doesn't fit there)
- Create/move to a MS based org/repo ([aspnet](https://github.com/aspnet)/MS~ one, if MS team wants to

[2015-11-20 17:32] sayedihashimi commented on #139
Yes the first option is better MSFT will be a member of the community in much the same was as OmniSharp but wont have "control"

[2015-11-20 17:39] erichexter commented on #139
I am not sure I understand the push against the  omnisharp org.

[2015-11-20 17:45] MaximRouiller commented on #139
Didn't see the `generator-aspnet` and `generator-csharp` there.

Whatever happens, this need to be under an org ;-) It's purely based on preferences at that point.

I'll let @sayedihashimi pick one. NonFactors or Omnisharp could both fit the bill.

[2015-11-20 17:45] Muchiachio commented on #139
I don't know myself, OmniSharp just feels to be something with cross plat C# editors~~
Either way, it's not like we won't be able to merge/change orgs if we need to :ok_hand:

[2015-11-20 18:44] shanselman commented on #139
Given that OmniSharp is about: "OmniSharp is a family of Open Source projects, each with one goal: To enable a great .NET experience in YOUR editor of choice" (I know because I wrote the website) then one needs to make a new project in order to use their editor, right? I think the OmniSharp *organization* is a decent place for a scaffolder/generator as it enables the next step, a good experience i

[2015-11-20 18:47] MaximRouiller commented on #139
Sold for me :+1:

[2015-11-20 18:53] Muchiachio commented on #139
:+1:

[2015-11-20 19:58] sayedihashimi commented on #139
Ok so I can create the repo and grant access. Do we want to start with DNX.Genny sources?

[2015-11-20 20:54] dmccaffery commented on #139
I'm fine starting from DNX.Genny. The only thing I'd want is to ensure the following:

1) We keep in line with Microsofts goals for scaffolding and enable all the scenarios that VS will enable at launch (even if we lag behind)

2) We enable some form of extensibility so folks can easily create their own scaffolding "templates" based on the engine

[2015-11-20 20:55] dmccaffery commented on #139
Oh, and 3) @shanselman does a dramatic zoom out in our honor when we release 1.0. :)

[2015-11-20 21:30] dmccaffery commented on #139
Actually; the more I am looking at it, the more I think we should fork [Scaffolding](https://github.com/OmniSharp/generator-aspnet/) instead of starting from DNX.Genny. Only because of the stated goal of relying on the scaffolding APIs that VS itself will be using. DNX.Genny goes down a different route of relying on a custom razor view engine host to enable scaffolding.

I like the idea of enablin

[2015-11-20 21:34] dmccaffery commented on #139
I vote for OmniSharp as the org, by the way -- makes sense to one day extend the cmd-line into tooling hooks for editors, which is exactly what OmniSharp is all about.

[2015-11-20 21:43] dmccaffery commented on #139
... and I've changed my mind again. Sorry. @Muchiachio has something real, here, with DNX.Genny ... if we light up the same scenarios with a simplified approach, this has a much better chance of getting off the ground in a community project.

[2015-11-20 22:26] itomek commented on #139
I'd like to help (time permitting)!

[2015-11-20 23:03] henriksen commented on #139
I'd like to contribute as well. +1 for OmniSharp, seems like the best place. Also, I like the thought of being able to piggy back on the efforts of the VS team. Will that be possible if we start with DNX.Genny (haven't studied the code yet, still on a phone today)?

[2015-11-21 00:52] sayedihashimi commented on #139
I haven't looked at the code either, I was hoping it just replaced the cli and calls into the existing NuGet pkgs.

[2015-11-21 03:14] dmccaffery commented on #139
It doesn't. It replaces the RazorViewHost with its own implementation from stem to stern. Forking the existing repo created by MS is probably the best solution. I know I keep going back and forth in this, but I studied both repositories at this point and we'd definitely need most of what is in the existing Infrastructure anyway.

The other alternative is to just start with a fresh repo and pull in

[2015-11-21 05:43] sayedihashimi commented on #139
Ok I see. Scaffolding gets hairy really quick when EF models are involved. I don't think we want to take that on, especially since my team is already working on it. Instead the idea is to just create a new UX (cli). We can also see if we can add unique value where it makes sense.

[2015-11-21 06:28] dmccaffery commented on #139
Agreed. +1: So, next step is to get OmniSharp org folks on board, right? Have we decided on that, at least? :)

[2015-11-21 06:29] dmccaffery commented on #139
emote fail. :+1:

[2015-11-21 06:34] sayedihashimi commented on #139
I can make the repo in OmniSharp as I'm an owner. What name? I think we can start with a clone of scaffolding but I think we just need CodeGeneration project and then use NuGet pkg references for other projects.

[2015-11-21 06:42] Muchiachio commented on #139
I'm fine either way :smiley:

[2015-11-21 06:48] dmccaffery commented on #139
Well, aren't you special, Mr. Owner; lol.

Names not important to me; whatever OmniSharp conventions are:

omnisharp-scaffolding?

[2015-11-21 06:50] dmccaffery commented on #139
Also, agreed on the dependencies; use NuGet for whatever is possible. Since the main Scaffolding project is OSS, we can always submit pull requests to it if there is a bug or missing feature we would somehow find or need; which is better than duplicating effort.

[2015-11-21 06:59] sayedihashimi commented on #139
@dmccaffery @Muchiachio ok great, I have created https://github.com/OmniSharp/omnisharp-scaffolding and invited you both to be admins. Welcome to OmniSharp :)

Yes and if we need to debug sources we can add a source path to `global.json` that can be used to load the latest sources.

[2015-11-21 07:07] sayedihashimi commented on #139
Also see https://github.com/OmniSharp/omnisharp-scaffolding/issues/1

[2015-11-22 02:24] mrcha0s opened #141 "Default character encoding utf8"
Is it possible to make default character encoding utf8 when file creating ?

Thanks

[2015-11-24 12:30] antonioapostoliu opened #143 "I need one more configuration?"
After two dnx commands the system returns same error:

dnx gen controller -m Person -dc ApplicationDbContext
'Microsoft.Extensions.CodeGenerators.Mvc' does not contain a static 'Main' method suitable for an entry point

dnx gen controller --help
'Microsoft.Extensions.CodeGenerators.Mvc' does not contain a static 'Main' method suitable for an entry point

I need one more configuration?

this is my

[2015-11-24 15:23] BFISoft opened #144 "Encoding in scaffolded Items"
When creating a scaffolded item in MVC6 project there seems to be an inconsistency with file encodings.

Normal files (without scaffolding) are created as UTF-8
Scaffolded controllers and views are created as ANSI

Which means that text containing äüöü in _Layout is displayed correctly but in the scaffolded view the same text shows some weird symbols.

Microsoft Visual Studio Community 2015
Versio

[2015-11-25 08:11] antonioapostoliu commented on #143
wrong is the line in project.json:
"gen": "Microsoft.Extensions.CodeGenerators.Mvc"
following line resolve the issue
"gen": "Microsoft.Extensions.CodeGeneration",

[2015-11-25 08:11] #143 closed

[2015-11-25 18:43] mattfraley1 opened #145 "Status?"
I see there are lots of changes happening right now, a change of direction and a separate project spinning off. However the recent update seems to indicate this should still work. Maybe we just need updated instructions?

I am using the following dependency from myget.
"Microsoft.Framework.CodeGenerators.Mvc": "1.0.0-rc1-15776"

Then added the command
"gen": "Microsoft.Framework.CodeGeneration"

W

[2015-11-26 10:49] antonioapostoliu opened #146 "DropDownListFor problem"
I start one new project with Visual Studio 2015 with Update 1 RC and ASPNET 5 RC1 and add models from page
http://ef.readthedocs.org/en/latest/modeling/relational/fk-constraints.html
I saved and build .(without errors)
Also I run from command line:

dnvm use 1.0.0-rc1-final
dnx ef migrations add First
dnx ef database update

After scaffold operations, blogs pages works. I create 2 blogs entries.
A

[2015-11-26 20:45] dougbu commented on #146
Since you've changed the scaffolded code, this issue does not belong here. Either way, the `Exception` informs you of the problem: Need to cast `ViewData["BlogId"]` to `IEnumerable<SelectListItem>` or `SelectList`. That will match the `Html.DropDownListFor()` parameter type.

Probably easier to pass `null` and let the HTML helper look up the select list in `ViewData`:
[code]

[2015-11-28 01:51] blanceok commented on #144
I've found the cause, and the solution.
Now I have attached the documents I have changed.
Path: C:\Users\"UserName"\.dnx\packages\Microsoft.Extensions.CodeGenerators.Mvc\1.0.0-rc1-final\Templates

Unable to upload the.Zip file, the file can not be changed.

Change method:
Microsoft.Framework.CodeGenerators.Mvc templates have problems:
1、*.cshtml's archive encoding is not UTF8,Cause some language c

[2015-11-28 02:09] blanceok commented on #141
https://github.com/aspnet/Mvc/issues/3640#issuecomment-159647754

[2015-11-28 02:31] madmunsterdaddy opened #147 "DataType.MultilineText does not generate textarea"
Cross post from https://github.com/aspnet/Mvc/issues/3651

In MVC5 you could do this:

public class ApplicationUser : IdentityUser
{
    [DataType(DataType.MultilineText)]
    public string Bio { get; set; }
}

That would generate a textarea tag to make it multi-line. Not working in MVC6 (rc1). The generated input control is not multi line.

[2015-11-28 06:18] dougbu commented on #147
As [mentioned](https://github.com/aspnet/Mvc/issues/3651#issuecomment-160050906) in the original MVC issue: The generated view uses `<input asp-for="Bio" class="form-control" />`. Scaffolding should instead generate a `<textarea/>` element or use the more-general `@Html.EditorFor()` HTML helper.

The workaround is to use
[code]
or
[code]

[2015-12-02 19:02] sayedihashimi commented on #84
Hi @erichexter sorry for the delay here. For future reference please use the [tooling repo](https://github.com/aspnet/Tooling) for issues as it's monitored more than this repo is.

To answer your question, it's designed to enable the same scenarios as ASP.NET 4 scaffolding. You can find a walk through at https://github.com/aspnet/Tooling/blob/master/specs/vs-scaffolding.pptx.

If you have any more

[2015-12-02 19:02] #84 closed

[2015-12-02 19:03] sayedihashimi commented on #86
I think the solution should build on mac/linux now so I'll close this.

If you are still having issues please open an issue in the https://github.com/aspnet/Tooling repo. It's monitored more often than this repo.

[2015-12-02 19:03] #86 closed

[2015-12-02 19:06] sayedihashimi commented on #145
Hi @mattfraley1 see my comments at https://github.com/aspnet/Scaffolding/issues/135.

I'm not sure if the command line `gen` command will work or not. We are removing the command line scaffolding support but we will circle back to it later.

For future reference it's better to open issues relating to VS tooling for ASP.NET 5 in the https://github.com/aspnet/Tooling repo. I'll close this issue now,

[2015-12-02 19:06] #145 closed

[2015-12-02 19:07] sayedihashimi commented on #147
Moved it to https://github.com/aspnet/Tooling/issues/319 closing this

[2015-12-02 19:07] #147 closed

[2015-12-05 16:41] #141 closed

[2015-12-13 13:09] bartekkois opened #149 "MVC Scaffolding SelectList (RC1)"
After running scaffolding in RC1 on simple classes like below I got the follwing code in Book controller and Book View:

        // GET: Books/Create
        public IActionResult Create()
        {
            ViewData["Authors"] = new SelectList(_context.Authors, "AuthorID", "Author");
            return View();
        }

        <div class="form-group">
            <label asp-for="Genre" class=

[2015-12-13 21:36] dougbu commented on #149
@bartekkois you're correct that the generated code is incorrect. The `<select>` tag helper does not use a "magic" `ViewData` entry to find an `IEnumerable<SelectListItem>`. Best approach is to create an `AuthorViewModel` class containing an `IEnumerable<SelectListItem> Authors` property and then add `asp-items="Model.Authors"`. With the `ViewData` approach, you need
[code]

Separately the `<label>

[2015-12-14 21:26] bartekkois commented on #149
I've tried ViewData approach from your comment however I still got an Exception while opening /Book/Create. While debugging authors is filled with data about Authors.

System.NullReferenceException: Object reference not set to an instance of an object
   w Microsoft.AspNet.Mvc.Rendering.MultiSelectList.Eval(Object container, String expression)
   w Microsoft.AspNet.Mvc.Rendering.MultiSelectList.<>

[2015-12-14 22:22] dougbu commented on #149
The stack trace above points to code inside the `MultiSelectList` you've passed to the `<select>` tag helper. How are you creating that instance?

[2015-12-15 00:39] rustd opened #151 "Losing special characters and accents"
Porting from Templates https://github.com/aspnet/Templates/issues/335

Here are the repro steps.
I've installed the latest version of VS2015 and ASP.NET WEB tools
I created a ASPNET5 Default Template Project.

I just follow this tutorial https://docs.asp.net/en/latest/tutorials/your-first-aspnet-application.html

When i add a new "Add Scaffold " controller in option "MVC 6 Controller with views, u

[2015-12-15 15:08] bartekkois commented on #149
Controller:

        // GET: Books/Create
        public IActionResult Create()
        {
            ViewData["AuthorID"] = new SelectList(_context.Authors, "AuthorID", "Author");
            return View();
        }

View:

@{
    var authors = (IEnumerable<SelectListItem>)ViewData["AuthorID"];
    ViewData["Title"] = "Create";
}

        <div class="form-group">
            <label asp-for="Genr

[2015-12-15 16:57] dougbu commented on #149
@bartekkois the problem happens when `MultiSelectList` tries to evaluate the "Author" or "AuthorId" property of a `_context.Authors` entry. Does `_context.Authors` contain one or more `null` entries?

[2015-12-15 17:13] bartekkois commented on #149
In my database I've got two records (AuthorID=1, FirstMidName="aa", LastName="bb") (AuthorID=2, FirstMidName="cc", LastName="dd").
Below you can see how it looks like in view while I'am debugging.
![pic](https://cloud.githubusercontent.com/assets/16276688/11817892/5a1aa7b6-a357-11e5-8ebf-5e73405794a1.png)

[2015-12-15 17:24] dougbu commented on #149
Ah but neither element has an `Author` property. `new SelectList(_context.Authors, "AuthorID", "Author")` means "`_context.Authors` is a collection of objects with "AuthorID" and "Author" properties, get the item's value from the first property and the text to display from the second.

Suggest `new SelectList(_context.Authors, "AuthorID", "LastName")`.

[2015-12-15 17:40] bartekkois commented on #149
My bad. Now it works perfectly.

[2015-12-21 23:35] esargent opened #155 "MVC6 Controllers have wrong namespace"
When you generate an MVC6 controller it uses the project name as the root namespace rather than the project's default namespace specified in the project file.

I see there is a review comment in the code already to this issue about the difference between behavior in Visual Studio vs. command line, but I'm not sure that matters to those of us using Visual Studio who have gone to the trouble of defi

[2015-12-24 13:59] daviatorstorm commented on #140
Have the same problem.

[2015-12-24 14:10] gokalpi commented on #140
I found a work around for this, but it's not a good one. You create a copy of your DbContext class inside the web application project and select data context class as this one. No error occurs and controller and related views are created. Then in controller class code change DbContext namespace to entities class namespace.

[2015-12-24 20:37] esargent opened #156 "views in wrong place when using areas"
I have areas setup for my site. I add the folder /Areas/Admin/Views/Locations, right-click "add scaffolding" on that folder and run the "MVC6 Controller with views, using Entity Framework" scaffolding.

Result: While the LocationsController.cs is created in that folder as expected, the views show up in the root /Views/ in a new Locations folder rather than under my /Areas with the controller.

Exp

[2015-12-27 21:06] daviatorstorm commented on #140
I just created a controller just with my hands. But its not curring the problem. The main question is, why vs 2015 cannot create a controller through ui?

[2016-01-08 03:18] gkochanowsky opened #159 "More customization..."
I've been playing with the current implementation of CodeGeneration and so far so good, however I am a long time user of Steve Sanderson's MvcScaffolding project [ http://blog.stevensanderson.com/2011/01/13/scaffold-your-aspnet-mvc-3-project-with-the-mvcscaffolding-package/ ] and was hoping that this new incarnation of scaffolding was fully customizable. What I mean by that is the ability to add a

[2016-01-08 12:00] adgerrits commented on #149
Thanks Dougbu.Was facing the same problem and searching for an answer your hints were the most usefull ;)

[2016-01-08 18:56] gkochanowsky commented on #135
If it's not too late I would like to contribute as well. I have some very specific ideas on what I'd like to be able to do. So I'm sure further discussion is called for.

[2016-01-09 22:16] sayedihashimi commented on #135
@gkochanowsky the best thing to do is to interact with us at https://github.com/OmniSharp/omnisharp-scaffolding. Also we have an OmniSharp meeting coming up next week https://github.com/OmniSharp/OmniSharp/issues/7 if  you can attend we can discuss there as well.

FYI we had some discussions at https://github.com/aspnet/Scaffolding/issues/139 as well.

[2016-01-10 02:14] dmccaffery commented on #135
@gkochanowsky It is definitely not too late. I've been absolutely crushed this past month between work, traveling, and the holidays, and have made virtually no progress, so we're still at a very early stage in the game. I do plan to focus on this "hardcore" in the coming weeks, and am very interested in what ideas you have for the project.

Those of us who are working on it are looking forward to

[2016-01-10 03:58] gkochanowsky commented on #135
Great! I look forward to a fruitful collaboration. However I am pretty new to open source and particularly this project. Is there some basic background material on running and debugging in this environment. Anything to help me get started would be greatly appreciated.

[2016-01-14 18:28] victorhurdugaci opened #161 "Change to build to use dotnet"
We're migrating all the repos using dnx to dotnet. This repo is part of that migration.

At a minimum, you have to upgrade a few scripts and project.json files just like here: aspnet/Configuration@9cfd22f

The big umbrella bug tracking the migration is here: https://github.com/aspnet/Universe/issues/324

[2016-01-14 18:30] victorhurdugaci commented on #161
Assigning this to you @prafullbhosale because I believe you're the owner of this repo. If not, please assign to the appropriate owner.

[2016-01-14 22:15] esargent commented on #156
The other thing I noticed is that the controller could be decorated with the proper "area" attribute to make things really smooth. I think all the information needed is in the folder structure - as long as people are using the standard conventions

[2016-01-14 22:31] esargent opened #162 "bug: rc2 ValidationSummary"
RC2 changed the syntax for ValidationSummary

        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

to

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

.

[2016-01-19 21:00] prafullbhosale commented on #161
@victorhurdugaci  Is there any recent change to this build process?
I was able to build till today morning, but the build is failing to restore packages now.

[2016-01-19 21:31] victorhurdugaci commented on #161
We just updated dotnet restore to use the new nuget code and everything is failing. @anurse is looking into this

[2016-01-20 00:52] prafullbhosale commented on #161
Any updates on this?

[2016-01-20 01:29] victorhurdugaci commented on #161
The world is still broken...

On Tue, Jan 19, 2016 at 4:52 PM -0800, "prafullbhosale" <notifications@github.com<mailto:notifications@github.com>> wrote:

Any updates on this?

-
Reply to this email directly or view it on GitHub<https://github.com/aspnet/Scaffolding/issues/161#issuecomment-173037497>.

[2016-01-20 22:59] prafullbhosale commented on #161
Am able to build now. Thanks!

[2016-01-24 18:19] madmunsterdaddy opened #165 "Unhandled exception in async controller actions."
I generated a controller for a model with async actions. It generates an Edit action like the one below.
The issue is, if you pass in an id that does not exist SingleAsync will throw rather than return null and eventually reach the HttpNotFound result. So that code will never execute.

Should these generate with SingleOrDefaultAsync?

        public async Task<IActionResult> Edit(int? id)

[2016-01-26 20:23] simasch opened #166 "Checkbox not correct in generated view"
When I add a MVC6 controller with views the Checkboxes are wrong:

[code]

Should be

[code]

[2016-01-26 21:51] dougbu commented on #166
@simasch why would it be an improvement to place a `<label>` within a `<label>`?

[2016-01-27 07:09] simasch commented on #166
sorry for my short bug report.

Bootstrap requires that the label tag surrounds the input tag:

 <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>

And the only solution I found was to duplicate the label tag.

[2016-01-27 07:53] dougbu commented on #166
I've seen that in examples but not described as a requirement. What text did I miss?

If a `<label>` is not allowed within another `<label>`, may need to use something like `@Html.DisplayNameFor()` instead of the inner `<label>`. Better actually since you don't need the `for` attribute generated for the inner `<label>`.

Note MVC Core 1 does not yet support generating labels around `<input>` eleme

[2016-01-27 11:41] simasch commented on #166
The problem with bootstrap is that the label has a padding-left: 20px and the checkbox a margin-left:-20px;

If there is no surrounding label then the checkbox is -20 px on the left wrong aligned.

So i will have to adjust all my checkboxes after scaffolding. Hope this will be fixed in either way in the future.

[2016-01-27 17:14] simasch commented on #166
I changed my code to this:

[code]
That's was scaffold should generate in my opinion

[2016-01-28 04:37] victorhurdugaci commented on #161
How's this going? Are you blocked on anything?

[2016-01-28 17:12] prafullbhosale commented on #161
I have got the build working with the exception that it doesn't run the tests.
I have made the changes in [this](https://github.com/aspnet/Scaffolding/commits/pb/363-2) branch.
There are still a few more tests that need fixing as there's been quite a few changes.

[2016-02-09 18:46] victorhurdugaci commented on #161
Is this ready? Can it be merged?

[2016-02-09 18:50] prafullbhosale commented on #161
All the changes are in (#167) , just waiting on aspnet/Universe#362, as I still cannot build if I remove the CLI, xunit and nugetbuild feeds from the nuget.config

[2016-02-09 18:52] victorhurdugaci commented on #161
That's done actually

[2016-02-09 18:52] prafullbhosale commented on #161
Just saw it, will check now and merge if it builds without additional feeds.

[2016-02-09 19:24] prafullbhosale commented on #161
Local build looks good. I have merged the changes to dev.
Closing this issue as done.

[2016-02-09 19:24] #161 closed

[2016-02-14 15:02] herruzojm commented on #140
I had the same problem; solved after adding a DbSet in my DbContext.

[2016-02-15 22:50] madmunsterdaddy commented on #165
this is an issue with RC1 by the way... sorry I left that out.

[2016-02-16 16:50] prafullbhosale commented on #165
@madmunsterdaddy you are correct.
This is addressed in https://github.com/aspnet/Scaffolding/pull/157

[2016-02-18 01:24] reezonew opened #170 "Can not debug"
Hi all
I got this exception when debugging, which stopped at line 66 by calling the method "OnProjectAdded(projectInfo);", in the ProjectJsonWorkspace class, under the Utils project.

Excetpion:
The type initializer for 'Microsoft.CodeAnalysis.CSharp.CSharpCompilationFactoryService' threw an exception.

Inner exception:
Method not found: 'Void Microsoft.CodeAnalysis.CSharp.CSharpCompilationOptions

[2016-02-18 11:42] Cnordbo opened #171 "Controller w/ Actions using EF - Scaffolder not working"
I created a detailed post about it here:

http://stackoverflow.com/questions/35187813/azure-web-api-scaffolding-generator-not-found

Error:
There was an error running the selected code generator:
There was an error getting the type "failtest.Models.TestModelClass".
Try rebuilding the project.

Expected:
New controller with actions, new DbContext, Updated Web.config

[2016-02-20 00:21] olliholliday commented on #140
Thanks @herruzojm

The scaffolder needs a public DbSet<T> {get;set;} on the context for the type you're scaffolding

[2016-02-23 17:52] prafullbhosale opened #172 "Fix templates to address MVC's action result naming changes"
Need to update the templates used in scaffolding to address the below:
aspnet/Announcements#153

[2016-02-24 18:13] #172 closed

[2016-02-24 18:16] prafullbhosale commented on #171
@Cnordbo Based on your post, it looks like the issue was specific to your machine setup.
Closing this issue.
Feel free to re-open this if that is not the case.

[2016-02-24 18:16] #171 closed

[2016-02-24 19:20] prafullbhosale opened #174 "Remove ProjectModel.Workspace related code from Utils project"
Currently this code is duplicated from dotnet/cli repo because of a bug that caused restore to failed if both ProjectModel and ProjectModel.Workspaces were added as dependencies.

[2016-02-25 01:09] JunTaoLuo opened #175 "Test failure under Release configuration"
The issue here is that the library exporter is hard coded to use the `Debug` configuration https://github.com/aspnet/Scaffolding/blob/27f910e111e3c176acdf904079053d2b9264cbf3/src/Microsoft.Extensions.CodeGeneration.Utils/DotNet/LibraryExporter.cs#L29.

On our CI, we test using the `Release` configuration which will cause failures when the test try to look for libraries built with `Debug` e.g. " Co

[2016-02-25 03:13] dougbu commented on #175
Sorry I don't have context to answer "right fix" questions here. I suggest involving someone more familiar with the `LibraryExporter`s and this repo.

[2016-02-25 04:39] JunTaoLuo commented on #175
Thanks @dougbu, I wanted to keep the build buddies updated. cc @PradeepKadubandi @prafullbhosale   can you guys take a look at this issue?

[2016-02-25 06:43] prafullbhosale commented on #175
I will look into this.

[2016-02-25 19:27] prafullbhosale commented on #175
Most of the times for scaffolding the configuration would need to be "Debug".
But the right way to handle it would be to let the invoker (VS) decide the configuration and assume a reasonable default if unspecified.

[2016-02-26 21:56] #175 closed

[2016-02-26 22:06] prafullbhosale opened #177 "If the user project is not built yet, trying to scaffold throws an Exception that the project's dll was not found"
This is happening due to the use of project's exports for razor template compilation.
The intent is to get the Microsoft.Extensions.Codegeneration exports (or any custom scaffolder's exports) for the compilation. So we do not really need the types in the project itself.

[2016-03-02 13:38] bdelaney commented on #149
Trying to work with this for a partial view and not able to populate my viewmodel with the selectlistitems, thus getting null reference in asp-items. Should I pass in the viewmodel with Html.Partial? And if so, how to populate the selectlistitem within that viewmodel. Since I'm not using a controller, unclear about how to code an instance of the viewmodel to get SelectList populated. Should I do t

[2016-03-02 17:31] dougbu commented on #149
@bdelaney please clarify your scenario. How are you creating the `SelectListItem`s? Are you using RC1 bits? How are you invoking the view if you're not using a controller? What exactly are your view model and the relevant parts of the partial view?

[2016-03-02 23:51] bdelaney commented on #149
Using RC1, basic MVC app. I am calling a partial from within a view, using Html.Partial. The partial view has a model based on a viewmodel for a many:many entity. In the viewmodel I create a selectlist in the getter of my selectlist like this:
[code]
I am only supplying the name of the partial view to Html.Partial right now. I realize this is my issue as I have not even populated the selectlist wh

[2016-03-03 15:54] bdelaney commented on #149
I resolved this by building the model in the controller and passing it view ViewBag into the parent view and then passing it as parameter to Html.Partial. The syntax of taghelpers is new to me and the lack of documentation on asp-items had me thinking of all the Html helper design patterns. Clearly that is not what is intended. While making good use of ViewComponents, I had to fall back to Partial

[2016-03-03 16:47] dougbu commented on #149
Glad you got everything working. If you encounter further issues, don't hesitate to open a new issue.

You're correct. That's horribad and should lead to a compiler error because the `asp-items` value must be an `IEnumerable<SelectListItem>`, not an `IHtmlContent`.

But there's no reason creating the select list in the view (partial or otherwise) shouldn't just work. The rest of the code should lo

[2016-03-03 16:49] dougbu commented on #149
@rustd has this issue been addressed in the latest round of scaffolding changes? That is does the code now generate the following? Hoping we can close this issue now.
[code]

[2016-03-03 17:42] rustd commented on #149
I don't know. @sayedihashimi owns scaffolding so adding him

[2016-03-03 18:09] bdelaney commented on #149
One helpful suggestion I have for the documentation/scaffolding team is to offer more vigorous examples of using the taghelpers. I'm still stuck on using the ugly syntax like this `asp-items="Html.GetEnumSelectList<roletype>()"`
for enums. The scaffolding stuff has got to be really hard, but the docs could at least take into account some of the most common cases. With EF7, the scaffolding must be

[2016-03-23 00:09] #177 closed

[2016-03-28 07:48] ovidiaconescu commented on #140
Thanks @herruzojm, this solved the problem.

[2016-04-02 00:13] JunTaoLuo opened #190 "Update Roslyn packages"
Currently, the roslyn packages are pinned to old versions https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.Extensions.CodeGeneration.Utils/project.json#L7-L9. These need to be updated now that we have newer versions of these packages on our feeds.

This also seems to have resolved the test failures that I saw in https://github.com/aspnet/Coherence-Signed/issues/230.

[2016-04-04 19:58] prafullbhosale commented on #190
Closing this as this has been resolved in https://github.com/aspnet/Scaffolding/pull/192

[2016-04-04 19:58] #190 closed

[2016-04-06 23:46] sayedihashimi opened #193 "Feedback on generated content from scaffolders for RC2"
FYI we are asking for feedback on generated content at https://github.com/aspnet/Tooling/issues/444.

I added this issue here to notifiy watchers of this repo. I will close this issue in a few days.

[2016-04-15 01:41] prafullbhosale opened #196 "Scaffolding a controller using entity framework fails if the user project has services.AddMvc"
If the user project has
`services.AddMvc();`
or
[code]

scaffolding an ef based controller fails.

The reason for the failure is that these methods try to load the project's assembly to find out the parts of the assembly to use for MVC.

Scaffolding code loads the project in memory and then modifies the startup.cs and creates a new in-memory assembly with a different name.
So when the code tries t

[2016-04-15 01:42] prafullbhosale commented on #196
Tagging aspnet/Release#4

[2016-04-15 16:36] sayedihashimi commented on #196
+1

[2016-04-21 16:13] Eilon opened #199 "Scaffolding Error when working with EF Fluent API"
Move from https://github.com/aspnet/Mvc/issues/4336, opened by @hernandemczuk

=========

I have a **Data Acces Logic (Entity Framework)** project, a **Model** project with my POCOs classes and a last one with the **MVC Application**. In my DAL project, I configure some validations on my Model and its schema information on the database using **Fluent API**. That means that I use the following meth

[2016-04-21 16:14] Eilon commented on #199
@prafullbhosale

[2016-04-21 17:15] muratg opened #200 "Scaffolding tool should not be shipped to nuget..."
Per a discussion today with @DamianEdwards and @rustd, this tool would only live in WTE, and not be uploaded to nuget.org.

We need to change this: https://github.com/aspnet/Coherence/blob/dev/packages/packages.csv#L10, but also make it possible to sign it.

cc @Eilon @pranavkm

[2016-04-21 17:18] rustd commented on #200
@sayedihashimi FYI.

[2016-04-21 17:33] Eilon commented on #200
Is there any change to make in this repo? Or is the only change in packages.csv and setup? Does WTE itself need to change to adapt to this change?

[2016-04-21 17:33] Eilon commented on #200
cc @barrytang as well.

[2016-04-21 17:42] muratg commented on #200
@Eilon I believe there's no change in this repo, though we'll need to figure out how to sign the tool...

Also, I assume `M.E.CodeGeneration.*` ([these lines](https://github.com/aspnet/Coherence/blob/dev/packages/packages.csv#L141-L146)) will also need to be changed.

[2016-04-22 20:41] moozzyk opened #201 "Remove/update references to dnx"
https://github.com/aspnet/Scaffolding/blob/a1e57cc8bfad7f8ccfca486668aac203c815eaea/src/Microsoft.Extensions.CodeGeneration/CodeGenCommand.cs#L76

https://github.com/aspnet/Scaffolding/blob/a1e57cc8bfad7f8ccfca486668aac203c815eaea/src/Microsoft.Extensions.CodeGeneration/CodeGenCommand.cs#L84

[2016-04-25 18:14] Eilon opened #203 "Generating View Without a DBContext is still not Supported"
From https://github.com/aspnet/Mvc/issues/4427 @AcousticGuitar:

============

VS2015 Community Update 2, 1.0.0-rc1-update1 of (DNX SDK)

Attemtpting to create a view is giving the error listed above even though the view does not need EF within it.  The Wizard will not enable the Add button until the Model is filled in for a "Details" view.  However, attempts to add without filling in the DBContex

[2016-04-26 01:12] rustd opened #205 "Microsoft.Extensions.CodeGenerators.Mvc package"
With the new .NET CLI tools we should not be needing this package anymore.
https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/project.json#L29

Look at how razor-tools are registered. EF will be doing the same. We should ensure that Scaffolding does this too.
This is required for RC2

[2016-04-26 01:13] rustd commented on #205
@prafullbhosale @sayedihashimi can you please triage this for RC2

[2016-04-26 04:30] sayedihashimi commented on #205
Is there a tfs bug for this?

[2016-04-26 15:35] rustd commented on #205
Not sure. Please open one if there isn't

[2016-04-26 18:26] prafullbhosale opened #206 "Use DotnetToolDispatcher for dispatching project dependency command in scaffolding"
aspnet/Coherence-Signed/issues/276

[2016-04-27 01:06] #196 closed

[2016-04-27 19:04] Rick-Anderson commented on #162
@prafullbhosale will this be fixed for RC2?
To repro - scaffold a model. This bug is found in the create and edit razor files.

[2016-04-27 19:06] Rick-Anderson opened #209 "missing ; in @{await Html.RenderPartialAsync("_ValidationScriptsPartial")}"
Scaffold a model and the following code is missing a closing ; in the edit/create views.

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial")}

[2016-04-27 19:07] Rick-Anderson commented on #162
related #209

[2016-04-27 21:00] prafullbhosale opened #210 "Build base path not passed correctly to dotnet build during build and dispatch phase"
If the path is already rooted, it doesn't get passed to the build, and leads to scaffolding to fail
https://github.com/aspnet/Scaffolding/blob/dev/src/dotnet-aspnet-codegenerator/DotNetBuildCommandHelper.cs#L30

Also, the warnings from build need to be filtered out,  as VS looks at stdErr of the process and shows error dialog if there is anything on the stdErr.

[2016-04-27 23:02] Rick-Anderson opened #211 "Cannot scaffold on ApplicationDbContext"
If you create a new web app with **Individual User Accounts**, you can't use ApplicationDbContext to scaffold a model.

[2016-04-27 23:03] Rick-Anderson opened #212 "Scaffolding requires Individual User Accounts"
It would help our Intro to MVC tutorial if we didn't need all the code from **Individual User Accounts**

[2016-04-28 06:44] #206 closed

[2016-04-28 06:44] #210 closed

[2016-04-29 21:25] barrytang commented on #200
I talked to @danroth27 and I think we need to ship the scaffolding package on nuget otherwise people opening a project created in VS won't be able to restore it on a machine without VS.

[2016-04-29 21:27] barrytang commented on #170
This doesn't seem to be related to scaffolding.

[2016-04-29 21:27] #170 closed

[2016-04-29 21:29] #165 closed

[2016-04-29 21:43] #146 closed

[2016-04-29 21:48] barrytang commented on #140
We need to add a work item to support dbContext in classlib.

[2016-04-29 21:49] moozzyk opened #216 "Support code generators whose assembly name is different from the package name"
Currently DefaultCodeGeneratorAssemblyProvider uses the package id as the name of the assembly (https://github.com/aspnet/Scaffolding/blob/55a33bc1eb94ab7bbc3dd53a343bdc883bff4200/src/Microsoft.Extensions.CodeGeneration.Core/DefaultCodeGeneratorAssemblyProvider.cs#L61) meaning that if the assembly has a different name than the package things break badly. We should use the actual assembly name when

[2016-04-29 21:51] barrytang commented on #106
This should be fixed with RC1 already.

[2016-04-29 21:51] #106 closed

[2016-04-29 21:52] #105 closed

[2016-04-29 21:52] barrytang commented on #104
This should be fixed with RC1.

[2016-04-29 21:52] #104 closed

[2016-04-29 21:53] #103 closed

[2016-04-29 21:53] barrytang commented on #97
This should be fixed with RC1.

[2016-04-29 21:53] #97 closed

[2016-04-29 21:58] barrytang commented on #79
This should be fixed with RC2.

[2016-04-29 21:58] #79 closed

[2016-04-29 21:58] barrytang commented on #74
This should be fixed with RC1.

[2016-04-29 21:58] #74 closed

[2016-04-29 21:59] #71 closed

[2016-04-29 22:00] #53 closed

[2016-04-29 22:00] #37 closed

[2016-04-30 03:14] giggio commented on #97
I don't think this infrastructure is open source. Is it going to be?

[2016-04-30 09:16] mrcha0s opened #217 "Guid requires System namespace"
Hello,

This is a minor issue. Scaffolding does not add System namespace when you are using Guid as unique identifier.

Thanks

[2016-05-02 17:32] #162 closed

[2016-05-02 17:32] #201 closed

[2016-05-02 17:32] #209 closed

[2016-05-03 17:18] prafullbhosale commented on #211
@Rick-Anderson, I tried this with version `1.0.0-rc2-20778` and it works.
Can you try with this version and see if it works for you?

[2016-05-03 17:29] prafullbhosale commented on #151
I tried creating a controller that had accent characters in the name and it seems to work fine with the current bits.

There are a few issues with dotnet cli that people have noticed around this:
dotnet/cli/issues/2590

I tried with cli version `1.0.0-rc2-002543` and didn't see the cli issue.

Closing this. Please feel free to reopen if you the issue happening again.

[2016-05-03 17:29] #151 closed

[2016-05-03 18:16] prafullbhosale commented on #211
Closing this for now.
Please re-open if you continue to see this issue.

[2016-05-03 18:16] #211 closed

[2016-05-03 18:18] prafullbhosale commented on #217
Hi @mrcha0s!
Can you provide which version of the packages are you using?
This was fixed a while back https://github.com/aspnet/Scaffolding/commit/bf9e2eb805278657746cc9990f347df95db59110

[2016-05-03 19:10] Rick-Anderson commented on #211
@prafullbhosale  I'll test it this week and let you know if I have any problems.

[2016-05-03 19:53] prafullbhosale commented on #144
Tagging aspnet/Release/issues/4

[2016-05-03 19:53] prafullbhosale commented on #200
Tagging aspnet/Release/issues/4

[2016-05-03 23:55] prafullbhosale commented on #174
Moving to RC2 as this is needed with the new Roslyn packages `Microsoft.CodeAnalysis.CSharp.Workspaces	     v1.3.0-beta1-20160425-01`

cc @barrytang @Eilon

[2016-05-04 18:30] prafullbhosale opened #220 "Scaffolding exits silently if the project has build errors."
If you try to run scaffolding on a project that has build errors, it should report the build errors.
Currently it does not report anything.

The output is just the runtime as below.
[code]

[2016-05-04 18:34] prafullbhosale commented on #220
cc @sayedihashimi @barrytang @balachir

[2016-05-05 18:13] #220 closed

[2016-05-05 18:41] prafullbhosale commented on #144
This should be fixed with the RC2 changes.

[2016-05-05 18:41] #144 closed

[2016-05-06 19:31] rustd opened #223 "Create template markup should match the templates"
When you scaffold a controller with EF, the create view generates the following:
[code]
It should be
[code]
Please make a pass at the markup generated by the views and ensure that it matches with what the templates have.

[2016-05-06 19:35] rustd opened #224 "Scaffolding should autogenerate a migration"
**Repro steps:**
- Create ASP.NET Core Web App with Individual Auth
- Add a model class
- Scaffold a controller with EF option to generate controllers and views
- Run the app and navigate to the controller

**Actual**
You will see this an error from EF to generate and apply the migrations using commandline.
**Expected**
The scaffolding tool can have an option of generating/ applying the migrations

[2016-05-06 19:47] dougbu commented on #223
@rustd if the templates also use `<span asp-validation-for="..."></span>` for the properties, `asp-validation-summary="All"` is just redundant. `ModelOnly` eliminates that redundancy.

[2016-05-06 20:01] rustd commented on #223
They don't use asp-validation-summary="All", This is what we have today https://github.com/aspnet/Templates/blob/dev/src/Rules/StarterWeb/IndividualAuth/Views/Account/Register.cshtml

So are we recommending the following markup to use?
[code]

[2016-05-06 20:10] dougbu commented on #223
No, you're mixing attributes for the summary at the top (the `<div>`) with validations for individual properties (the `<span>`s).

The `Register.cshtml` file you linked mostly looks fine but should use `<div asp-validation-summary="ModelOnly" class="text-danger"></div>`.

[2016-05-09 08:10] mrcha0s commented on #217
sorry my bad I did not update the latest one. I'm using rc1-final and ASP.NET and Web Tools 2015 (RC1 Update 1)

[2016-05-11 19:48] ajaybhargavb opened #227 "Scaffolded views should have valid span tag"
When a view is scaffolded the `span` for validation is generated as a self-closing tag. This should be a valid `<span>..</span>` tag.

Expected:
`<span asp-validation-for="Title" class="text-danger"></span>`

Actual:
`<span asp-validation-for="Title" class="text-danger" />`

[2016-05-11 22:22] ajaybhargavb opened #228 "No newline between using statements and namespace declaration"
In `MVC Controller with read/write actions` and `API Controller with read/write actions` the generated code does not have a new line between using statements and namespace declaration.

Example:
[code]

[2016-05-11 22:43] ajaybhargavb opened #229 "Scaffolding a controller does not generate the correct namespace"
Example:

In a project named `MyProject`, Scaffold a controller from within `ApiControllers` folder

Expected Namespace:
`namespace MyProject.ApiControllers`

Actual Namespace:
`namespace MyProject.Controllers`

[2016-05-11 22:50] prafullbhosale commented on #229
Related: #155

[2016-05-12 00:15] ajaybhargavb opened #230 "Scaffolding API Controller with EntityFramework does not use var in some places"
Example:

Scaffold a controller using `API Controller with actions, using Entity Framework` with `Book` as model class. The generated code will have the below line in two places.
`Book book = await _context.Book.SingleOrDefaultAsync(m => m.ID == id);`

Expected:
`var book = await _context.Book.SingleOrDefaultAsync(m => m.ID == id);`

[2016-05-12 19:13] javiercn opened #231 "Consider adding an entry for empty view in the add view menu"
Right click on the Shared folder under Views.
Select New item -> Add View.
There is no template for an empty view.

This forces the users to do two different gestures based on whether they want some generated content on their view or not. Given that Add View is an explicit element on the UI (which drives the user towards it) it should support creating an empty razor file instead of forcing the use

[2016-05-12 19:40] ajaybhargavb opened #232 "Model with navigation properties does not work"
Repro:

Model `Blog.cs`:
[code]

Model `Post.cs`:
[code]

Now scaffold a controller for `Post.cs` and look at the `Create()` method in `PostsController`

Expectation: (Same as MVC5 behavior)
[code]

Actual:
[code]

This leads to `NullReferenceException` when `localhost:5000/Posts/Create` is hit

[2016-05-13 18:03] prafullbhosale opened #233 "Scaffolding fails for projects targeting full .net on x86 machines"
This is because the dotnet-aspnet-codegenerator.exe is built only for x64.

[2016-05-13 18:04] prafullbhosale commented on #233
Related aspnet/razorTooling/issues/72

[2016-05-14 23:02] natelaff opened #234 "Request: Include pagination by default when scaffoling controller and index page"
Such a commonly expected feature now a days, would be nice if pagination was just scaffolded in.

[2016-05-21 14:07] markramel commented on #149
thank you for this post!!!

[2016-05-22 22:02] Eilon opened #237 "Clean up package metadata and pre-Core references"
# NuGet package metadata
The `project.json` file of every shipping NuGet package has two properties that must be non-empty:
1. description
2. tags

## Description guidance

Description should be at least something like this:
  "description": "ASP.NET Core MVC view rendering features. Contains common types used in most MVC applications as well as view rendering features such as view engines, views,

[2016-05-24 21:09] prafullbhosale commented on #233
This should be fixed by ef5349b7589d02804f724475fb613454f94ca63c & 921f928e72da53696c3649b6efbac8c86c76ac58

[2016-05-24 21:09] #233 closed

[2016-05-26 16:14] #229 closed

[2016-05-26 16:23] prafullbhosale commented on #155
This should now be fixed.
The Codegenerator will accept a `--controllerNameSpace` parameter. In absence of the parameter, the defaulting logic will be based on ApplicationName + Directory in which the controller is added.

Related #229

[2016-05-26 16:23] #155 closed

[2016-05-26 16:56] Eilon commented on #237
@barrytang need someone to look at this for RTM.

[2016-05-26 17:42] #232 closed

[2016-05-27 06:16] barrytang commented on #237
cc @prafullbhosale

@Eilon, this is already assigned to @prafullbhosale and I just marked it for rtm.

[2016-05-27 06:24] barrytang commented on #237
TFS#225906

[2016-05-27 06:38] Eilon commented on #237
Thanks!

[2016-05-31 14:39] phenning opened #243 "Edit does not scaffold Id field"
//cc: @dvdobrovolskiy

(Ported from https://github.com/aspnet/Templates/issues/584)

[HttpPost]
 [ValidateAntiForgeryToken]
 public async Task Edit(int id, [Bind("RSOTimeToResponce,RiseToRSO,Title,UKOTimeToResponce,ZayavkaReasonType,ZayavkaType,ZayavkaAskTime")] Reason reason)

No Id field in Bind("...") so it cannot update row

[2016-05-31 18:29] pranavkm opened #244 "Fix build warnings"
* [x] Scaffolding\src\Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore\project.json(30,19): warning DOTNET1015: The 'packInclude' option is deprecated. Use 'files' in 'packOptions' instead.
* [x] Scaffolding\src\Microsoft.VisualStudio.Web.CodeGenerators.Mvc\project.json(23,19): warning DOTNET1015: The 'packInclude' option is deprecated. Use 'files' in 'packOptions' instead.

[2016-05-31 18:29] pranavkm commented on #244
cc @prafullbhosale

[2016-05-31 20:10] #237 closed

[2016-06-05 18:54] bwoodard007 opened #247 "MVC 6 Entity Scaffolding bug"
[code]

I created a new controller using MVC + Entity Framework, it generated the following code on Create:

[code]

In my view
[code]

The view always generates an error
[code]

I just wanted to let you guys know this error occurs in the default code generation when adding a controller and view.

[2016-06-06 02:18] dougbu commented on #247
@bwoodard007 does the same exception occur in your `Create` action for an HTTP Get?

More generally, `_context.Quizzes` is probably `null` for some application-specific reason.

[2016-06-06 15:42] bwoodard007 commented on #247
No it's not null, I stepped through with the debugger the actual error happens on the view.

[2016-06-06 18:21] prafullbhosale commented on #247
@bwoodard007 This was a known issue with scaffolding in preview2

The problem is the way the Select list is created in the controller.

`ViewData["QuizId"] = new SelectList(_context.Quizzes, "Id", "Quiz", question.QuizId);`

This needs to change to

`ViewData["QuizId"] = new SelectList(_context.Quizzes, "Id", "Title", question.QuizId);`

More details: https://github.com/aspnet/Scaffolding/issues/2

[2016-06-06 19:06] bwoodard007 commented on #247
@prafullbhosale I see you've reopened it because that's the code the controller generated. Thanks for your help.

[2016-06-06 19:09] prafullbhosale commented on #247
@bwoodard007 The issue is marked closed as the fix is checked in. However the new packages are not available on nuget.org yet.

[2016-06-07 13:30] DamianEdwards commented on #227
This actually breaks the validators showing server-side validation. If you disable client-side validation (just don't render the javascript) then it's immediately apparent when trying to post an invalid form.

[2016-06-07 13:34] #217 closed

[2016-06-08 18:06] prafullbhosale commented on #244
Fixed by 0e459d735ffa04883f95c2e7bc36fb2a50d435ae

[2016-06-08 18:06] #244 closed

[2016-06-08 18:12] narulasrinivas commented on #199
When is the planned release for this bug?

[2016-06-09 16:48] ar27111994 opened #249 "Error multiple types matching the name while Scaffolding ASP.NET Core MVC RC2"
I'm developing a web app in Asp.Net Core RC2 according to n-layered architecture.

![f](https://cloud.githubusercontent.com/assets/13036687/15938117/385b07aa-2e8b-11e6-8272-9ff5f33a88b6.PNG)

When I try to use scaffolding to generate CRUD Controller and Views, I get the following error.

![e](https://cloud.githubusercontent.com/assets/13036687/15938191/8eb5847c-2e8b-11e6-9f7a-c3540228e356.PNG)

I

[2016-06-09 22:42] javiercn opened #250 "Remove unnecessary imports"
Currently blocked on Microsoft.Composition

Errors in C:\work\Universe\Scaffolding\src\Microsoft.VisualStudio.Web.CodeGeneration.Templating\project.json
    Package Microsoft.Composition 1.0.27 is not compatible with netstandard1.6 (.NETStandard,Version=v1.6). Package Microsoft.Composition 1.0.27 supports: portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0
,Profile=Profile259)
    One or mor

[2016-06-09 22:54] javiercn commented on #250
https://github.com/dotnet/corefx/issues/6598

[2016-06-10 16:03] #203 closed

[2016-06-10 18:02] prafullbhosale commented on #243
@dvdobrovolskiy Can you share your model?

When I try with a simple model like
[code]
The Edit method looks like this

[code]

[2016-06-11 11:01] ar27111994 commented on #249
Any Help?!

[2016-06-12 05:23] prafullbhosale commented on #249
@ar27111994 Can you provide your model structure?

[2016-06-12 06:40] s4sanjoy commented on #149
# Try This
**Controller:**
//ViewData["BankId"] = new SelectList(_context.Bank, "BankId", "Bank");
//ViewData["UnitId"] = new SelectList(_context.Unit, "UnitId", "Unit");
ViewData["BankId"] = new SelectList(_context.Set<Bank>(), "BankId", "BankName");
ViewData["UnitId"] = new SelectList(_context.Set<Unit>(), "UnitId", "UnitName");
**View:**
<select class="form-control"
                        asp-

[2016-06-12 11:50] ar27111994 commented on #249
[https://drive.google.com/folderview?id=0B3UaNHYpTyWrYkVqWVpZZEhnbHM&usp=sharing](Schema link) @prafullbhosale sorry couldn't generate a class diagram but instead generated schema in html files. Hope this helps. Thanks!

[2016-06-13 16:15] prafullbhosale opened #251 "Scaffolding fails if model class is in a dependency (project/ library) of the project on which scaffolding is being run."
Project A has a dependeny on Project B.
Project B has model class
If you try to run scaffolding on Project A by using model class from Project B, it fails with the below error:
`No model type returned for type: <class name>`

![image](https://cloud.githubusercontent.com/assets/1521254/16014696/30cb27ea-3147-11e6-9488-32bedd33e744.png)

Related #249 #140

[2016-06-13 16:17] prafullbhosale commented on #249
@ar27111994 Do your projects OpenBizBLL and OpenBizDal both contain the type `OpenBizBLL.Entities.Inventory.Brand`?

If that is the case, then please rename one of them (move to a different namespace)

Also currently there is an issue with scaffolding, that it doesn't support model classes outside of the current project properly.

As a workaround, you can add the model temporarily to your web proj

[2016-06-14 05:26] ar27111994 commented on #249
@prafullbhosale No, there is no duplication. Yep, even after moving my DAL Classes into my OpenBiz project I encountered the `No model type returned for type: <class name>` error. But with three layers I encounter the `Error multiple types matching the name <class name>` error. Thanks!

[2016-06-17 21:56] barrytang commented on #70
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232569&fullScreen=false&_a=edit">232569</a>

[2016-06-17 21:56] barrytang commented on #73
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232570&fullScreen=false&_a=edit">232570</a>

[2016-06-17 21:56] barrytang commented on #80
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232571&fullScreen=false&_a=edit">232571</a>

[2016-06-17 21:56] barrytang commented on #88
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232572&fullScreen=false&_a=edit">232572</a>

[2016-06-17 21:56] barrytang commented on #94
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232573&fullScreen=false&_a=edit">232573</a>

[2016-06-17 21:56] barrytang commented on #107
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232574&fullScreen=false&_a=edit">232574</a>

[2016-06-17 21:56] barrytang commented on #108
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232575&fullScreen=false&_a=edit">232575</a>

[2016-06-17 21:56] barrytang commented on #127
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232577&fullScreen=false&_a=edit">232577</a>

[2016-06-17 21:56] barrytang commented on #135
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232578&fullScreen=false&_a=edit">232578</a>

[2016-06-17 21:56] barrytang commented on #139
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232579&fullScreen=false&_a=edit">232579</a>

[2016-06-17 21:56] barrytang commented on #140
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232580&fullScreen=false&_a=edit">232580</a>

[2016-06-17 21:56] barrytang commented on #149
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232581&fullScreen=false&_a=edit">232581</a>

[2016-06-17 21:56] barrytang commented on #156
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232582&fullScreen=false&_a=edit">232582</a>

[2016-06-17 21:56] barrytang commented on #159
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232583&fullScreen=false&_a=edit">232583</a>

[2016-06-17 21:56] barrytang commented on #166
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232584&fullScreen=false&_a=edit">232584</a>

[2016-06-17 21:56] barrytang commented on #174
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232585&fullScreen=false&_a=edit">232585</a>

[2016-06-17 21:56] barrytang commented on #193
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232588&fullScreen=false&_a=edit">232588</a>

[2016-06-17 21:56] barrytang commented on #200
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232589&fullScreen=false&_a=edit">232589</a>

[2016-06-17 21:56] barrytang commented on #199
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232590&fullScreen=false&_a=edit">232590</a>

[2016-06-17 21:56] barrytang commented on #205
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232591&fullScreen=false&_a=edit">232591</a>

[2016-06-17 21:56] barrytang commented on #212
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232592&fullScreen=false&_a=edit">232592</a>

[2016-06-17 21:56] barrytang commented on #216
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232593&fullScreen=false&_a=edit">232593</a>

[2016-06-17 21:56] barrytang commented on #224
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232594&fullScreen=false&_a=edit">232594</a>

[2016-06-17 21:56] barrytang commented on #223
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232595&fullScreen=false&_a=edit">232595</a>

[2016-06-17 21:56] barrytang commented on #228
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232597&fullScreen=false&_a=edit">232597</a>

[2016-06-17 21:56] barrytang commented on #230
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232596&fullScreen=false&_a=edit">232596</a>

[2016-06-17 21:56] barrytang commented on #227
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232598&fullScreen=false&_a=edit">232598</a>

[2016-06-17 21:56] barrytang commented on #231
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232599&fullScreen=false&_a=edit">232599</a>

[2016-06-17 21:56] barrytang commented on #234
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232600&fullScreen=false&_a=edit">232600</a>

[2016-06-17 21:56] barrytang commented on #243
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232603&fullScreen=false&_a=edit">232603</a>

[2016-06-17 21:56] barrytang commented on #247
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232605&fullScreen=false&_a=edit">232605</a>

[2016-06-17 21:56] barrytang commented on #250
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232606&fullScreen=false&_a=edit">232606</a>

[2016-06-17 22:00] barrytang commented on #251
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232614&fullScreen=false&_a=edit">232614</a>

[2016-06-17 22:01] barrytang commented on #249
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=232616&fullScreen=false&_a=edit">232616</a>

[2016-06-18 00:25] gkochanowsky commented on #159
So a bit of an update on this. I did build a command line custom scaffolder that works from a json file in a conventional location and it works fine. It was done in RC1. Haven't had a chance to try it in RC2. If I got it working would there be any interest in the group looking at it?

[2016-06-20 12:27] gdoron commented on #251
I honestly do not understand how this bug wasn't detected before RC.
It's so common (and recommended) to put the POCOs in a different DLL.

Something is wrong here.

[2016-06-21 17:29] Tratcher opened #256 "Scaffolding an empty mvc controller returns an undefined view"
Scaffolding an empty MVC controller adds:
[code]

This returns a View, but there is no view defined so it fails with:
[code]

What's the point of scaffolding an incomplete set? It should either include a view or not try to return one by default.

[2016-06-21 17:55] Tratcher opened #257 "Scaffolding MVC w/views assumes the presence of _ValidationScriptsPartial.cshtml"
When scaffolding a new MVC controller with views using Entity Framework, the Create and Edit views reference _ValidationScriptsPartial.cshtml, which is only included in the Individual Auth template, causing this error in other templates:
[code]

Everything seems to work after copying the file from another project.

[2016-06-21 19:10] Tratcher opened #258 "Compiler error while scaffolding an MVC controller"
I get this VS popup sporadically when trying to scaffold a new controller:
[code]

Repro:
- Right-click on Controllers and Add -> Controller
- Select MVC Controller - Empty
- Set the controller name and click Add

Sometimes you get the above error and when pressing OK it goes back to the controller name window.  Still not sure what triggers the error.

[2016-06-21 19:15] Tratcher commented on #258
I have also seen this error trying to add a view.

[2016-06-21 19:21] Tratcher commented on #256
Adding "MVC Controller with read/write actions" has the same problem.

[2016-06-21 19:23] Tratcher commented on #258
And a new API controller. This seems to be a general issue.

[2016-06-21 19:24] Tratcher commented on #258
After the error you end up back at the controller name window. Clicking Add again succeeds.

[2016-06-21 19:53] prafullbhosale commented on #256
These are by design.
The Empty and Read Write Actions scaffolders are not meant to provide "fully working" controllers.
They are just to provide a starting point for further development.
cc @sayedihashimi

[2016-06-21 20:17] barrytang commented on #258
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=233432&fullScreen=false&_a=edit">233432</a>

[2016-06-21 20:17] barrytang commented on #257
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=233433&fullScreen=false&_a=edit">233433</a>

[2016-06-21 20:17] barrytang commented on #256
TFS Bug#<a href="https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_workItems#id=233434&fullScreen=false&_a=edit">233434</a>

[2016-06-21 20:32] barrytang commented on #256
By design.

[2016-06-21 20:32] #256 closed

[2016-06-21 20:44] barrytang commented on #247
This is fixed for the upcoming Dev14 release.

[2016-06-21 20:44] #247 closed

[2016-06-21 20:45] barrytang commented on #243
@dvdobrovolskiy, haven't heard back from you. Closing for now.

[2016-06-21 20:45] #243 closed

[2016-06-21 20:52] barrytang commented on #223
@sayedihashimi @rustd, should we use all or not? :)

[2016-06-21 20:54] barrytang commented on #212
This is intentional and we will remove that requirement in future releases.

[2016-06-21 20:54] #212 closed

[2016-06-21 20:59] barrytang commented on #199
This is fixed for the upcoming Dev14 release.

[2016-06-21 20:59] #199 closed

[2016-06-21 21:01] Tratcher commented on #257
This appears to be controlled by the "Reference script libraries" checkbox on the Add Controller dialog.  It's interesting that it won't generate the file if it's missing.

[2016-06-22 16:47] Tratcher opened #259 "Connection string is added in a different location than the templates"
If you use scaffolding to create a dbcontext while creating a controller it will add a connection string to appsettings.json and the code to read it in ConfigureServices. However, it's still using the location and APIs that were used in the RC1 templates and does not match the RC2 or RTM templates.

scaffolding:
[code]
[code]

template:
[code]
[code]

[2016-06-22 16:49] NTaylorMullen commented on #223
@rustd why'd you think this should be validation-summary="all"?

[2016-06-22 17:10] prafullbhosale opened #260 "Scaffolding output doesn't contain the compilation errors if the project compilation fails during scaffolding"
Try to run
`dotnet aspnet-codegenerator -p <pathtoproject> controller --controllerName DefaultController --noViews`
on a project that has compilation errors.
It doesn't show what the compilation error was.

### Expected:

[code]

### Actual:

[code]

[2016-06-22 17:14] prafullbhosale commented on #260
Related #258

[2016-06-22 20:55] prafullbhosale opened #261 "Add a --no-build flag to dotnet-aspnet-codegenerator"
Currently for every invocation, scaffolding always calls `dotnet build`.
There should be a way to make this optional.
One example of scenario where this might be useful is the user is running the project in IIS express, running `dotnet build` would cause failures if the project is `not safe for incremental compilation`
This will cause scaffolding to fail.

[2016-06-22 21:32] Tratcher opened #262 "Navigation properties are not displayed in List (Index), Details, or Delete"
For generated views, navigation properties are displayed in Create and Edit, but not List (Index), Details, or Delete.

Sample models:
[code]

Also, is there any way to attribute either model so that the scaffold knew which field(s) from Director to display? Right now Create and Edit default to:
[code]
When I'd rather have it generate:
[code]

[2016-06-22 21:40] prafullbhosale commented on #262
Yes, scaffolding looks for a `[Required]` string property in the navigation. If none is found, then it uses the primary key.
This is because a non required string property may end up having empty entries in the select list.

[2016-06-22 21:53] Tratcher commented on #262
Thanks, that worked.

[2016-06-23 23:07] prafullbhosale commented on #149
This should be fixed as part of:
https://github.com/aspnet/Scaffolding/issues/232

[2016-06-23 23:07] #149 closed

[2016-06-28 13:37] Bartmax opened #265 "readme have very old samples."
I don't find documentation for `Microsoft.VisualStudio.Web.CodeGeneration.Tools` anywhere.

dotnet `.... what ? .... ` should be used here?

tools became very dark on last updates where the command is no longer discoverable via project.json.

[2016-06-29 01:07] barrytang commented on #265
TFS Bug#235741

[2016-06-29 01:07] barrytang commented on #261
TFS Bug#235743

[2016-06-29 01:07] barrytang commented on #262
TFS Bug#235742

[2016-06-29 01:07] barrytang commented on #260
TFS Bug#235744

[2016-06-29 01:07] barrytang commented on #259
TFS Bug#235745

[2016-06-30 11:27] Bartmax opened #267 "BUG: Scaffolding create wrong span elements."
Scaffolding currently creates
[code]
which is wrong and doesn't work.
should be:
[code]

[2016-06-30 13:14] Bartmax commented on #223
please keep `ValidationSummary="ModelOnly"` All will just show the model state errors twice for properties.

[2016-06-30 13:14] harlyd commented on #265
You can use "dotnet aspnet-codegenerator controller -?"

[2016-06-30 16:44] prafullbhosale commented on #267
Dupe of #227

[2016-06-30 16:54] prafullbhosale commented on #265
You can also try:
`dotnet aspnet-codegenerator -h`

Controller options
`dotnet aspnet-codegenerator --project <path-to-project> controller -h`

View options
`dotnet aspnet-codegenerator --project <path-to-project> view -h`

[2016-06-30 17:01] #267 closed

[2016-06-30 17:01] Bartmax commented on #265
thank you!

[2016-06-30 17:12] sayedihashimi commented on #200
From previous discussions we do not have the ability to remove this package. If we wanted to do that we would need some proposed solution from the runtime team.
I don't personally see any value in doing this and I'd rather the team be focused on important deliverables. If the runtime team is still interested in this please come back with a specific technical proposal and then we can evaluate it. C

[2016-06-30 17:12] #200 closed

[2016-06-30 17:19] mlorbetske commented on #139
Closing per @sayedihashimi

[2016-06-30 17:19] #139 closed

[2016-06-30 17:20] mlorbetske commented on #135
Closing per @sayedihashimi

[2016-06-30 17:20] #135 closed

[2016-06-30 17:25] sayedihashimi commented on #108
Hi @ddddddddeee22211, thanks a lot for taking the time to look into scaffolding and to post this issue. We don't have a great story for custom scaffolders today. We are focused on getting .NET Core scaffolding up to par with ASP.NET, and after that we will likely start looking more into areas like this.

[2016-06-30 17:26] sayedihashimi commented on #107
@NicoJuicy sorry for the delay here. I'm going to close this because we've made a lot of updates and command line scaffolding is no longer "supported".

[2016-06-30 17:26] #107 closed

[2016-06-30 17:28] sayedihashimi commented on #94
@giggio sorry for the long delay here. I'm going to ask @prafullbhosale to investigate.

[2016-06-30 17:32] sayedihashimi commented on #73
Hi @lucamorelli nice to see you here. We don't have a great story for custom scaffolders today. We are focused on getting .NET Core scaffolding up to par with ASP.NET, and after that we will likely start looking more into areas like this.

[2016-06-30 17:32] #73 closed

[2016-06-30 17:34] sayedihashimi commented on #70
Hi @am11 sorry for the long delay here. I've discussed with @prafullbhosale and he will investigate.

[2016-06-30 18:08] mlorbetske commented on #80
These have all been updated for preview 2

[2016-06-30 18:08] #80 closed

[2016-07-01 03:34] xatabhk opened #268 "Failed to restore packages for tool 'Microsoft.VisualStudio.Web.CodeGeneration.Tools'"
log  : Restoring packages for tool 'Microsoft.VisualStudio.Web.CodeGeneration.Tools' in C:\downloads\web\projects\ZaxiTechCore\src\ZaxiTechCore\project.json...
error: Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.Composition 1.0.27 supports: portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile=Profile259)
error:

[2016-07-04 03:43] prafullbhosale commented on #268
@xatabhk can you share your `project.json` ?

[2016-07-05 06:47] xatabhk commented on #268
@prafullbhosale

[project.txt](https://github.com/aspnet/Scaffolding/files/347184/project.txt)

[2016-07-05 16:27] prafullbhosale commented on #268
@xatabhk in your tools section you need to add an import `portable-net45+win8` for the `VisualStudio.Web.CodeGeneration.Tools`

[code]
This is currently needed because of
https://github.com/aspnet/Scaffolding/issues/250

[2016-07-06 04:23] barrytang opened #270 "View Scaffolding with DbContext based on IdentityDbContext fails"
Attempts to generate a view produce this error:

![image](https://cloud.githubusercontent.com/assets/1648865/16607514/9cb3c348-42f6-11e6-8284-d0b1381196f1.png)

I do not find any mechanism to create an EF Core 1.0 DbContext with a "parameterless constructor".

The only constructor I have is

 public LynxJournalDbContext(DbContextOptions<LynxJournalDbContext> options) : base(options) { }

[2016-07-06 04:23] barrytang commented on #270
Opened on behalf of @jwdavidson.

[2016-07-06 04:34] prafullbhosale commented on #270
@jwdavidson Can you share your project?
Is the DbContext registered in the Startup.cs?

[2016-07-06 04:44] barrytang opened #271 "New Scaffolding Files not appearing in the project."
Steps
1. Created new 1.0 website
2. Added to GitHub private repo
3. Add class in Models
4. Right click on Controllers and Select Add Controller to create new controller and views based off of class created in step 3.
5. Files not present in the project. Checking Output window shows the files are created. Checking file system the files have been created.

In my case closing and then reopening the p

[2016-07-06 04:44] barrytang commented on #271
Opened on behalf of @ArieJones.

[2016-07-06 04:45] barrytang commented on #271
@prafullbhosale, can you take a look?

[2016-07-06 04:47] prafullbhosale commented on #271
@ArieJones can you share your project?
Also can you provide more information on the visual studio version installed?

[2016-07-06 11:05] jwdavidson commented on #270
After issues in other areas I uninstalled and then reinstalled Preview2 of the Tooling and re-arranged the project.json entries that existed from Preview1. It is now working.

I would recommend that someone post a best practices project.json file for Preview2 as it is easy to find incorrect configuration information that works for some instances, especially for projects that were start in RC1 and

[2016-07-06 14:18] ArieJones commented on #271
Visual Studio Information is below .....

Microsoft Visual Studio Enterprise 2015
Version 14.0.25421.03 Update 3
Microsoft .NET Framework
Version 4.6.01038

Installed Version: Enterprise

Architecture and Modeling Tools   00322-80000-00000-AA394
Microsoft Architecture and Modeling Tools

UML® and Unified Modeling Language™ are trademarks or registered trademarks of the Object Management Group, Inc

[2016-07-06 14:22] ArieJones commented on #271
Is there somewhere that I can send you a zip file of the base project other than attaching a zip to GitHub?
I think this is really not associated with the project ... it is just that Visual Studio is not updating the files in the Solution Explorer view once they are created... as I put in my post.. I am just creating a pretty generic RTM web solution.... adding in a model (shown below) and then tr

[2016-07-07 16:40] pranavkm opened #272 "Remove portable imports once we update to post RTM build of Microsoft.Composition"
React to https://github.com/dotnet/corefx/issues/9300

[2016-07-08 05:09] prafullbhosale commented on #271
Thanks @ArieJones ! Based on your description, it doesn't look like project specific.
I will look into it based on the above information and get back to you.

[2016-07-12 21:28] gdoron commented on #249
@barrytang  @prafullbhosale
Any update on this one?
I tried with the latest bits and still happening.

1.0.0-preview3-003180

It's like this for months and cause the entire scaffolding to be unusable if your project is bigger than one assembly!

[2016-07-12 21:56] gdoron commented on #251
I hope you're aware that scaffolding doesn't work at all unless the project is a demo one with a single assembly.
Is this ever going to get fixed?

[2016-07-12 22:27] valamelkor opened #274 "Controller Scaffolding fails"
I am trying to scaffold a MVC Controller with EF support

![image](https://cloud.githubusercontent.com/assets/291354/16785783/ff0770c6-48a0-11e6-9d73-abb87292c567.png)

![image](https://cloud.githubusercontent.com/assets/291354/16785739/ba0e8f4a-48a0-11e6-847d-8089b6d3afb7.png)

project compiles successfuly and actually scaffolding works ok on project from scratch, but not in mine one ...

DbConte

[2016-07-15 07:36] gdoron commented on #251
Hi @DamianEdwards, @shanselman

(At least) since RC the scaffolding doesn't seem to work if the entities are in a different project.
That's not an exceptional scenario, every real project has its models/entities classes in a different assembly.

Is someone taking care of it? I tried with the latest bits (1.0.0-preview3-003180) and it still happening.
I counted at least 3 issues in this repo of thi

[2016-07-15 22:16] barrytang commented on #251
@prafullbhosale opened this issue and he owns the scaffolding code in VS. We plan to add the support in future version of VS "15".

/cc @mlorbetske

[2016-07-16 18:16] gdoron commented on #251
That's ridiculous.
How much time does it take to fix it?
It's not working **at least** since December!

Ridiculous.

[2016-07-18 17:29] shibayan opened #275 "Add UTF-8 BOM to Scaffolding items"
It change to the UTF-8 in a another issue. https://github.com/aspnet/Scaffolding/issues/144

but, if the BOM is not, Visual Studio does not save as UTF-8.
Please put a BOM at the time of generate scaffolding items.

Thanks

[2016-07-18 18:35] mlorbetske commented on #268
TFS Bug#241352

[2016-07-18 18:35] mlorbetske commented on #271
TFS Bug#241353

[2016-07-18 18:35] mlorbetske commented on #270
TFS Bug#241354

[2016-07-18 18:35] mlorbetske commented on #272
TFS Bug#241355

[2016-07-18 18:35] mlorbetske commented on #274
TFS Bug#241356

[2016-07-18 18:35] mlorbetske commented on #275
TFS Bug#241357

[2016-07-18 19:23] jwdavidson commented on #270
Error was corrected after uninstalling Dotnet Core and doing a
reinstallation.

Thank you

On Mon, Jul 18, 2016 at 2:35 PM, Mike Lorbetske <notifications@github.com>
wrote:

[2016-07-18 22:01] #270 closed

[2016-07-20 15:49] prafullbhosale commented on #274
@valamelkor Is the model class `City` also in the webapp project? or is it in the `AlDoors.Core` project?

[2016-07-20 16:42] #260 closed

[2016-07-20 16:47] #249 closed

[2016-07-20 17:22] prafullbhosale commented on #227
https://github.com/aspnet/Scaffolding/commit/85a473beca62e3eeb93f4493037be286ead12b80

[2016-07-20 17:22] #227 closed

[2016-07-20 17:47] prafullbhosale commented on #265
closing this as readme was updated recently by @sayedihashimi

[2016-07-20 17:47] #265 closed

[2016-07-21 13:20] valamelkor commented on #274
@prafullbhosale model class City is located in Core project (AlDoors.Core)

[2016-07-21 14:29] prafullbhosale commented on #274
@valamelkor, This seems related to #251.  I have a PR out to address this issue and am hoping to have it fixed soon.

[2016-07-21 17:24] #228 closed

[2016-07-21 17:24] #259 closed

[2016-07-21 17:29] #174 closed

[2016-07-22 16:37] #261 closed

[2016-07-22 17:21] #251 closed

[2016-07-22 17:26] prafullbhosale commented on #258
Closing this.
Now if the compilation fails, it will display the reason for the compilation failure.
Will re-open this if the compilation error is caused due to scaffolding itself.

[2016-07-22 17:26] #258 closed

[2016-07-22 17:48] prafullbhosale commented on #230
https://github.com/aspnet/Scaffolding/commit/f7c6297b2cf716f498c5e52582a6b60cc5e94466

[2016-07-22 17:48] #230 closed

[2016-07-27 17:14] #262 closed

[2016-07-27 17:22] #140 closed

[2016-07-28 17:20] Tratcher opened #280 "[Build break] Scaffolding generates Windows NewLines on Unix"
Scaffolding just added several functional tests that pass on Windows and fail on Unix. They are failing because the scaffold generates Windows line endings (`\r\n`) on unix, but the baseline files are checked out with unix line endings ('\n`).

If the tools is meant to be run on unix it should emit the correct line endings there. If it's not meant to be run on unix then the new tests should be exc

[2016-07-28 18:23] prafullbhosale opened #281 "Adapt to new project model"
Need to find alternatives to APIs provided by `Microsoft.DotNet.ProjectModel` and `Microsoft.DotNet.ProjectModel.Workspaces`

Scaffolding uses the above for the following information/ actions:
- References of the project
- Build path
- Target frameworks
- Project compilation
- Modifying project compilation
- Updating source code files

[2016-07-28 18:27] prafullbhosale commented on #280
Disabled the base line comparison for the test on non windows for now.
The build should be fixed by this.
Will keep the issue open to fix the line endings issue.
https://github.com/aspnet/Scaffolding/commit/9b18790ea460991ed696cf8e852dc20a1be77e31

[2016-07-28 20:15] Rick-Anderson opened #282 "[DatabaseGenerated(DatabaseGeneratedOption.None)] should scaffold"
In ASP.NET 4 the scaffolder is intelligent enough to know that if you define a key as `[DatabaseGenerated(DatabaseGeneratedOption.None)]` it should scaffold a field in the Create view – now it doesn’t.

cc @tdykstra

[2016-07-28 20:17] Rick-Anderson opened #283 "Keep model order, not alphabetical"
Scaffolder puts fields in alpha order in the views – you would never want that, you’d want the same order you defined your properties in.  You get things like First Name, Hire Date, Last Name – you’d never write a model class that way.

cc @tdykstra

[2016-07-28 22:28] tdykstra opened #284 "Don't scaffold Timestamp (rowversion) fields for display or edit"
Timestamp attribute marks concurrency tracking fields which should not be displayed on Index, Details, or Delete views or be editable on Edit views.

/cc: @Rick-Anderson

[2016-07-29 20:33] prafullbhosale commented on #281
Related aspnet/EntityFramework#6139

[2016-08-03 18:37] mlorbetske commented on #284
There's a sample to not show these things by using an attribute, @prafullbhosale can you give that to @tdykstra ?

[2016-08-03 18:39] jsturtevant commented on #257
For anyone that lands here in the mean time...  I scaffolded a blank asp.net core project and found that the file should look like:

 Add a file ```_ValidationScriptsPartial.cshtml``` to ```Views/Shared``` folder with the following:

[code]

[2016-08-03 18:40] mlorbetske commented on #282
TFS Bug#248116

[2016-08-03 20:59] prafullbhosale commented on #284
Currently there is an attribute `ScaffoldColumn` which is used to inform scaffolding to ignore the fields.
If the property is decorated with `[ScaffoldColumn(false)]`, that property is not displayed on any of the pages.

[2016-08-03 21:08] Rick-Anderson commented on #284
@divega  should we consider making this scaffolder as smart as the MVC5/EF6 one that detected Timestamp (rowversion) fields fields shouldn't be scaffolded ?

[2016-08-04 06:12] divega commented on #284
Just in case, these fields need to round-trip,  but they just don't need to be visible in the UI. I think how it is solved is a matter of layering, e.g. can the scaffolding code reason about EF metadata for the property or does it need to decide based on reflection only?

[2016-08-04 19:31] mlorbetske commented on #234
@madmunsterdaddy thanks for the suggestion!

[2016-08-08 17:13] prafullbhosale commented on #284
Scaffolding does look into the `IEntityType` for the model.
So is the intent here that scaffolding needs to have a way to let users specify certain properties need to round-trip, without being displayed on pages?

[2016-08-08 21:51] #88 closed

[2016-08-09 22:06] tdykstra commented on #284
For Timestamp attributed properties the ideal behavior would be no display on any page and round-trip on edit and delete pages.

[2016-08-10 21:19] prafullbhosale commented on #283
Scaffolding retrieves the property information from `IEntityType` which returns the properties in alphabetical order.

MVC5 scaffolding used `System.Web.DynamicData.MetaModel` and `System.Web.DynamicData.MetaTable` to get the properties in declared order.

@divega do you know if there is any equivalent API that I can use that will keep the declared order of the properties?

[2016-08-10 22:31] divega commented on #283
My recommendation would be to merge the EF metadata with the original reflection metadata so that you can obtain the position of members from the latter.

TL;DR: In EF Core metadata we made the intentional choice to adopt alphabetical order because it is deterministic and stable across different platforms. In EF6 and before we had had many tricky issues because we tried to preserve the reflection

[2016-08-15 07:50] RupeshY commented on #251
@prafullbhosale is this Issue already fixed. If yes, can i get solution. If not, when are we expecting it to be closed.

[2016-08-15 16:17] prafullbhosale commented on #251
@RupeshY, this issue is fixed in the Dev branch.

[2016-08-15 16:27] gdoron commented on #251
And when will be released?

[2016-08-15 17:32] #257 closed

[2016-08-15 17:50] Rick-Anderson opened #287 "Scaffold engine adds check ID == ID"
To repro, scaffold a simple model:

[code]

The following code is generated:

[code]

id and contact.id are the same from binding.

Now change the model to use ContactID in lieu of ID.

[code]

And the following code is generated:

[code]

In this case id is the ambient route parameter, but this check provides no real value.

[2016-08-16 03:49] bryanloeper opened #288 "'A type with the name {FQN} does not exist at...'"
Exact code I am having the issue with is available here: https://github.com/bryanloeper/Fallout4Checklist/commit/3d0cd8d0e3c43a70a5a1a97d028be24492a14e74

Key classes:
Fallout4Checklist > FO4 (Portable) > Entities > Locations > Location.cs
Fallout4Checklist > FO4.Web > Data > Fallout4Context.cs

![image](https://cloud.githubusercontent.com/assets/1320428/17687223/e95bc36e-6338-11e6-8304-b6bf9349ae

[2016-08-16 17:23] prafullbhosale commented on #288
@bryanloeper There was an issue with scaffolding when the model was in a dependency.
See #251 for more details.
The issue is fixed in the dev branch.
But for a workaround, you can move the model class to the web project for scaffolding and then move it back.

[2016-08-16 21:25] bryanloeper commented on #288
@prafullbhosale Thanks - that worked! Any ETA on when the dev branch will make it to a release? I was thinking it might be a different root cause since Tooling's Preview2 just got updated a few days ago.

[2016-08-17 14:13] shobman opened #289 "Fields with [NotMapped] do not scaffold even with [ScaffoldColumn(true)]"
I have fields in the UI that don't make it to the DB and I would like to scaffold them out in my views even though they are marked with [NotMapped]. I tried adding [ScaffoldColumn(true)] but they still won't scaffold.  Is there a way to do this?  IMO fields marked with [NotMapped] should still scaffold by default. Or at least, I should be able to get them to scaffold with [ScaffoldColumn(true)].

[2016-08-22 21:19] prafullbhosale commented on #268
Closing this as we are tracking it in another bug #272

[2016-08-22 21:19] #268 closed

[2016-08-23 17:54] prafullbhosale opened #291 "Show better error than 'No parameterless constructor defined for the object' when DbContext instance creation fails"
Currently during scaffolding, if DbContext instance creation using the application startup code fails, scaffolding falls back to creating an instance using ActivatorUtilities.
This will always fail since the DbContext doesn't have a default constructor.

So it seems like the best way to handle it would be to fail when we cannot create an instance using the app startup code rather than throwing an

[2016-08-23 17:58] prafullbhosale commented on #291
cc @tdykstra

[2016-08-25 17:23] #291 closed

[2016-08-26 23:14] Eilon commented on #260
Approved for 1.0.0-preview2-update1.

[2016-08-26 23:14] Eilon commented on #140
Approved for 1.0.0-preview2-update1.

[2016-08-26 23:14] Eilon commented on #249
Approved for 1.0.0-preview2-update1.

[2016-08-26 23:14] Eilon commented on #251
Approved for 1.0.0-preview2-update1.

[2016-08-26 23:14] Eilon commented on #227
Approved for 1.0.0-preview2-update1.

[2016-08-26 23:14] Eilon commented on #259
Approved for 1.0.0-preview2-update1.

[2016-08-29 17:54] #275 closed

[2016-09-07 16:17] prafullbhosale commented on #287
@rynowak Does MVC guarantee that the route value `id` will always match the value from the model's `ID`?

The generated code is taking a conservative approach by adding a restriction in the Edit method.

cc @sayedihashimi

[2016-09-08 16:44] muratg opened #298 "Msbuildify tools"
### Microsoft.VisualStudio.Web.CodeGeneration.Tools
- Expect to run in the IDE (via MSBuild in order to get project context)
- Needs Roslyn Workspace (ugh)
### TODO
- Fork tools repos to `rel/1.0.0-preview3` branches for "October" release. Dev branches will continue to be used for 1.1 release.
- Use desktop msbuild to start our work until the new msbuild is ready for   consumption
### Notes
- [Thi

[2016-09-08 18:02] #94 closed

[2016-09-13 16:13] prafullbhosale commented on #288
@bryanloeper Sorry for the delay in response here.
The fix is now available on nuget in version `1.0.0-preview2-update1`

[2016-09-13 16:13] #288 closed

[2016-09-13 16:14] prafullbhosale commented on #298
Related #281

[2016-09-14 20:47] #283 closed

[2016-09-14 20:48] mlorbetske commented on #281
Duplicate of #298

[2016-09-14 20:48] #281 closed

[2016-09-14 20:50] #274 closed

[2016-09-14 20:53] mlorbetske commented on #250
Dup of #272

[2016-09-14 20:53] #250 closed

[2016-09-14 20:56] #223 closed

[2016-09-22 17:17] sayedihashimi opened #299 "[parity]: Design for scaffolding into empty project"
We need to come up with a design where we can show snippets for code assets which already exist that need edits (i.e startup.cs, web.config, etc)

[2016-09-23 21:21] divega opened #300 "Switch to use Find[Async]() instead of First[OrDefault][Async]() or Single[OrDefault][Async]() as appropriate"
`Find()` (added to EF Core in 1.1) can return objects already in memory without performing a database roundtrip. We are also unnecessarily using `SingleOrDefault()` in some cases in comparisons by key which would never return more than one row.

[2016-09-28 17:56] gitmar opened #301 "Scaffolding Dbcontext with -a (annotations) downed dependency injection"
In ASP.NET Core Web Application (.NET Core), scaffolding with -a (annotations) make dbcontext not injected and so, trying to add controller or view with data model also fail.

[2016-09-28 20:34] prafullbhosale commented on #301
@gitmar Can you provide the commandline you are using for this?

[2016-10-02 00:16] badre429 opened #303 "Angular Code Generation"
Is there any possiblity to Generate view and webapi to work with angular 2

[2016-10-03 15:49] mlorbetske opened #304 "CodeGeneration project has a 1.0.0 version but depends on 1.1.0 packages"
https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.VisualStudio.Web.CodeGeneration/project.json must either itself be a 1.1.x package or only depend on 1.0.x packages

[2016-10-04 22:03] DaniJG opened #305 "Controller scaffolding using EF fails when project contains middleware configured using secrets"
It seems `EntityFrameworkServices.GetModelMetadata` will fail at the step _Attempting to figure out the EntityFramework metadata for the model and DbContext_ when building the application services in `EntityFrameworkServices.TryCreateContextUsingAppCode`, if the Startup class adds some middleware with required options being populated from the secret manager.

I have created a new ASP.Net Core 1.0.

[2016-10-04 23:38] natemcmaster commented on #304
Does the 1.0.x rule also apply to Roslyn (and it's dependency on Microsoft.Composition)?

[2016-10-05 20:47] mlorbetske commented on #304
@natemcmaster I believe so - assuming that Microsoft.Composition is part of the "trains" model

[2016-10-09 09:01] DaniJG commented on #305
Another quick workaround would be setting things up so there are some dummy non-null values that will be overwritten in the dev environment with the values from the user secrets. Just adding some dummy values to `appsettings.json` or registering the options like this:
[code]

[2016-10-13 18:15] rowanmiller opened #308 "Delete.cshtml Scaffolding Missing ID Field"
Moving from https://github.com/aspnet/EntityFramework/issues/6764, originally reported by @thoma87
### Steps to reproduce

Create new MVC controller and views using VS2015 scaffold.
Build and run project.
### The issue

The _Delete.cshtml_ file generated by the scaffold is missing a reference to the ID field. Missing line:
`<input type="hidden" asp-for="ID" />`
### Further technical details

EF Co

[2016-10-19 18:49] prafullbhosale opened #311 "Remove use of Microsoft.DotNet.InternalAbstractions from 1.1.0"
Introduced by https://github.com/aspnet/Scaffolding/pull/310

[2016-10-20 04:41] Eilon commented on #311
Yes, please 😄

[2016-10-25 19:02] prafullbhosale commented on #156
Fixed by https://github.com/aspnet/Scaffolding/pull/295

[2016-10-25 19:02] #156 closed

[2016-11-02 19:46] mcquiggd opened #319 "Possible to generate just Views (Create, Delete, Details etc)?"
At present, there is no option to generate all Views (without the scaffolder also creating a Controller, Context, registering it in Startup.cs etc), and it is rather painful to have to create each View by scaffolding it individually.

Are there any plans to offer this?

Or, for example, the ability to create a template that can call 'create other templates' (which would offer most flexibility).. ?

[2016-11-03 00:54] pranavkm opened #322 "MsBuild: Verifier issues"
EXEC : error : ASSEMBLY_DESCRIPTION @ lib/net46/Microsoft.VisualStudio.Web.CodeGeneration.Msbuild.dll: The managed assembly 'lib/net46/Microsoft.VisualStudio.Web.CodeGeneration.Msbuild.dll' in this package is missing the 'AssemblyDescription' attribute.

[2016-11-03 02:22] prafullbhosale opened #323 "Pack deps.json for the CodeGeneration.Tools package"
Related aspnet/DotNetTools/pull/213

[2016-11-03 18:09] prafullbhosale commented on #322
Fixed in #324

[2016-11-03 18:09] #322 closed

[2016-11-04 21:19] prafullbhosale opened #330 "Add DotNetCliTool Package type to CodeGeneration.Tools package"
This will enable NuGet to install this package as a CLI tool to the project.

[2016-11-04 21:31] natemcmaster commented on #330
Since dotnet-pack for PJ doesn't support this yet, our other tools do this with .nuspec + nuget.exe.

[2016-11-08 00:55] prafullbhosale opened #333 "Fix Tests that need loading assemblies on CI"
Tests disabled by b46880175edaa5d5d91a6426d0570c45c8884eae

[2016-11-11 18:37] Tratcher commented on #311
Is this happening for 1.1? The change from #310 isn't there in the 1.1 branch, but I get this error:
![image](https://cloud.githubusercontent.com/assets/1821173/20225963/e2101d10-a7fa-11e6-8005-7a2c3eaed5e6.png)

[2016-11-11 18:41] Tratcher commented on #311
Manually adding the `"Microsoft.DotNet.InternalAbstractions": "1.0.0",` dependency to my app works around the issue.

[2016-11-11 18:42] Tratcher commented on #311
Repro steps: Right-click Controllers, Add, Controller

[2016-11-11 19:05] NTaylorMullen opened #334 "1.1.0-preview4 scaffolding explodeds with Could not load file or assembly 'Microsoft.DotNet.InternalAbstractions'."
After upgrading your application to `1.1.0` (our current verification bits) attempting to scaffold a controller results in:

![image](https://cloud.githubusercontent.com/assets/2008729/20226809/77899922-a7fe-11e6-90f9-834a90a72e49.png)

We encountered this in the last verification process and ended up fixing it by adding a direct package reference to `Microsoft.DotNet.InternalAbstractions`. That f

[2016-11-11 19:07] pranavkm commented on #334
Doesn't look like https://github.com/aspnet/Scaffolding/commit/94a73fc282710f04ea6547f7fc39d7f0fa465b09 was merged back in to dev.

[2016-11-11 19:10] dougbu commented on #334
Also shouldn't the project.json file use the latest IIS integration tools?
[code]

[2016-11-11 19:16] NTaylorMullen commented on #334
@dougbu wasn't on the feed when I built the project 😄 is now.

[2016-11-11 19:19] mlorbetske commented on #334
@pranavkm the 1.1.0 package for scaffolding we're testing with is being built from the rel/1.1.0 branch right?

[2016-11-11 19:21] pranavkm commented on #334
The changeset needs to be cherry-pick to `rel/1.1.0` and then merged in to `dev`.

[2016-11-11 19:56] prafullbhosale commented on #334
The commit wasn't merged to dev in the hopes that dev would be used for Msbuild based development. I will move the commit to this branch shortly.

[2016-11-11 19:57] pranavkm commented on #334
Fixed in https://github.com/aspnet/Scaffolding/commit/3adfd92312a6f2cbe0ed31258ea04fe72f5a5193

[2016-11-11 19:57] #334 closed

[2016-11-11 20:02] Tratcher commented on #334
https://github.com/aspnet/Scaffolding/issues/311

[2016-11-16 01:09] prafullbhosale opened #338 "Scaffolding broken for net45x projects"
On a project that targets net45x run

`dotnet aspnet-codegenerator -p . controller -name EmptyController`

It fails with the error

[code]

cc @vkichline

[2016-11-16 01:15] prafullbhosale opened #339 "Scaffolding Controller with EF broken for projects targeting net4x"
On a project targeting net4x run
`dotnet aspnet-codegenerator -p . controller -name CarController -m WebApplication1.Models.Car -dc WebApplication1.Data.ApplicationDbContext`

It fails with error

[code]

cc @vkichline

[2016-11-16 17:20] prafullbhosale commented on #338
### Workaround
Add Reference to Microsoft.CSharp in the project.
[code]

[2016-11-18 01:47] prafullbhosale commented on #339
Fixed in e28f8308da1d96faf6a089f820242eb0820ef4db

[2016-11-18 01:47] #339 closed

[2016-11-18 19:15] prafullbhosale commented on #338
Fixed in: https://github.com/aspnet/Templates/pull/719

[2016-11-18 19:15] #338 closed

[2016-11-19 02:16] smitpatel opened #342 "Scaffolding MVC controller using EF crashes for 1.1"
Repro steps:
1. Create new web application using individual accounts. (I am using .Net Core Preview 2 tooling).
This will generate template web app using 1.0.0 packages.
2. Update all packages to 1.1.0/1.1.0-preview4-final as applicable.
3. Add new class Post.cs under models. (any properties are fine).
4. Right click controllers folder, Add->Controller, MVC controller with views, using Entity Fram

[2016-11-21 20:17] prafullbhosale commented on #342
@smitpatel Could you provide the error message as well?

I tried it with the configuration you mentioned.
I did not hit any issues while scaffolding.
The only additional step I did was to install the [.Net Core 1.1](https://www.microsoft.com/net/download/core)

[2016-11-21 20:25] smitpatel commented on #342
While using VS dialogue box, the controller was not created. Running command as shown up, brings up system dialogue box of program failure.

[2016-11-21 20:58] prafullbhosale commented on #342
I see, can you provide more information regarding the OS and dotnet cli version?

[2016-11-21 21:06] smitpatel commented on #342
Following is the dotnet by default from `global.json`
[code]
I also tried using newer dotnet
[code]

[2016-11-22 21:41] prafullbhosale opened #343 "Improve error message for the case where the model passed in for scaffolding is not a valid EF model"
trying to scaffold using the below model

[code]

throws and error

`There is no entity type SimpleModel on DbContext` which doesn't help the user correct the problem.

The problem with the model is that it is not a valid EF model, since it is missing a property that is denoted (or detected) as a `Key`

Changing the model as below makes scaffolding work:

[code]

Or

[code]

[2016-11-22 23:19] kwameg-a opened #344 ".Net core controller scaffolding in Visual Studio gives this error - a screen-shot enclosed."
![the_error](https://cloud.githubusercontent.com/assets/5632690/20545904/c3905248-b109-11e6-932b-44c67760415d.png)

[2016-11-22 23:55] prafullbhosale commented on #344
@kwameg-a Can you provide more information regarding the project and the version of `Microsoft.VisualStudio.Web.CodeGeneration.Tools` in the project?

[2016-11-24 01:49] kwameg-a commented on #344
Please find below the tools section of the project.json file:
"tools": {
    "Microsoft.AspNetCore.Razor.Tools": "1.0.0-preview2-final",
    "Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.0.0-preview2-final",
    "Microsoft.EntityFrameworkCore.Tools": "1.0.0-preview2-final",
    "Microsoft.Extensions.SecretManager.Tools": "1.0.0-preview2-final",
    "Microsoft.VisualStudio.Web.CodeGenerati

[2016-11-30 19:10] prafullbhosale opened #347 "Getting project information fails if transitive project references have different relative paths"
[code]

Library1 has
[code]
RootProject has
[code]

Running `dotnet-aspnet-codegenerator -p RootProject.csproj -controller -name EmptyController`
Fails to get ProjectContext

[2016-11-30 23:24] prafullbhosale commented on #344
@kwameg-a
Is the project using the 1.1.x version of the aspnet packages? If so you would need to update the version of `Microsoft.VisualStudio.Web.CodeGeneration.Tools` package to `1.1.0-preview4-final`
Alternatively, can you try adding the `Microsoft.DotNet.InternalAbstractions` to the project?

[2016-12-05 20:11] prafullbhosale opened #349 "Move away from using Microsoft.Dotnet.Cli.Utils in CodeGeneration.Tools package"
Related https://github.com/dotnet/cli/issues/4745

[2016-12-05 23:37] prafullbhosale opened #350 "Upgrade CLI.Utils package to 4215"
With the sdk changes, scaffolding fails with the below error:

[code]

To fix this, the `Microsoft.Dotnet.Cli.Utils` package needs to be updated to version `1.0.0-preview4-004215`

### Sample Project

[code]
### Repro steps
1. Run `dotnet restore` on the above project
2. In the project folder, run `dotnet aspnet-codegenerator -p <projectname>.csproj controller --controllerName EmptyController`

##

[2016-12-05 23:41] prafullbhosale commented on #350
cc @mlorbetske, @barrytang

[2016-12-06 00:09] piotrpMSFT commented on #350
/cc @livarcocc

[2016-12-06 00:19] piotrpMSFT commented on #350
Ok, think I see what's going on.

The code that is throwing looks at MSBuild evaluation results to find the path to an output file. This means that MSBuild loads the csproj file, evaluates it, and gives back a property.

The MSBuild referenced by the older utils package is not aware of the SDK attribute. It therefore does not pull in the SDK and does not have access to the property. It gives back

[2016-12-06 19:12] prafullbhosale commented on #350
https://github.com/aspnet/Scaffolding/commit/ffb59b0edce5c047c6ccd044c58a7510a0736350

[2016-12-06 19:12] #350 closed

[2016-12-07 17:41] prafullbhosale opened #355 "Add prefercliruntime file to CodeGeneration.Tools package"
Need to add an empty file named 'prefercliruntime'
This file should be in the root of the NuGet package.

[2016-12-07 18:24] prafullbhosale opened #357 "Downgrade tools to target Microsoft.NETCore.App 1.0.0"
see https://github.com/aspnet/Coherence/issues/141

[2016-12-09 16:02] wstaelens commented on #342
same problem. can't add a controller now.
My config:
[code]

[2016-12-09 22:47] #357 closed

[2016-12-09 22:47] #355 closed

[2016-12-09 22:48] prafullbhosale commented on #347
Fixed as part of #348

[2016-12-09 22:48] #347 closed

[2016-12-09 22:48] #343 closed

[2016-12-09 22:52] prafullbhosale commented on #342
@wstaelens ,looks like your project.json is missing the `Microsoft.VisualStudio.Web.CodeGeneration.Tools` package in the `tools` section.

Can you try to add the below to the tools section and see if it works?

[code]

[2016-12-09 23:19] #298 closed

[2016-12-11 14:22] wstaelens commented on #342
Thanks @prafullbhosale I also had to reinstall the runtime https://www.microsoft.com/net/download/core#/current/runtime

[2016-12-14 01:06] prafullbhosale commented on #330
https://github.com/aspnet/Scaffolding/commit/a5b65f47c88873c93f70a9e698a71d7bb001d56d

[2016-12-14 01:06] #330 closed

[2016-12-14 01:06] prafullbhosale commented on #323
Fixed in https://github.com/aspnet/scaffolding/tree/feature/msbuild

[2016-12-14 01:06] #323 closed

[2016-12-14 15:44] HADB commented on #287
What's meaning of checking Id==model.Id? 🤔

[2016-12-14 22:19] Eilon opened #360 "[Feature] Scaffold ViewComponent"
_From @RandyBuchholz on December 14, 2016 16:48_

This may be in the works. I didn't see an item for it, so I thought I would add one. In Visual Studio it would be nice to have -> Add New Item -> .Net Core -> ASP.NET -> MVC ViewComponent that would add a folder, ViewComponent Class, and .cshtml page for us.

_Copied from original issue: aspnet/Mvc#5616_

[2016-12-15 01:06] prafullbhosale opened #362 "[Tracking] Deprecate DotnetToolDispatcher sources package."
This is a tracking issue to deprecate the DotNetToolDispatcher sources package once the feature/msbuild branch of scaffolding is merged to dev.

cc @natemcmaster

[2016-12-19 12:32] Vikaskumargd commented on #251
i am using v1.1.0 and **this issue is still there**

[2016-12-19 18:20] prafullbhosale commented on #251
@Vikaskumargd  can you provide the project.json for your projects?

[2016-12-19 18:31] Vikaskumargd commented on #251
[code]

[2016-12-19 18:32] Vikaskumargd commented on #251
@prafullbhosale  above json is from project.json of Main project

[2016-12-19 18:33] Vikaskumargd commented on #251
[code]

and this one is from my entities project

[2016-12-20 21:14] Vikaskumargd commented on #251
can anyone please  help me on this ?

[2016-12-20 22:18] prafullbhosale commented on #251
@Vikaskumargd I was able to scaffold a controller below.

[code]

Can you share the command line and the error that you are getting?

[2016-12-20 22:23] prafullbhosale commented on #349
https://github.com/aspnet/Scaffolding/commit/99e0e1a284d8ce22a03c5435626a82418e39143c

[2016-12-20 22:23] #349 closed

[2016-12-21 11:18] Vikaskumargd commented on #251
@prafullbhosale  currently i am using visual  studio 2015 update 3 and trying to create Views by right click on Views folder and i will send you error after  6 PM UTC.

[2016-12-21 18:06] Vikaskumargd commented on #251
![screenshot 8](https://cloud.githubusercontent.com/assets/7469181/21400425/f71265ec-c7d5-11e6-90bf-270471aecf56.png)

[2016-12-21 18:15] prafullbhosale commented on #251
@Vikaskumargd  The commandline and more detailed output should be available in the output window.
Looking at the error, it looks like scaffolding tried to edit the DbContext (I am assuming you used ApplicationDbContext) and failed. The edit to add a `DbSet<>` property to the DbContext if it doesn't exist, but in your case it looks like the ApplicationDbContext already contains properties for `Pric

[2016-12-21 18:31] Vikaskumargd commented on #251
Thanks @prafullbhosale

the output :-
[code]

[2016-12-21 19:39] prafullbhosale opened #365 "EF based scaffolding should succeed if DbContext in dependency projects do not need editing"
Related: https://github.com/aspnet/Scaffolding/issues/251#issuecomment-268040670

[2016-12-21 19:40] prafullbhosale commented on #251
Thanks @Vikaskumargd, The problem is with the DbContext being in the library, not the model classes.
The DbContext in libraries isn't supported fully because editing it is not possible, however, it is possible to make it work if no edits are needed.
I have filed https://github.com/aspnet/Scaffolding/issues/365 to enable this scenario.
As a workaround for now, you can try to move the DbContext to t

[2016-12-21 19:57] Vikaskumargd commented on #251
Thanks a lot @prafullbhosale it works like a charm 👍 👍 .
So what I get is that the main project is not have enough permissions to edit the files of other class libraries or something like that. Is this correct?

[2016-12-21 20:15] prafullbhosale commented on #251
Well to put it in a clearer way, scaffolding treats classes from all dependencies of the main project as non-editable, as the sources are not really part of the project.

[2016-12-21 20:32] Vikaskumargd commented on #251
Ok but i am getting a issue when i moved ApplicationDbContext  file in main project .Its dependent projects give me an error of reference not found  and when i referenced project using Add Reference it gives me error of circular reference .

[2016-12-28 17:47] witoong623 opened #370 "scaffolding MVC controller error"
Hi, I got this error when I tried to scaffold MVC controller
![devenv_2016-12-29_00-38-54](https://cloud.githubusercontent.com/assets/7780215/21527703/87279ce0-cd5f-11e6-8f7c-0f85319313d4.png)
This is my project.json

    "BundlerMinifier.Core": "2.2.306",
    "Microsoft.AspNetCore.Authentication.Cookies": "1.1.0",
    "Microsoft.AspNetCore.Diagnostics": "1.1.0",
    "Microsoft.AspNetCore.Diagnost

[2016-12-29 18:24] pranavkm opened #371 "Re-enable tests in the dev branch once shared runtime version is sorted"
This might not be relevant once we merge the msbuild branch in to dev, but tests are broken due to https://github.com/dotnet/corefx/issues/14696. Disabling these to unblock the build.

[2016-12-31 00:51] Eilon opened #372 "Errors creating new Api Controller"
_From @MartinMason on December 30, 2016 23:31_

Creating a new AspNetCore project in Visual Studio 2015, add a new class, try to create a new scaffolded Api Controller, this error is received. I can reproduce everything stated in this post. Have tried every solution produced and nothing works. Creating an empty Api controller succeeds. Tooling preview 2 is dire need of an update.

http://stackover

[2016-12-31 03:22] witoong623 commented on #370
I fixed it by change project target from `net46` to `net461`.

[2016-12-31 03:22] #370 closed

[2016-12-31 13:28] MartinMason commented on #372
I'm not exactly sure what I did to resolve this issue as it's now gone away. The following steps were executed.

- Deleted files in the ComponentModelCache folder and let VS rebuild them: C:\Users\{UserName}\AppData\Local\Microsoft\VisualStudio\14.0\ComponentModelCache

- Updated tooling from this link: https://www.microsoft.com/net/download/core

- Properly configured DbContext following this lin

[2016-12-31 21:50] Eilon commented on #372
Ok!

[2016-12-31 21:50] #372 closed

[2017-01-04 22:16] prafullbhosale opened #373 "Scaffolding a controller with entityframework fails if AddUserSecrets<Startup> method is used"
If the Startup.cs has

[code]

scaffolding a controller with entityframework fails with the error
`No parameterless constructor was found for the DbContext`

[2017-01-06 22:44] mlorbetske commented on #216
There hasn't really been much demand for writing custom code generators & this is an easy enough guideline to set for the time being. Longer term, more of the model of how scaffolding interacts with  the project will change, making this not necessary.

[2017-01-06 22:44] #216 closed

[2017-01-11 03:20] prafullbhosale commented on #373
d886b22b7a5ede3f70636b204df94bad5e6b24ab

[2017-01-11 03:20] #373 closed

[2017-01-11 03:32] prafullbhosale commented on #305
This is fixed in `1.0.0-msbuild2-final` and later

[2017-01-11 03:32] #305 closed

[2017-01-11 03:34] prafullbhosale commented on #272
Blocked by: https://github.com/dotnet/roslyn/issues/16040

[2017-01-11 03:36] prafullbhosale commented on #205
Closing this.

Currently we have a `Microsoft.VisualStudio.Web.CodeGeneration.Design` package in the templates that is needed for scaffolding.

[2017-01-11 03:36] #205 closed

[2017-01-11 03:38] prafullbhosale commented on #304
The versioning is fixed now. We have both 1.0.0-* and 1.1.0-* packages for scaffolding.

[2017-01-11 03:38] #304 closed

[2017-01-12 22:03] pholly opened #377 "Scaffolding fails System.IO.FileTooLongException"
Visual Studio 2015
ASP.NET core 1.1
.NET framework 4.6.2

If there are nested folders in your project that exceed max file/path length scaffolding will fail on the Build step. I used Visual Studio to try to scaffold a Entity Framework Controller. I had a `node_modules` folder that had folders nested way too deep.

Verified that when I deleted the `node_modules` folder I was able to add a EF contro

[2017-01-18 06:31] scottaddie opened #381 "Solution crashes VS 2017 RC3"
I updated the `feature/msbuild` branch in my fork of the repo. I then opened the solution in VS 2017 RC3 and opened file `src\Microsoft.VisualStudio.Web.CodeGenerators.Mvc\Templates\ViewGenerator\Edit.cshtml`. About 5 seconds later, the IDE crashed and restarted:

![scaffolding_crash](https://cloud.githubusercontent.com/assets/10702007/22053287/8da848da-dd04-11e6-8290-170f21a2a895.png)

@prafullbh

[2017-01-19 00:08] natemcmaster commented on #381
feature/msbuild is currently only compatible with RC.2. We are working to upgrade to RC.3 but have run into blocking issues in RC.3, such as https://github.com/NuGet/Home/issues/4321

[2017-01-20 01:51] #308 closed

[2017-01-20 17:36] #365 closed

[2017-01-20 19:41] natemcmaster opened #388 "Rename buildCrossTargeting to buildMultiTargeting"
Some packages still use 'buildCrossTargetting'. This was renamed to buildMultiTargeting in NuGet 4.0.0-rc3. https://github.com/NuGet/Home/issues/4098

cc @prafullbhosale

[2017-01-20 21:06] scottaddie commented on #381
Confirmed that this was fixed by https://github.com/aspnet/Scaffolding/pull/387

[2017-01-20 21:06] #381 closed

[2017-01-20 21:36] natemcmaster commented on #362
We can do this now, right?

[2017-01-20 23:44] prafullbhosale commented on #362
Yes, dev branch is now up-to date with the msbuild changes.

[2017-01-20 23:46] prafullbhosale commented on #282
This is fixed in `dev`

[2017-01-20 23:46] #282 closed

[2017-01-23 18:56] pranavkm opened #389 "Microsoft.VisualStudio.Web.CodeGeneration.Msbuild is missing tags"
0 error(s) and 1 warning(s) found with package Microsoft.VisualStudio.Web.CodeGeneration.Msbuild (1.0.1-alpha-23206)
NUSPEC_TAGS: NuSpec Tags attribute is missing

[2017-01-23 18:57] pranavkm commented on #389
@prafullbhosale could you have a look?

[2017-01-23 22:14] prafullbhosale opened #390 "Scaffolding Fails if the DbContext has a property named as the model being scaffolded but of different type"
If the DbContext has this `DbSet` property
[code]
and we now try to scaffold using a Model class named `Data`, scaffolding fails to add this to the DbContext as a property already exists with the name `Data`

Scaffolding should try to come up with a different name for the new property.

[2017-01-24 00:20] #389 closed

[2017-01-24 21:46] #390 closed

[2017-01-25 22:51] jmurphzyo opened #394 "extensibility documentation"
I was wondering if any documentation was in the works of how extensibility for this library would work. i.e custom views that aren't cshtml files and so on.

[2017-01-31 01:09] #388 closed

[2017-02-03 06:54] KiranKumarH opened #398 "Column ordering - ASP.NET Core/EF core Scaffolding"
Hi,

I’m following the below article to create a sample asp.net core project.
[https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro](url)

I’m trying to generate the controllers and views using the scaffolding option (Add->NEW Scaffolded Item->MVC5 Controller with views, using EF) available when I right click on the controllers directory.

I see the views generated is having the controls

[2017-02-03 18:19] rowanmiller commented on #398
BTW for scaffolding you could look at using reflection order that the properties are defined on the CLR type... then filtered down to the properties that are part of the EF model. We don't do this in EF, because reflection isn't guaranteed to give you the same order they are defined in code. This has caused quite a number of bugs when a different CPU architecture results in a different property or

[2017-02-03 18:20] rowanmiller commented on #398
BTW - here is a related feature request in EF Core, where we plan to store column order as a separate concept than the order of properties in the model - https://github.com/aspnet/EntityFramework/issues/2272.

[2017-02-06 01:41] randelllamont commented on #305
Even with `1.0.0-msbuild2-final` I still got the issue. @DaniJG solution worked for me.

[2017-02-06 17:18] prafullbhosale commented on #394
@jmurphzyo, here is a sample custom scaffolder that works with `project.json` based projects
It should serve as a good starting point on how to write custom scaffolders.
For supporting MsBuild based projects the idea is similar,
you would need to use the MsBuild version (`1.0.0-msbuild3-final`) of `Microsoft.VisualStudio.Web.CodeGeneration` dependency instead of
https://github.com/prafullbhosale/C

[2017-02-07 18:21] prafullbhosale commented on #398
@KiranKumarH can you provide the version of `Microsoft.VisualStudio.Web.CodeGeneration.*` packages in your project?

This should have been fixed in version `1.0.0-preview4-final` for VS2015.

[2017-02-07 18:24] prafullbhosale opened #399 "Make consistent use of TagHelpers across all View templates"

[2017-02-08 06:15] KiranKumarH commented on #398
Hi Prafull,

Thanks for the email!

I have updated the "Microsoft.VisualStudio.Web.CodeGeneration.*" package to "1.0.0-preview4-final " from "1.0.0-preview2-final".

After the nugget package update I see the below error while generating the scaffolding. let me know if I'm missing something.

![image](https://cloud.githubusercontent.com/assets/25523273/22725420/5e9c2f2a-edf3-11e6-8a71-aed56b1baa73.

[2017-02-08 19:26] prafullbhosale commented on #398
@KiranKumarH,

The project.json is missing an entry in the `tools` section and also the version of scaffolding packages needs to be changed:

[code]

Note that for project.json based projects, the package `Microsoft.VisualStudio.Web.CodeGeneration.Tools` needs to be present in both the `tools` and `dependencies` section and both the versions need to match.

[2017-02-09 09:35] KiranKumarH commented on #398
Hi Prafull,

Thanks for the update!

I have added the suggested changes to the project.json and I see the below error now.
![image](https://cloud.githubusercontent.com/assets/25523273/22774263/6601ae96-eecc-11e6-818a-2f5b639a9ae8.png)

Could you please modify the below project and let me know what i'm missing?
[TestCore.zip](https://github.com/aspnet/Scaffolding/files/763197/TestCore.zip)

Thanks

[2017-02-12 02:07] jamesqo opened #402 "Visual Studio can't find dotnet-aspnet-codegenerator-design"
Hi, I'm currently learning ASP.NET. I have been following the tutorials at https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/adding-model. When I try to create a Controller as described in the tutorial, I run into this error:

![aspnet](https://cloud.githubusercontent.com/assets/9159214/22859050/c7a91328-f09d-11e6-8e24-7a7862e0dd54.PNG)

I have googled about this and found [this

[2017-02-12 02:28] prafullbhosale commented on #402
@jamesqo, for `csproj` based project system, you need to have the below in your project:

[code]

Also make sure that the below packages are not referenced in the project as `PackageReferences`:

`Microsoft.VisualStudio.Web.CodeGenerators.Mvc`
`Microsoft.VisualStudio.Web.CodeGeneration.Tools`

Let me know if this helps.

[2017-02-13 17:16] prafullbhosale commented on #398
@KiranKumarH,
I am assuming you are trying to use the `TestCore.Data.SchoolContext` class as your DbContext for this scaffolding.

You need to register this DbContext in the Startup.cs class in the `ConfigureServices` method.

Current method:

[code]
Add the below line in the `ConfigureServices` method
[code]
and add an appropriate connection string in the `appsettings.json`

With the above change

[2017-02-14 08:00] KiranKumarH commented on #398
@prafullbhosale

I tried generating the views and controls with the suggested changes and I still see the contents of the view generated in the alphabetical order. I have tried generating the scaffolding using both command and visual studio.
_Ex:- Command_ : **dotnet aspnet-codegenerator -p project.json controller --force --controllerName StudentsController --model Core1.Models.Student --dataConte

[2017-02-14 17:50] prafullbhosale commented on #398
@KiranKumarH,
My previous [comment](https://github.com/aspnet/Scaffolding/issues/398#issuecomment-278092922)  was incorrect.

This fix did not make it into the `1.0.0-preview4-final` version

It was fixed later for VS 2017 in `1.0.0-msbuild1-final` version.

Sorry about the confusion.

[2017-02-15 06:08] KiranKumarH commented on #398
@prafullbhosale

Thanks for the update.

is there a way to implement it in VS 2015? if yes, could you please modify the sample and share it with me.

Thanks,
Kiran

[2017-02-15 18:41] prafullbhosale commented on #398
This is expected. The packages with version `1.x-msbuild*` will **NOT** work with VS 2015 (or project.json based projects.)

Modifying the project in this case won't help, as the scaffolders will internally sort them alphabetically anyways.

[2017-02-18 03:46] jamesqo commented on #402
@prafullbhosale Thank you very much for your help. I followed your advice and this error isn't occurring anymore. However, now I'm getting a different stack trace:

![stacktrace](https://cloud.githubusercontent.com/assets/9159214/23090075/e05d5266-f562-11e6-8cdb-dbb2a305180b.PNG)

[2017-02-21 07:09] jamiewest commented on #402
Here is what I had to do to get this library working using .csproj. using VS Code with cli 1.0.0-rc4-004771.

1. Add @prafullbhosale example for adding the design package.
2. Add the following to fix the "Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0" error I was receiving. @jamesqo I am not sure if this step will help in VS but who knows...

[code]
My final product looked like

[2017-02-23 04:32] jamiewest opened #407 "Scaffolding using separate assemblies for model/context"
Scaffoling using dotnet aspnet-codgenerator --_commands_ only seems to work if the model and DbContext are located in the same assembly as the Mvc app.

## Steps to reproduce
[code]
## Expected behavior
[code]

## Actual behavior
[code]
## Environment
dotnet --info output:
[code]
.csproj file
[code]

[2017-02-23 18:45] prafullbhosale commented on #407
@jamiewest
With `1.0.0-msbuild3-final` (and `1.1.0-msbuild3-final`) version of scaffolding you could have the model in another assembly, but the DbContext had to be in the same assembly as the MVC app.

This has already been fixed for `1.0.0` and `1.1.0` versions.
These versions will be available on NuGet.org with the VS2017 RTW release.

[2017-02-25 20:11] martinalderson opened #409 "Possible to use on Mac?"
Either with VSCode or VSMac?

[2017-02-27 19:32] prafullbhosale commented on #409
@martinalderson Currently VSCode and VSMac do not have the feature to use scaffolding.
But scaffolding can be done using command line.

From the project folder run the below commands:
`dotnet aspnet-codegenerator --project <projectname>.csproj -h`
#### For scaffolding controllers
`dotnet aspnet-codegenerator --project <projectname>.csrproj controller -h`
#### For scaffolding views
`dotnet aspnet-c

[2017-02-27 19:37] martinalderson commented on #409
Can this be done on an entity by entity basis on the command line?

On 27 Feb 2017 7:32 p.m., "prafullbhosale" <notifications@github.com> wrote:

[2017-02-27 19:49] prafullbhosale commented on #409
Not sure if I understood your question correctly, but you can scaffold controllers/ views based on EF models.

[2017-03-01 02:30] Eilon opened #410 "codegen crashes if out param variable is created in function call"
_From @ghosttie on February 28, 2017 23:46_

If I create an out param variable in the function call:

[code]

I get this exception:

but if I declare the variable separately:

[code]
there's no exception.

_Copied from original issue: aspnet/Mvc#5869_

[2017-03-01 02:30] Eilon commented on #410
@ghosttie is this happening while you're running the "Add View" or "Add Controller" scaffolding feature?

[2017-03-01 02:30] Eilon commented on #410
_From @ghosttie on March 1, 2017 1:32_

"Add Controller" - sorry, should have specified

[2017-03-03 02:32] scottaddie opened #411 "VS 2017: Scaffolding on Controllers folder results in additional MVC master layout"
Here are the steps to reproduce in VS 2017 Enterprise (26228.0):
1. Use the **ASP.NET Core Web Application (.NET Core)** project template to create a new ASP.NET Core 1.1 **Web Application** with **No Authentication**.
1. Right-click the `Controllers` folder in Solution Explorer, and select **Add** > **New Scaffolded Item...**.
1. With the **Full Dependencies** radio button selected, click the **A

[2017-03-03 03:12] scottaddie opened #412 "VS 2017: Loading solution results in crippling object reference error"
In VS 2017 Enterprise (26228.0), I see the following error as the `dev` branch's solution is loading:

![object_ref](https://cloud.githubusercontent.com/assets/10702007/23536724/85034798-ff8c-11e6-9da1-5fbea6ce6968.png)

All projects seemed to have loaded successfully in Solution Explorer.

The text file referenced in the error message contains the following:

[code]

/cc: @morrisjoe

[2017-03-03 04:39] jamiewest commented on #407
Thanks @prafullbhosale, I just want to clarify, are you saying with the VS2017 RTW release we will be able to scaffold using a DbContext located in a separate assembly?

[2017-03-03 06:09] mlorbetske commented on #411
@prafullbhosale can you take a look please?

[2017-03-03 06:13] mlorbetske commented on #412
@srivatsn any ideas on this one?

[2017-03-03 18:23] prafullbhosale commented on #407
@jamiewest, yes that is correct. The DbContext being in a separate assembly should be fine.
However, please note that if the DbContext editing (to add the `DbSet<>` property is not supported in this case)
The below matrix shows which cases are supported based on the DbContext's location.

DbContext location | Creating new DbContext | Adding DbSet<> to DbContext | Using DbContext as is
------------

[2017-03-03 18:29] prafullbhosale commented on #411
This is a bug in the Core Dependency scaffolder in VS.
Have filed a TFS bug to track it.

[2017-03-03 21:53] srivatsn commented on #412
Yes this is https://github.com/dotnet/roslyn-project-system/issues/1499 that's been fixed post RTM.

[2017-03-05 03:44] jaxxon33 commented on #305
Thanks for this @DaniJG, had me stumped for a while and all packages up to date

[2017-03-06 18:23] #362 closed

[2017-03-07 06:18] ali-raza-iftikhar opened #413 "Creating T4 Template in .netcore"
Hi i am totally lost. How to write a T4 template for .net core. and what will be dependencies and what will be the scaffolding command for this template.
I am doing development in VS2015 Windows.

[2017-03-07 17:11] #412 closed

[2017-03-09 21:02] prafullbhosale commented on #409
Closing this. Feel free to re-open if there are any more questions.

[2017-03-09 21:02] #409 closed

[2017-03-11 18:59] mlorbetske opened #416 "Scaffolding fails with could not load System.Runtime version 4.2.0.0"
From @twsouthwick at https://github.com/aspnet/Tooling/issues/1009

After removing the environment variable in #1008, I'm still getting an error, although a different one.

# Steps to reproduce
- Launch VS (I'm using a clean install of 15.0.26228.0)
- Create an ASP.NET Core application (.NET Core App 1.1)
- In project view, right click Controllers ->Add->New Scaffolded Item and then select MVC Con

[2017-03-11 19:01] mlorbetske opened #417 "When scaffolding a data view in VS, I get duplicated key error for DOTNET_SKIP_FIRST_TIME_EXPERIENCE"
From @twsouthwick (via @piotrpMSFT and @srivatsn) at https://github.com/aspnet/Tooling/issues/1008 (via dotnet/cli#5887 and dotnet/roslyn-project-system#1668)

## Steps to reproduce
- Set DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 as an environment variable
- Launch VS (I'm using 15.0.26228.0)
- Create an ASP.NET Core application
- In project view, right click `Controllers ->Add->New Scaffolded Item` and

[2017-03-14 05:35] capadong opened #418 "Page encoding changed automatic"
Creating some page by Scaffolding in vs2017.
The page encoding is UTF8  default.
But,it will automatically changed to ANSI  when clicking `ctrl + s` with  Chinese characters.

[2017-03-14 17:38] prafullbhosale opened #419 "Debugging scaffolding .net core"
From @ali-raza-iftikhar on https://github.com/prafullbhosale/EmptyControllerAndViewScaffolder/issues/1
What is the way to debug scaffolding?

[2017-03-14 17:46] prafullbhosale commented on #419
@ali-raza-iftikhar, the below steps are what I use for debugging.
Let me know if you hit any issues with this.

#### Steps for debugging
1.	Add the above line of code in a place that is before where you want the first breakpoint.
[code]
2.	Build the packages (run ‘build /t:compile’ on the repo)
3.	Create a new web project (or use an existing one).
a.	Add a new NuGet.config file to point to the art

[2017-03-15 00:23] prafullbhosale opened #421 "Migrate to using Razor.Evolution for templating."

[2017-03-15 07:23] ali-raza-iftikhar commented on #419
I will try. but thanks in advance for writing detailed explanation.

[2017-03-15 21:05] mlorbetske commented on #418
@capadong could you elaborate on the type of page you created and was it added via the "Add Scaffolded Item" gesture? Also, is this a .NET Core project?

[2017-03-15 21:07] mlorbetske commented on #416
@twsouthwick could you try clearing your NuGet cache please? You can find the button to do this at the bottom of the settings page in `Tools -> Options -> NuGet Package Manager -> General`

[2017-03-15 21:12] mlorbetske commented on #413
Hi @ali-raza-iftikhar, as mentioned in dotnet/templating#408, this repo is for the scaffolding experience for .NET Core that uses Razor to do the templating (rather than T4) and there is no plan to add support for T4 here. I'd suggest filing an issue on [Connect](https://connect.microsoft.com/), but I'm not aware of any command line tooling for T4 and .NET Core.

[2017-03-15 21:12] #413 closed

[2017-03-15 21:16] mlorbetske commented on #410
@sayedihashimi it sounds like this is an issue with attempting to use C# 7 features in projects that scaffolding is dependent on in the case that the project targets something lower than `net46`. Would the appropriate course of action here be to drop support for scaffolding in projects that target a lower full framework than 4.6?

[2017-03-15 21:16] #407 closed

[2017-03-15 21:18] #402 closed

[2017-03-15 21:18] #398 closed

[2017-03-15 21:18] #394 closed

[2017-03-15 21:21] mlorbetske commented on #377
Thanks for the heads up, passing `--no-build` in this situation (after having otherwise built your application) is the appropriate course of action

[2017-03-15 21:21] #377 closed

[2017-03-15 21:22] mlorbetske commented on #360
@sayedihashimi thoughts?

[2017-03-15 21:23] mlorbetske commented on #344
Closing this due to lack of activity & a proposed solution existing, please re-open if this is in error

[2017-03-15 21:23] #344 closed

[2017-03-15 21:23] #342 closed

[2017-03-16 04:55] lordfkiller opened #422 "Package 'Microsoft.VisualStudio.Web.CodeGeneration.Tools 1.0.0' has a package type 'DotnetCliTool' that is not supported by project 'PROJECT_NAME'."
When trying to scaffold a controller (ApiControllerWithContextScaffolder), I get this error: 'No executable found matching command "dontnet-aspnet-codegenerator"'. I'm trying to install Microsoft.VisualStudio.Web.CodeGeneration.Tools using NuGet on Visual Studio 2017 CE. But I get the above error message.

[2017-03-16 16:48] prafullbhosale opened #423 "Creating duplicate files on selecting opting "Add MVC Dependencies"?"
From @nithinbandaru1 on https://github.com/dotnet/core/issues/514

Hi,
When I am trying to create new controller for first time it gives me option to add mvc dependencies with two options as shown in image below.
![full dependencies](https://cloud.githubusercontent.com/assets/25755972/23202805/ce27add4-f905-11e6-8394-4e64745c37e0.PNG)

Now when I select full dependencies option it is adding duplic

[2017-03-16 16:48] prafullbhosale commented on #423
From @danroth27 https://github.com/dotnet/core/issues/514#issuecomment-285723019
Yeah, this dialog is super confusing when you already have MVC included in a project.
@barrytang @sayedihashimi Please take a look

[2017-03-16 16:50] prafullbhosale commented on #423
From @olivier-voutat

https://github.com/dotnet/core/issues/514#issuecomment-287001601
And why entity framework is in the dependencies? I have a very special scenario where I just cannot use EntityFramework...

https://github.com/dotnet/core/issues/514#issuecomment-287002851
And in the scaffolding file it is written:
Add Scaffolding CLI tool to the project:
<ItemGroup>
<DotNetCliToolReference Incl

[2017-03-16 16:51] prafullbhosale commented on #423
@nithinbandaru1

ViewImport.cshtml though there is ViewImports.cshtml
Layout.cshtml though there is _Layout.cshtml
I think It should add those files only if the files are not present.
NOTE: This option doesn't popup when I create using Add -->New item-->Controller. It only happens when I do Add-->Controller(shortcut) .
Looks like a bug for me. Is it?

Yes, the extra files added (ViewImport.cshtml

[2017-03-16 16:56] prafullbhosale commented on #423
@olivier-voutat

The scaffolding packages have a dependency on EnitytFrameworkCore, hence the need for EF package.

For the Microsoft.VisualStudio.Web.CodeGeneration.Design package, you would need to also add the below to the csproj file manually:

[code]

The Add MVC dependencies adds this property to the csproj file before installing the package

[2017-03-16 17:03] prafullbhosale commented on #422
@lordfkiller, Installing CLI tools via NuGet is currently not supported.
You would have to add the below lines manually to the csproj file in order to install the tool.
[code]

[2017-03-17 07:08] lordfkiller commented on #422
@prafullbhosale Thanks, worked! I could have sworn that I had tried this and not once. In fact this is in a text file that Visual Studio creates the first time you try to create an MVC controller.
On a side note, I have installed Entity Framework Core, including its CLI tools (migrations, dotnet ef etc.) using NuGet.

[2017-03-17 07:14] lordfkiller commented on #422
@prafullbhosale Is the same thing supposed to work for Microsoft.EntityFrameworkCore.Tools.DotNet? I've added the line and still can't use dotnet-ef (The term 'dotnet-ef' is not recognized as the name of a cmdlet, function etc.)

[2017-03-17 16:25] prafullbhosale commented on #422
Yes, the same DotNetCliToolReference Include should work for Microsoft.EntityFrameworkCore.Tools.DotNet as well.

The only thing I can think of for dotnet-ef is that you would need to make sure that the console's working directory is the same as the project.

[2017-03-19 03:14] scottaddie commented on #423
@prafullbhosale Is this the same issue as described in https://github.com/aspnet/Scaffolding/issues/411?

[2017-03-19 15:36] capadong commented on #418
@mlorbetske  yes,i add the page through "Add Scaffolded Item".And i test another way,select "Add view..." by right click on the action in controller,same result.
 The pictures:
**before**
![image](https://cloud.githubusercontent.com/assets/8233679/24082086/d178c37a-0cfa-11e7-9700-a5fa0df58aa4.png)
**after**
![image](https://cloud.githubusercontent.com/assets/8233679/24082160/ced26418-0cfb-11e7-85b

[2017-03-20 16:21] prafullbhosale commented on #423
Yes, that is correct. Closing this as a dupe of #411

[2017-03-20 16:21] #423 closed

[2017-03-20 16:44] prafullbhosale commented on #422
Closing this now. NuGet already has an issue to look into this: https://github.com/NuGet/Home/issues/4190

[2017-03-20 16:44] #422 closed

[2017-03-22 15:06] Neurothustra commented on #344
this solution does not seem to work on an out-of-the-box .Net Core MVC project in VS2017. Project.json is replaced with csproj, and updating <DotNetCliToolReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Tools" Version="1.0.0" /> to the 1.1.0-preview4-final throws errors:

Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Micr

[2017-03-22 16:29] prafullbhosale commented on #344
@Neurothustra The 1.1.0-preview4-final versions supported project.json based projects.
For the csproj projects you would need to make a few changes:

[code]

Alternatively, if you are using VS2017 RTM version, you can just right click and 'Add new scaffolded item' on an MVC project install dependencies via:

![image](https://cloud.githubusercontent.com/assets/1521254/24208884/031a7cd2-0ee2-11e7-80

[2017-03-22 23:42] #421 closed

[2017-03-23 16:43] prafullbhosale opened #425 "Scaffolding (on 1.0 project) a view with model and without dbContext fails for Delete, Details and List templates"
Repro Steps:

1. Create a new Asp.Net Core project with Individual auth (1.0)
2. Add a model class
[code]
3. Right click Views folder -> Add View

Scaffolding fails with below error
![image](https://cloud.githubusercontent.com/assets/1521254/24259012/c35becae-0fac-11e7-849c-38adfdd1fd88.png)

[2017-03-23 18:33] prafullbhosale opened #427 "Scaffolding (on 1.1 project) a view with model and without dbContext fails for Delete, Details and List templates."
Repro Steps:
1. Create a new Asp.Net Core project with Individual auth (1.1)
2. Add a model class
[code]
3. Right click Views folder -> Add View

Scaffolding fails with below error
![image](https://cloud.githubusercontent.com/assets/1521254/24259012/c35becae-0fac-11e7-849c-38adfdd1fd88.png)

[2017-03-25 04:18] ali-raza-iftikhar commented on #419
I trying to understand the point two getting error. "'build' is not recognized as an internal or external command,". Can you explain it. I am using VS2017. Further help will be appreciated. :-)

[2017-03-25 04:42] ali-raza-iftikhar commented on #419
I have just one issue. Which i don't think belongs to you/scaffolding. But hopefully you can help me for that. I am trying to create scaffolding package from VS2017 pack. I want template folder to be included as well. How i can achieve that?

[2017-03-25 06:51] prafullbhosale commented on #419
You would need to specify the files to be included as part of the package in the csproj file.
Take a look at https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.VisualStudio.Web.CodeGenerators.Mvc/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.csproj#L13-L15

[2017-03-25 06:51] dotnetnoobie opened #430 "Could not get the reflection type for DbContext"
Error

There was an error running the selected code generator:

'Could not get the reflection type for DbContext : MyProject.Data.MyDbContext
   at Microsoft.VisualStudio.Web.CodeGeneration.ActionInvoker.<BuildCommandLine>b__6_0()
   at Microsoft.Extensions.CommandLineUtils.CommandLineApplication.Execute(String[] args)
   at Microsoft.VisualStudio.Web.CodeGeneration.CodeGenCommand.Execute(String[]

[2017-03-25 10:40] ali-raza-iftikhar commented on #419
Awesome thanks brother 👍

[2017-03-27 17:02] prafullbhosale commented on #430
@dotnetnoobie Can you share a sample project in which this issue can be repro'ed?

[2017-03-28 11:00] ali-raza-iftikhar opened #431 "Mandatory property in OptionAttribute."
Hi I want to add IsMandatory property, to write generic function for model validation on the base of this property value.
I am trying like this but its not working in my custom scaffolding

    public class MyCustomAttribute : OptionAttribute
    {
        public bool IsMandatory { get; set; }
    }

Is their a way to achieve this ? @prafullbhosale

[2017-03-29 07:15] ali-raza-iftikhar opened #432 "Create class object from reading .cs model file."
I want to read the domain model file, so i can convert it to class object and do further operation for scaffolding. Need help for achieving this. Thanks in advance.

[2017-03-29 10:51] dotnetnoobie commented on #430
@prafullbhosale I have made a new blank web project to just reproduce the issue and I found out exactly causes the error

It's a new C#7 feature that causes it when you are trying to scaffold a Controller and it's Views.

If I have a service setup in this fashion, the scaffolding works correctly

[code]

This version will cause the error to occur when I try to use scaffolding

[code]

The error oc

[2017-03-29 11:48] dotnetnoobie commented on #430
Here is the demo project [https://github.com/dotnetnoobie/ScaffoldingErrorDemo](url)
it's just bare bones to show the issue

There is a Service class called **PersonService.cs**
it has two versions of a method called **GetPeople()**
with a comment above each method saying if it works or fails with scaffolding

In the DataContext for the project are to classes which you can use to try to scaffold
*

[2017-03-29 18:48] kichalla opened #433 "Update Json.net version to 10.0.1"
We have been changing the Json.net version in other repos to 10.0.1, so let's see if we can do the same here too.

[2017-03-29 18:48] kichalla commented on #433
cc @prafullbhosale

[2017-03-29 19:56] prafullbhosale opened #434 "Enable users to scaffold non-entityframework controllers and views without needing EFCore dependency in the project."
Currently the scaffolding package `Microsoft.VisualStudio.Web.CodeGeneration.Design` has a dependency on `Microsoft.EntityFrameworkCore.Design` package.
This causes issues for users who do not want to have `Microsoft.EntityFrameworkCore.*` dependencies in their project, but would still like to scaffold views and controllers.

[2017-03-31 00:51] #434 closed

[2017-03-31 16:26] xumix commented on #430
Here is a sample with this error also. The commented works ok, if I uncomment // : IEntityBase<Guid> generator fails
[code]

[2017-04-03 20:21] prafullbhosale opened #437 "CLI tool package dependencies for 2.0"
Currently the CLI tool package targets `netcoreapp1.0` and has dependencies on packages from `1.0.x` train.
Given the requirement that the CLI tool must target `netcoreapp1.0` https://github.com/NuGet/Home/issues/4396, should the CLI Tool package dependencies be updated to use the packages from 2.0 runtime?

cc @Eilon @natemcmaster @mlorbetske @muratg

[2017-04-03 20:22] prafullbhosale commented on #437
Related https://github.com/aspnet/DotNetTools/issues/281

[2017-04-03 20:50] #433 closed

[2017-04-03 22:01] #410 closed

[2017-04-04 07:57] ali-raza-iftikhar opened #440 "Injecting my own interface in the code generator class"
[code]
What is the way to do inject ICommonInterface?

Currently getting this error
There was an error creating the code generator instance: for type "ICommonInteface"

[2017-04-04 22:12] prafullbhosale commented on #440
The best place to do this right now would be inside the constructor of your CodeGenerator class.

[code]
Then it would be available for other components.

I will look into adding an extension point that will allow custom scaffolders to register any services they would like.

[2017-04-04 22:14] prafullbhosale commented on #431
I am not sure I fully understand the question here. Is this attribute going to be used for decorating the properties of the model that will be used for scaffolding?
If so, there is an existing attribute `[Required]` which specifies the same thing.

[2017-04-04 23:28] prafullbhosale commented on #430
@dotnetnoobie the error in your case the error is due to https://github.com/aspnet/Scaffolding/issues/410

[2017-04-04 23:45] prafullbhosale commented on #430
@xumix the error in your case is also related to #410

If i change

[code]

to

[code]
and same change for `EntityGuidBase`, I am able to scaffold.

[2017-04-05 05:41] ali-raza-iftikhar commented on #431
Thanks. It worked.

[2017-04-05 08:39] xumix commented on #430
@prafullbhosale I actually target a.netcoreapp1.1, is it lower than 4.6?

[2017-04-05 12:29] joaofbbg commented on #430
I also having this issue when I use the new  C#7 feature (declaring out variables inline)
This not work
`SomeMethod(out bool param1, out string param2);`
This work:
[code]

Error Generating a View with "Data Context class" set:

C:\projects\...: error CS1003: Syntax error, ',' expected
C:\projects\...: error CS1525: Invalid expression term 'string'
C:\projects\...: error CS1003: Syntax error, ','

[2017-04-05 16:10] prafullbhosale commented on #430
@xumix, the issue is not with the target framework of your project. The Roslyn packages that scaffolding 1.0.0 and 1.1.0 depends on does not support C#7 features.
We are upgrading the Roslyn package dependencies to newer ones, however the newer Roslyn packages do not support TFM < net46 which is what the discussion in #410 is about.

[2017-04-07 22:52] Rick-Anderson opened #441 "dotnet aspnet-codegenerator scaffolder should be consistent with VS version"
`dotnet aspnet-codegenerator` generates views with
[code]
It should not nuke the layout file.

It should generate the following markup

[code]

At least that should be an option.

[2017-04-07 22:55] Rick-Anderson opened #442 "dotnet aspnet-codegenerator scaffolder should put controller in controllers folder"
`dotnet aspnet-codegenerator scaffolder` puts the controller in the project directory and the views in the correct location (*Views* folder)

`dotnet aspnet-codegenerator controller -name Controllers/MoviesController  -m Movie -dc MvcMovieContext`

puts the controller in the correct folder, but then the views are in the wrong place.

[2017-04-08 19:44] thild opened #444 "dotnet aspnet-codegenerator failing on Linux"
Hi,

I created a new webapi application with dotnet cli and I'm trying to scaffolding with dotnet aspnet-codegenerator but it's failing.

Here's the error:

[code]

my .csproj

[code]

dotnet --info
[code]

[2017-04-10 15:41] Eilon opened #445 "Remove references to Microsoft.DotNet.InternalAbstractions"
Microsoft.DotNet.InternalAbstractions was refactored and renamed as part of 1.1 to Microsoft.DotNet.PlatformAbstractions. We should update our code to no longer reference this package:

https://github.com/aspnet/Scaffolding/search?utf8=%E2%9C%93&q=Microsoft.DotNet.InternalAbstractions&type=

[2017-04-10 17:16] prafullbhosale commented on #442
@Rick-Anderson You would need to pass in `--relativeFolderPath`  option to tell which folder to generate the controller in.
[code]

[2017-04-10 17:20] prafullbhosale commented on #441
@Rick-Anderson, VS invokes the `dotnet aspnet-codegenerator`.
You would have to compare the command line parameters passed in by VS.
In this case, `--useDefaultLayout` switch will make what you need happen.

[2017-04-10 17:20] prafullbhosale commented on #431
Closing this.

[2017-04-10 17:20] #431 closed

[2017-04-10 22:31] Affix commented on #444
This also occurs on OSX

[code]

[code]

[2017-04-10 22:51] pranavkm opened #446 "Trim feeds from NuGet.config"
We shouldn't need all the additional feeds in the NuGet.config. Additional components should be mirrored so any consumer of the package doesn't have to additionally list feeds.

[2017-04-10 23:17] prafullbhosale commented on #444
@thild
Can you add the below line to your csproj and try if that works?

[code]

Also, you do not need to add the below to your project.
[code]

[2017-04-11 00:22] Eilon commented on #446
Yeah we should clean up the NuGet.config to use only the minimum references.

@pranavkm - should it have anything but what we use in the other repos, e.g. https://github.com/aspnet/Mvc/blob/dev/NuGet.config ?

[2017-04-11 00:23] pranavkm commented on #446
Once we address https://github.com/aspnet/CoreCLR/issues/180, probably not.

[2017-04-11 04:33] thild commented on #444
@prafullbhosale
I had already tried that. Same error.

I also tried this PackageTargetFallback:
[code]

[2017-04-11 17:12] prafullbhosale commented on #444
@thild, I have found the issue. I will create a PR for the fix.
In the meanwhile a workaround you can try is as below:
Locate `*.codegeneration.targets` under your `project_directory/obj/`

Replace the below
[code]

with

[code]

**Note** this file gets generated when run scaffolding the first time on a project.

[2017-04-11 17:27] Eilon commented on #425
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-11 17:41] prafullbhosale commented on #425
I am assuming the other issue for 1.1 (https://github.com/aspnet/Scaffolding/issues/427) is also approved.

[2017-04-11 18:56] Eilon commented on #425
@prafullbhosale I will approve it shortly; just waiting for the build system to be up and running for the patch.

[2017-04-11 20:03] JunTaoLuo opened #447 "Outdated Newtonsoft.Json dependency"
Our build is failing with the error:

[code]

Why is it not depending on the new Newtonsoft.Json?

cc @prafullbhosale @pakrym

[2017-04-11 20:06] JunTaoLuo commented on #447
Seems like https://github.com/aspnet/Scaffolding/commit/b61e81f2e9aaa7e159e52ecf3f9a10d8ca1867ed did not fix the issue. Though at least it's now clear what the reason for this outdated dependency is.

[2017-04-11 20:08] JunTaoLuo commented on #447
@pakrym you probably need to change the message of the exclusion instead of just the exclusion name.

[2017-04-11 20:13] JunTaoLuo commented on #447
Could be the the fix has not propagated through the builds yet since I see the message
[code]

This shouldn't be the case since the build should have already picked up the fix but I'll keep an eye on the next build.

[2017-04-11 20:15] prafullbhosale commented on #444
cc @mlorbetske @Eilon

[2017-04-11 20:19] Affix commented on #444
@prafullbhosale I can confirm your fix works on OSX :) Thanks very much

[2017-04-11 23:41] JunTaoLuo commented on #447
This is an issue with https://github.com/aspnet/Coherence-Signed/blob/dev/tools/NugetPackageVerifier.json @pakrym has volunteered to update it.

[2017-04-12 00:29] JunTaoLuo commented on #447
https://github.com/aspnet/Coherence-Signed/pull/444

[2017-04-12 00:29] #447 closed

[2017-04-12 02:27] thild commented on #444
@prafullbhosale Your fix works on Linux too. Just a casing issue? Thanks.

[2017-04-12 07:45] ali-raza-iftikhar opened #448 "Is there a way to skip building the project before scaffolding?"

[2017-04-12 17:14] Eilon commented on #427
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:29] prafullbhosale commented on #448
If the project is already built once, you can pass in `--no-build` flag. This won't rebuild the project.

[2017-04-13 05:06] ali-raza-iftikhar commented on #448
thanks :-)

[2017-04-13 17:04] muratg commented on #437
@prafullbhosale Are we tracking this for 2.0.0-preview1?  @Eilon I assume the blocking bugs are tracked with DJS?

cc @bricelam how about EF tooling?

[2017-04-13 17:31] bricelam commented on #437
Haven't checked yet...

[2017-04-13 18:24] Eilon commented on #437
We are awaiting guidance from the NuGet & CLI teams on the way to do this. It requires some changes/features that are apparently not yet done, but might be done this week.

[2017-04-14 10:18] zahik commented on #398
Added :
https://data.uservoice.com/forums/72025-entity-framework-feature-suggestions/suggestions/18936844-ef-core-migrations-column-ordering

[2017-04-18 07:49] ali-raza-iftikhar commented on #432
After working lot of work.  I have been able to read the .cs model file using
"Microsoft.CodeAnalysis.CSharp;"

var synTree = SyntaxFactory.ParseSyntaxTree(classString);
            var root = (CompilationUnitSyntax)synTree.GetRoot();
            var myClass = root.DescendantNodes().OfType<ClassDeclarationSyntax>().FirstOrDefault();

[2017-04-18 21:21] Eilon commented on #425
@prafullbhosale / @mlorbetske - do you guys have a status update on this bug? We want to get the patches done ASAP.

[2017-04-18 21:24] prafullbhosale commented on #425
The branches are setup and included in the `Coherence-Patch` builds.
Only remaining part is to bump up the versions for latest packages. Have those on PR https://github.com/aspnet/Scaffolding/pull/453 and https://github.com/aspnet/Scaffolding/pull/452

[2017-04-18 21:56] danroot opened #454 "Error 'Could not load file or assembly 'Microsoft.VisualStudio.Web.CodeGeneration.Utils, Version 1.1.0.0'"
I am attempting to scaffold a controller in an ASP.NET Core app targeting 1.1 in Visual Studio 2017 Community.  When I do, I get the error:

I've read up on similar issues, and gotten this to work in the command line on a Mac with Visual Studio Code by adding the "PackageTargetFallback" shown below. However, am unable to get this working on VS2017 on Windows 2012.

If I fiddle with the Microsoft.V

[2017-04-19 05:35] Sentinent commented on #416
Clearing the cache fixed the problem for me, could you explain why?

[2017-04-19 06:17] mlorbetske commented on #416
This comes from a bad copy of the BrowserLink package that made it in to the CLI. When scaffolding runs, it causes a restore and build to be done by the CLI, which causes its first run experience to run, which attempts to put the bad package in the NuGet cache. Scaffolding then attempts to run the app to collect information about the available data contexts that get configured in the app's startup

[2017-04-19 16:29] prafullbhosale commented on #454
@danroot  can your upgrade the versions from `1.0.0-msbuild3-final` to `1.0.0` and `1.1.0-msbuild3-final` to `1.1.0` in your project?
About the error

You should not see this if `<PackageTargetFallback>$(PackageTargetFallback);dotnet5.6;portable-net45+win8</PackageTargetFallback>`  this is in the project.

[2017-04-19 16:29] #448 closed

[2017-04-19 16:31] prafullbhosale commented on #425
Fixed in `rel/tools-1.0.1`

[2017-04-19 16:31] #425 closed

[2017-04-19 16:31] prafullbhosale commented on #427
Fixed in `rel/tools-1.1.1`

[2017-04-19 16:31] #427 closed

[2017-04-19 16:32] prafullbhosale commented on #442
Closing this.

[2017-04-19 16:32] #442 closed

[2017-04-19 16:33] #416 closed

[2017-04-19 16:34] prafullbhosale commented on #432
@ali-raza-iftikhar glad you could make it work!
Closing this issue.

[2017-04-19 16:34] #432 closed

[2017-04-19 16:38] danroot commented on #454
@prafullbhosale If I update those packages, I get the error  `Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1`.  The line you mention is already in the project (see listed csproj).  I have tried the other mentioned fix, excluding Microsoft.Composition and adding System.Composition, but this does not resolve the issue.  Only removing Microsoft.VisualStudio.Web.CodeGenerati

[2017-04-19 16:43] prafullbhosale commented on #454
@danroot can you provide the `project.assets.json` file located under obj folder after you upgrade the versions and restore the project?

[2017-04-19 17:05] danroot commented on #454
OK, I misspoke on that last comment.  I still get the same error 'Could not load file or assembly 'Microsoft.VisualStudio.Web.CodeGeneration.Utils, Version 1.1.0.0' if I just remove the -msbuild3-final.  It is only if I add `<DotNetCliToolReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Utils" Version="1.1.0" />` to the last ItemGroup that I then move to the `Package Microsoft.Composit

[2017-04-19 17:32] prafullbhosale commented on #454
That makes sense.
`<DotNetCliToolReference>` is only for CLI tools that are to be included with the project. The `PackageTargetFallback` doesn't work for these.
You shouldn't need to add the `Microsoft.VisualStudio.Web.CodeGeneration.Utils` package at all to your project.

Can you provide me the version for visual studio 2017 community edition you are using?
Help -> About Visual Studio

Also can y

[2017-04-19 17:40] danroot commented on #454
Should be patched up, though I am a little fuzzy on the tools.  1.0.3 tools are used for both 1.0 and 1.1 core right?  This machine is the Azure VM Server 2016 image with VS Community pre-installed, then both windows and vs updates run.

**Visual Studio About**
[code]
**dotnet --info**
[code]

[2017-04-19 18:55] Eilon commented on #425
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:56] Eilon commented on #427
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 22:28] Eilon opened #456 "Add MVC Controller with views using EF in VS2017 fails when DbContext is in separate project."
_From @bgoodearl on April 13, 2017 19:50_

I've created a version of the ContosoUniversity core MVC app that has the Models and Data in separate projects.  ([https://github.com/bgoodearl/cu_sample_mp](https://github.com/bgoodearl/cu_sample_mp))
When I get to the step in the [original tutorial](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro) which [describes creating a StudentsContr

[2017-04-19 22:28] Eilon commented on #456
_From @frankwwu on April 14, 2017 13:11_

I experienced the same problem. I further narrowed down and figured out it was the Contoso.Data project triggered the error. If I separate only Contoso.Models and keep the Data in the original place, it has no problem.

[2017-04-21 00:27] DamianEdwards opened #457 "Add Razor Pages versions of the MVC scaffolders"
We need to add Razor Pages versions of the existing MVC scaffolders to the MVC scaffolders package.

@mlorbetske @rynowak

[2017-04-24 01:25] yoyoys commented on #444
i got this exception when i tried to scaffold a controller in vs2017

[2017-04-24 01:35] reezonew opened #458 ""Disable tests that need loading assemblies in insideman""
"Disable tests that need loading assemblies in insideman", it is the comment in source code.
What does that mean?
How to load assemblies in insideman?

[2017-04-24 19:07] pranavkm opened #459 "[Flaky test]: Test failed on Ubuntu \ OSX with no code changes"
[code]

[code]

## Repros
4/25/17: http://aspnetci/viewLog.html?buildId=208053&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&tab=buildLog&filter=err

[2017-04-24 22:58] pranavkm commented on #459
@prafullbhosale this seems to have been fixed, but could you have a look to ensure there isn't a cause for the flakiness?

[2017-04-25 01:41] prafullbhosale commented on #427
Tested the scaffolding packages from the feed, the fix looks good.

[2017-04-25 01:41] prafullbhosale commented on #425
Tested the scaffolding packages from the feed, the fix looks good.

[2017-04-25 05:53] DamianEdwards commented on #457
BTW I intended for this to be a preview-2 item.

[2017-04-25 17:42] mikeharder commented on #459
This failed again today.  I started a list of repros in the main comment.

[2017-04-25 18:21] prafullbhosale commented on #459
The failure seems to be related to a nuget package install on the test project.

[code]

I have seen this before on a few occasions, when a new set of packages is being uploaded to myget but isn't fully done.

I remember @pranavkm made the builds so that the Tools repos are built at the end, doesn't look like that is enough though.

For the universe builds, is it possible to create a local feed wi

[2017-04-25 18:30] pranavkm commented on #459
That was specifically in the patch branch. We build things as usual in regular builds. More importantly, we don't change the feeds as part of the build. One possible solution would be to use the `NUGET_PACKAGES` directory as the source (if it's available) although it's not intuitively obvious why it works.