[2017-04-25 18:36] mikeharder commented on #459
This sounds like a dup of the general issue where our MyGet feed cannot be relied on to always restore correctly.  We have a plan to fix this all-up by implementing a proxy which selects the latest working MyGet feed.

https://github.com/aspnet/aspnetci-nugetsyncbuddy/issues/1

[2017-04-25 21:57] prafullbhosale commented on #437
Fixed by : https://github.com/aspnet/Scaffolding/pull/460

[2017-04-25 21:57] #437 closed

[2017-04-25 21:58] prafullbhosale opened #461 "Enable E2E tests once CLI starts supporting Tools targeting netcoreapp2.0"
Tests disabled by https://github.com/aspnet/Scaffolding/commit/79297cc39f50c4ed0e66d29c335390f26b51ced9

[2017-04-25 21:59] prafullbhosale commented on #445
This should be fixed with #460

[2017-04-25 21:59] #445 closed

[2017-04-27 17:09] Eilon commented on #446
@prafullbhosale - any action planned for Preview1 here?

[2017-04-27 17:12] prafullbhosale commented on #446
@Eilon, yes. Don't have access aspnet/CoreCLR repo so don't know the status of the issue above. If that's done, I can make changes now.

[2017-04-27 17:14] Eilon commented on #446
You should have access now. But no, it wasn't done yet.

[2017-04-27 17:19] Eilon commented on #446
Is this something critical for Preview1? Do we risk building against the wrong things if this isn't done?

[2017-04-27 17:20] prafullbhosale commented on #446
Potentially, if the additional feeds have higher versions of dependencies than we intend to ship for Preview1.

[2017-04-27 17:46] Eilon commented on #446
Ok, @prafullbhosale can you take a look to see what happens if the extra feeds are removed from https://github.com/aspnet/Scaffolding/blob/rel/2.0.0-preview1/NuGet.config ?

Why does it need feeds such as the patch feed?

[2017-04-27 20:29] chaitanyabagrait opened #463 "Scaffolding MVC controller using EF"
I created a new project of asp.net core web application using .net framework.

Then I created a model with its attribute and also have created a key in the model.

When I am trying to scaffold using the entity framework which adds controller and view I am getting error. Please find the error attached with this question.
![error](https://cloud.githubusercontent.com/assets/28116901/25502991/96cc14ac

[2017-04-27 20:35] chaitanyabagrait commented on #463
Current webapplication.csproj

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup Label="Globals">
    <SccProjectName>SAK</SccProjectName>
    <SccProvider>SAK</SccProvider>
    <SccAuxPath>SAK</SccAuxPath>
    <SccLocalPath>SAK</SccLocalPath>
  </PropertyGroup>

  <PropertyGroup>
    <TargetFramework>net452</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGr

[2017-04-28 20:42] prafullbhosale opened #464 "Adapt to new Startup code in 2.0 templates to register DBContext created by scaffolding"
cc @mlorbetske

[2017-04-28 21:21] ajcvickers opened #465 "Scaffolding using Entity Framework"
Moving from https://github.com/aspnet/EntityFramework/issues/8308 by @chaitanyabagrait

I created a new project of asp.net core web application using .net framework.

Then I created a model with its attribute and also have created a key in the model.

When I am trying to scaffold using the entity framework which adds controller and view I am getting error. Please find the error attached with this

[2017-04-28 22:06] prafullbhosale commented on #465
Dupe of #463

[2017-04-28 22:06] #465 closed

[2017-04-28 23:06] prafullbhosale opened #467 "React to changes in DbContext discovery in EntityFrameworkCore"
- Scaffolding should add a `<DbContextClassName>Factory.cs`  to the project while creating a new DbContext.
  - See: dotnet/templating#695 & dotnet/templating#705 for content of the class.

Related:
- aspnet/EntityFramework#8314
- aspnet/EntityFramework#8326
- #466

cc @mlorbetske, @Eilon

[2017-04-29 00:05] #446 closed

[2017-04-29 00:05] #461 closed

[2017-04-29 13:04] chaitanyabagrait commented on #463
Hi @prafullbhosale , Is there any solution to my error ? I can see it as closed but can't see the fix for it.

[2017-05-02 23:57] Eilon commented on #464
@prafullbhosale - is this issue done?

[2017-05-02 23:57] Eilon commented on #467
@prafullbhosale - is this issue done?

[2017-05-03 00:00] prafullbhosale commented on #467
Yes, https://github.com/aspnet/Scaffolding/commit/a6414d24afba24309c099105bd35b3dca4a4f415.
I thought this would have been auto closed when changes got merged to `dev`, but I guess not.

[2017-05-03 00:00] #467 closed

[2017-05-03 00:00] prafullbhosale commented on #464
Yes. https://github.com/aspnet/Scaffolding/commit/a6414d24afba24309c099105bd35b3dca4a4f415

[2017-05-03 00:00] #464 closed

[2017-05-04 02:51] brainlord commented on #430
I'm working in an MVC proyect, on VS2017 RTM, ASPNET Core 1.1.

Suddenly when I tried to scaffold a class (successfully scaffolded before), hit the error.

Could not get the reflection type for DbContext : App.Models.ApplicationDbContext
   at Microsoft.VisualStudio.Web.CodeGeneration.ActionInvoker.<BuildCommandLine>b__6_0()
   at Microsoft.Extensions.CommandLineUtils.CommandLineApplication.Execut

[2017-05-04 14:52] SychevIgor opened #472 "Don't add references to Microsoft.EntityFrameworkCore.* in a project in a Visual Studio on a first use of scaffolding"
So, I'm using DocumentDB as a storage or any other engine.
If I will try from Visual Studio 2017 add Controller - VS asked me- "You need Full or Minimal Dependencies?"
![2](https://cloud.githubusercontent.com/assets/578954/25709579/6053bba2-30f2-11e7-862f-4da6ffbb56de.png)
and even if I will select limited- VS will add in a project references to:

    <PackageReference Include="Microsoft.AspNetCor

[2017-05-07 22:13] Eilon opened #474 "Scaffolding has a reference to 'Microsoft.Extensions.CommandLineUtils.Sources' without PrivateAssets="All""
This reference:
* dev branch: https://github.com/aspnet/Scaffolding/blob/79297cc39f50c4ed0e66d29c335390f26b51ced9/src/Microsoft.VisualStudio.Web.CodeGeneration.Tools/Microsoft.VisualStudio.Web.CodeGeneration.Tools.csproj#L28
* rel/2.0.0-preview1 branch: https://github.com/aspnet/Scaffolding/blob/rel/2.0.0-preview1/src/Microsoft.VisualStudio.Web.CodeGeneration.Tools/Microsoft.VisualStudio.Web.CodeG

[2017-05-08 04:25] #474 closed

[2017-05-08 14:17] davec21 commented on #430
Like others I can confirm that using the following code works when trying to Scaffold using the code generator:

`bool isAdmin = false;
 bool.TryParse(userInfo[5], out isAdmin);`

Following code doesnt:
` bool.TryParse(userInfo[5], out  bool isAdmin);`

I had to undo all the changes I made to match the vs2017 suggestions.

[2017-05-08 17:00] mikeharder opened #477 "Frequent test failures on OSX and Ubuntu"
The following tests fail frequently (but not always) on OSX and Ubuntu for Preview1:

[code]

http://aspnetci/viewType.html?buildTypeId=XPlat_Mac_MacUniverseCoreCLR&branch_XPlat=2.0.0-preview1&tab=buildTypeStatusDiv
http://aspnetci/viewType.html?buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&branch_XPlat=2.0.0-preview1&tab=buildTypeStatusDiv

[2017-05-08 19:55] #477 closed

[2017-05-08 20:32] davidbitton commented on #444
@yoyoys me too.

[2017-05-08 21:46] halter73 opened #479 "[Flaky test]: ScaffolderTests.TestAreaGenerator"
[code]

Example failure: http://aspnetci/viewLog.html?buildId=217356&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest#testNameId1186750468449124074

All failures: http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=1186750468449124074&order=TEST_STATUS_DESC&branch_XPlat=__all_branches__&itemsCount=50

[2017-05-08 22:04] halter73 commented on #479
After looking at the stack traces for all the failures in http://aspnetci/viewLog.html?buildId=217356&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest I'm starting to think their all the same issue.

For the other tests that I looked at, they never passed on the tc agents. E.g. http://aspnetci/project.html?branch_XPlat=__all_branches__&buildTypeId=&tab=testDetails&projectId=XPlat&testNameId=64049

[2017-05-09 17:23] Kaev commented on #430
Can confirm the answer davec21 posted. You need to change ALL unsupported code, not just the classes you actually want to scaffold.

[2017-05-09 20:13] prafullbhosale opened #481 "Scaffolding should set ASPNETCORE_ENVIRONMENT=Development"
The `DbContextOperations` API now ignores the `environment` parameter passed to it and expects
`ASPNETCORE_ENVIRONMENT` variable to be set.

https://github.com/aspnet/Scaffolding/blob/rel/2.0.0-preview1/src/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore/EntityFrameworkServices.cs#L448

cc @mlorbetske

[2017-05-09 21:40] #479 closed

[2017-05-10 18:05] mikeharder commented on #459
New plan to fix this issue by pinning versions: https://github.com/aspnet/KoreBuild/issues/239

[2017-05-10 18:06] mikeharder commented on #459
Keeping issue open to track test flakiness until aspnet/KoreBuild#239 is fixed.

[2017-05-11 08:54] TontonTij opened #484 "Could not load file or assembly 'System.Composition.TypedParts, Version=1.0.31.0'"
Hello,

I've created a layered ASP.NET Core Web Application (.Net Core) => target framework: .NetCoreApp 1.1, Which refers a business layer libraries .NetCoreApp 1.1 that uses the package '**System.Composition.TypedParts, Version = 1.0.31.0**, Culture = neutral, PublicKeyToken = b03f5f7f11d50a3a'.

When I run the application I have the error below:
FileLoadException: Could not load file or assembl

[2017-05-11 15:02] prafullbhosale opened #485 "Scaffolding should stop adding IDbContextFactory implementation for 2.0"
EF plans to change DbContext creation during design time to not require an `IDbContextFactory` implementation.
When that happens scaffolding needs to stop creating a factory for the newly added DbContext.

Related: https://github.com/aspnet/DependencyInjection/issues/524

cc @bricelam, @mlorbetske

[2017-05-11 16:11] #481 closed

[2017-05-11 16:13] prafullbhosale commented on #484
@TontonTij can you provide a sample repro project?

[2017-05-11 16:15] prafullbhosale commented on #463
@chaitanyabagrait apologies about the delay here, but the issue isn't closed. The issue #465 is closed as a dupe of this one.
This error usually happens if there is a mismatch in the dotnet CLI and Visual studio.
Can you provide the versions of both the CLI and VS?

The CLI version can be found out by running `dotnet --info` on a commandline.

[2017-05-11 16:20] prafullbhosale commented on #430
Closing this issue as this has been fixed for 2.0.0-preview1 version, and currently there is no way to support scaffolding in this scenario for 1.0 and 1.1 versions.

cc @mlorbetske

[2017-05-11 16:20] #430 closed

[2017-05-11 16:22] prafullbhosale commented on #458
@reezonew, The message "Disable tests that need loading assemblies in insideman" was a `Skip=<Reason>` message for disabled tests.

Could you please elaborate on what is needed here?

[2017-05-11 16:25] prafullbhosale commented on #444
Closing this as the fix is available in version `1.0.1` of `Microsoft.VisualStudio.Web.CodeGeneration.Tools`
You can update the version in the .csproj file

`<DotNetCliToolReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Tools" Version="1.0.1" />`

Feel free to reopen this if you still see the issue after upgrading.

[2017-05-11 16:25] #444 closed

[2017-05-11 16:26] prafullbhosale commented on #441
@Rick-Anderson Closing this. Feel free to reopen this if needed.

[2017-05-11 16:26] #441 closed

[2017-05-11 16:26] prafullbhosale commented on #419
Closing this.

[2017-05-11 16:26] #419 closed

[2017-05-11 16:27] prafullbhosale commented on #411
This should be fixed in VS version 15.3 Preview1
Feel free to reopen if the issue still persists.

[2017-05-11 16:27] #411 closed

[2017-05-11 16:28] prafullbhosale commented on #371
@pranavkm Closing this now.
Tests are running on the dev branch.
Feel free to reopen if I am missing something here.

[2017-05-11 16:28] #371 closed

[2017-05-11 16:28] prafullbhosale commented on #333
Fixed.

[2017-05-11 16:28] #333 closed

[2017-05-11 16:30] prafullbhosale commented on #311
Closing this.

[2017-05-11 16:30] #311 closed

[2017-05-12 08:05] TontonTij commented on #484
@prafullbhosale This is my repo project => [Sample](https://github.com/TontonTij/SampleProject)
Thanks

[2017-05-12 19:53] pablotdv opened #487 "Microsoft.VisualStudio.Web.CodeGeneration.Mvc is not compatible with netcoreapp2.0"
Package is not compatible with netcoreapp2.0?

How will I use it for a project with netcoreapp2.0?

It is my csproj

[code]

[2017-05-15 04:22] reezonew commented on #458
@prafullbhosale Sorry about that.
There is a test named TestControllerWithContext() in E2E_Test. I can't run it. I thought there is something to do with the comment. Below is the cod snippet.
`        [Fact (Skip ="Disable tests that need loading assemblies in insideman")]
        public void TestControllerWithContext()
        {
            using (var fileProvider = new TemporaryFileProvider())

[2017-05-15 16:07] prafullbhosale commented on #487
@pablotdv
The package name in the csproj has a typo:
It should be
`<PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="2.0.0-preview1-24647" />`

Also, the `Microsoft.VisualStudio.Web.CodeGeneration.Design` package should not used as a `DotNetCliToolReference`.
Only the `Microsoft.VisualStudio.Web.CodeGeneration.Tools` package is necessary as a `DotNetCliToolRefer

[2017-05-15 16:10] prafullbhosale commented on #458
Ah, I see. The test was disabled by adding `(Skip ="Disable tests that need loading assemblies in insideman")` to the `Fact` attribute, due to an issue which caused these tests to fail on the CI machines.

The issue has been fixed and the test is now re-enabled.
If you sync the latest code from `dev` branch, you should be able to run this test.

[2017-05-15 16:10] prafullbhosale commented on #458
Closing this issue now. Feel free to re-open if you face any issues.

[2017-05-15 16:10] #458 closed

[2017-05-15 16:37] prafullbhosale commented on #484
@TontonTij, I have tried to repro using the sample project above for the past couple of days, but I am not able to repro it locally.

[code]

Could you clear your local nuget cache, restore the projects and try again to see if that works?
If that doesn't help, can you also provide the `project.assets.json` files from under the `obj` folders of both the projects?

[2017-05-15 23:33] prafullbhosale opened #490 "Improve logging in tests to identify the cause for flakiness"
http://aspnetci/viewLog.html?buildId=220552&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win2008r2_Universe#testNameId5878117999261324601

[2017-05-18 06:47] TontonTij commented on #484
@prafullbhosale, I cleared the nuget packages and I built the project to restore them on Visual Studio 2017 Enterprise.

[code]
But I still have the exception at runtime.

[code]
The attached zip contains the `project.assets.json` file that you requested.

[project.assets.zip](https://github.com/aspnet/Scaffolding/files/1009952/project.assets.zip)

[2017-05-18 22:20] bricelam commented on #485
PR aspnet/EntityFramework#8510 is in. Scaffolding can stop adding IDbContextFactory.

[2017-05-20 00:12] ryanbrandenburg opened #491 "Re-enable tests in E2E_Test.MvcControllerTest"
Some test in E2E_Test.MvcControllerTest were disabled due to flakeyness. Once they're reliable again re-enable them.

[2017-05-20 00:35] mikeharder commented on #491
Scaffolding tests were broken by the following chagne:

https://github.com/aspnet/EntityFramework/commit/58185bab7972f895dcdec71dc8250b32c76f6dfc#diff-ab3bc569c936729f7138226d324bb0b7L26

I think Scaffolding just needs to react.

[2017-05-21 19:22] danroth27 opened #493 "Improve help text of aspnet-codegenerator"
If I run `dotnet aspnet-codegenerator -h` here's what I see:

[code]

There isn't any help for the specific generators. For example, how do I create a Controller?

[2017-05-22 20:42] prafullbhosale commented on #491
Related: https://github.com/aspnet/EntityFramework/issues/8547

[2017-05-22 21:09] #485 closed

[2017-05-23 15:49] bricelam commented on #491
@prafullbhosale `dynamic` issue was fixed by PR aspnet/EntityFramework#8549

[2017-05-23 21:14] #491 closed

[2017-05-24 14:41] gpshonik opened #501 "Microsoft.CodeAnalysis.CSharp 2.1.0 package breaks scaffolding"
## Minimal Repro

File...New Project...Web...ASP.NET Core Web Application

Add nuget package  [Microsoft.CodeAnalysis.CSharp](https://www.nuget.org/packages/Microsoft.CodeAnalysis.CSharp/)  (adding this package to enable C# 7 language features in Razor Views)

Right Click Controllers...Add Controller...'MVC Controller - Empty'

![image](https://cloud.githubusercontent.com/assets/1524361/26408059/6

[2017-05-25 11:07] JaapWeijland commented on #409
When I use

`dotnet aspnet-codegenerator`

It says:

`No executable found matching command "dotnet-aspnet-codegenerator"`

I am running it on my mac. I've already installed dotnet on my machine but the generator won't work.

[2017-05-25 23:55] prafullbhosale commented on #457
Spec: https://gist.github.com/prafullbhosale/90aa0f7ee3dd09243067112c2f600749

[2017-05-28 13:42] zaccharles commented on #484
@TontonTij Please try adding the same `System.Composition.TypedParts` reference to the `Sample.Project.WebUI` project.

[2017-05-30 09:31] TontonTij commented on #484
@zaccharles I had already tested this bypass but it does not work. It works with you?

[2017-05-30 09:55] zaccharles commented on #484
@TontonTij I came across your issue when trying to resolve my own. I don't have the exact problem, but it just seems like the host project doesn't know about System.Composition.TypedParts, or it has a binding redirect to an older version.

[2017-05-30 10:16] TontonTij commented on #484
@zaccharles The package **Microsoft.VisualStudio.Web.CodeGenerators.Mvc** loads the assembly System.Composition.TypedParts version **1.0.27.0** and I had already tried a binding redirect to the version 1.0.31.0, but doesn't work like I explained in the issue.
Thanks for your help

[2017-06-02 14:58] llaughlin commented on #444
I just encountered this today on VS 2017 (15.2 26430.6). I tried applying the [workaround](https://github.com/aspnet/scaffolding/issues/444#issuecomment-293332522) and [updating the code generation tool version](https://github.com/aspnet/scaffolding/issues/444#issuecomment-300842944), but I'm still seeing it happen when trying to create a templated Edit view for a view model. I've closed and reope

[2017-06-02 15:47] prafullbhosale commented on #444
@llaughlin have you tried clearing the `obj` folder ?
Could you also share the contents of the `.csproj` file?

[2017-06-05 20:03] DamianEdwards commented on #457
I've moved this to 2.0.0 for now as we're shutting down preview2. Let's sync up on the status so we can determine if it fits in 2.0.0 at all.

[2017-06-07 08:57] mholo65 commented on #444
@prafullbhosale I'm also hitting same issues as @llaughlin with VS2017.

I practically followed this [guide](https://docs.microsoft.com/en-us/ef/core/get-started/aspnetcore/existing-db). Only exception is that I've EF Models and Context in separate project.

[2017-06-07 15:58] mtcantero commented on #409
Same issue here

[2017-06-07 16:43] prafullbhosale commented on #409
@JaapWeijland, @mtcantero, can you confirm if the `csproj` file of your project contains the following

[code]

[2017-06-07 16:47] mtcantero commented on #409
I can confirm I have it, here is part of my csproj file

[code]

[2017-06-07 16:59] prafullbhosale commented on #409
@mtcantero, Can you try a few more things as below:

1. Run `dotnet restore` on the csproj file and see if there are any errors.
2. Check in the local nuget package cache folder if a `.tools` folder exists and has a folder named `microsoft.visualstudio.web.codegeneration.tools`
3. Run `dotnet ef -h` to see if it fails with a similar error.

[2017-06-07 17:18] mtcantero commented on #409
@prafullbhosale I think we are getting close, I don´t have the `.tools` folder, should I just create it and run again `dotnet restore`

3. It fails with a very similar error

[2017-06-07 17:20] prafullbhosale commented on #409
`dotnet restore` should create that folder for you.
Can you paste the output of running `dotnet restore` here?
Also the output of `dotnet --info` ?

[2017-06-07 17:26] mtcantero commented on #409
output of `dotnet --info`

[code]

And output of dotnet restore
[code]

  NuGet Config files used:
      /Users/user/.nuget/NuGet/NuGet.Config

  Feeds used:
      https://api.nuget.org/v3/index.json

[2017-06-07 17:33] prafullbhosale commented on #409
Ah, sorry, forgot to mention, you need to delete the `obj` folder under your project before running `dotnet restore`.

[2017-06-07 17:36] mtcantero commented on #409
My fault sorry forgot to do it

Here is the output now

[code]

[2017-06-08 16:17] llaughlin commented on #444
Late response, but I've been busy working around the issue.
@prafullbhosale Yes, I've deleted the `/bin` and `/obj` folders, re-opening visual studio, and I still get this error. Here are the contents of my `.csproj` file:

[code]

[2017-06-08 17:41] prafullbhosale opened #507 "Fix build warnings of type "Found conflicts between different versions of same dependent assembly...""
Sample warning:
[code]

[2017-06-13 22:11] divega opened #508 "Scaffolding doesn't handle EF Core shadow properties (was Inheritance Discriminator should be included as property?)"
_From @ferrx on May 31, 2017 19:14_

The doc for Inheritance (relational) that covers the Discriminator here https://docs.microsoft.com/en-us/ef/core/modeling/relational/inheritance may need some tweaking.

When you create the `blog_type` discriminator via Fluent API (or automatically via inheritance), should you also create a property in the Blog class called `blog_type` ?

In Visual Studio, when

[2017-06-13 22:11] divega commented on #508
_From @ajcvickers on June 12, 2017 20:4_

@divega This looks like it could be a scaffolding issue. If so, we should file a issue there. Thoughts?

[2017-06-13 22:11] divega commented on #508
@ajcvickers Definitively an issue in scaffolding. From the description there is no support for shadow-properties.

On the other hand, EF Core could help by creating a way to get a serializable representation of shadow properties, required original values, concurrency tokens, etc.

[2017-06-15 20:20] plntxt commented on #454
I am having this issue with version 1.1.1.0.

[2017-06-15 23:00] NTaylorMullen opened #510 "Views that have non-mscorlib dependencies cannot be open while scaffolding."
Scaffolding treats the open view as part of a Roslyn workspace that doesn't have all of the references and then fails to compile.

[2017-06-15 23:06] NTaylorMullen opened #511 "Scaffolding incorrectly scaffolds IdentityUser"
Given the following class:

[code]

If you try and scaffold controllers with views using EF for this model you get:
![image](https://user-images.githubusercontent.com/2008729/27205258-8bc32a76-51e4-11e7-8ac2-baa6cf947760.png)

/cc @jbagga

[2017-06-16 22:46] NTaylorMullen opened #514 "Creating View occasionally results in View being errored until its reopened (Miscellaneous Workspace)"
Try adding a view to the default Mvc template with individual auth. Occasionally you'll get hit with tons of errors since the View was creating in the Miscellaneous Workspace.

[2017-06-16 22:52] jbagga commented on #514
![image](https://user-images.githubusercontent.com/6234561/27247250-c0d31452-52ab-11e7-9112-252f5df2dba2.png)

[2017-06-16 23:54] NTaylorMullen opened #515 "Command line View and controller creation are inconsistent with name"
When scaffolding a Controller you have the option to provide a name. When scaffolding a View the name is a required argument.

[2017-06-16 23:58] NTaylorMullen opened #516 "Scaffolding Create/Edit/etc. View doesn't provide understandable messages when providing invalid arguments"
Running Create without providing a data context or model results in an unactionable error:

[code]

[2017-06-17 00:03] NTaylorMullen opened #517 "The command line View help lists --controllerNamespace|-namespace as an option"
It shouldn't 😄

[2017-06-17 00:07] NTaylorMullen opened #518 "There should be a specific help dialog for each View template"
For instance an empty template should not allow models or data contexts as arguments.

[2017-06-17 00:22] NTaylorMullen opened #519 "No visible options to scaffold a controller in a sub-view from command line."
After trying to scaffold a controller within an area the controller gets put into the correct area folder but the corresponding views do not make it into the areas view folder:

[code]

[2017-06-20 15:47] cldbrr commented on #407
I see this issue is closed, but I've got the same error in asp core v 1.1.2

I've got 3 assemblies one for model, one for dbcontext, and third for webapp. Model and DbContext assemblies are referenced by WebApp. Everything works fine, but Scaffolding using VisualStudio 2017 (Creating new Controller) gives me error like in this issue.

[2017-06-20 17:02] Rick-Anderson commented on #444
@llaughlin @mholo65  and others still hitting this problem. Can you reproduce this with a new project? Just add a model and scaffold.

[2017-06-20 18:07] prafullbhosale commented on #484
@TontonTij sorry for the delay here, I still haven't been able to pin point the issue.
However, I have a potential workaround for you in the meantime.
Can you try to add the below to your business layer library and then downgrade `System.Composition.TypedParts` to version 1.0.27?

[code]

[2017-06-20 19:46] prafullbhosale commented on #487
Closing this.
Feel free to re-open if you still face this issue.

[2017-06-20 19:46] #487 closed

[2017-06-22 19:54] Eilon opened #522 "deps.json error while trying to add new Controller"
_From @RemiGri on June 15, 2017 9:31_

Hello,
I have an error when trying to add new Controller on a brand new fresh project (ASP.NET Core Web Application (.NET Core)). I have tried naming the project with a . in the middle (Test.project) and without (TestProject) as i have read that the spaces in the name could give errors. I am getting the following error when trying to add a new controller:
![c

[2017-06-22 19:54] Eilon commented on #522
_From @Petermarcu on June 21, 2017 16:28_

@Eilon @barrytang @mlorbetske can you take a look at suggest which repo may be the best place to move this issue?

[2017-06-23 22:03] jbagga opened #523 "Consider replacing GetTempFileName with GetTempPath and GetRandomFileName"
Consider removing uses of `GetTempFileName` as

P0:
[MsBuildProjectContextBuilder](https://github.com/aspnet/Scaffolding/blob/dev/src/Microsoft.Extensions.ProjectModel.MsBuild.Sources/MsBuildProjectContextBuilder.cs#L41)

P1:
[SimulationModeFileSystemTests](https://github.com/aspnet/Scaffolding/blob/dev/test/Microsoft.VisualStudio.Web.CodeGeneration.Core.Test/SimulationModeFileSystemTests.cs#L57)

[2017-06-25 11:45] ahanusa commented on #454
I was able to get things working by ensuring that all nuget packages were up to date.  Strangely, it seems that updating App Insights was what did the trick.

[2017-06-26 20:42] #516 closed

[2017-06-27 16:12] #511 closed

[2017-06-27 16:35] prafullbhosale commented on #417
This should be fixed already.

[2017-06-27 16:35] #417 closed

[2017-06-27 16:39] prafullbhosale commented on #522
@RemiGri Could you please provide the contents of your .csproj file and also the version of dotnet cli by running `dotnet --info`?

[2017-06-27 16:42] prafullbhosale commented on #501
@gpshonik The scaffolding package `<PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="1.1.1" />` is built using Roslyn packages version 1.3.0 which is why when you add a reference to 2.1.0 version packages, there are
errors while running scaffolding.

[2017-06-28 11:13] stgaup commented on #444
I too was getting this error when trying to scaffold a Controller in my WebAPI project.
I am targeting .NET 4.7 and have a mix of F# and C# projects.
My C# WebAPI project is of type "ASP.NET Core Web Application (.NET Framework).
I have project references to the F# projects.  F# is targeting .NET Framework 4.7 and F# runtime 4.4.1.0.
So when I removed the references to the F# projects it worked fi

[2017-06-28 22:37] prafullbhosale opened #527 "Use NuGet.config from solution folder for E2E tests"
From @ryanbrandenburg:

On the CI for universe builds, the test projects end up restoring an published version of the packages from aspnetcore-ci-dev.

[2017-06-29 17:06] prafullbhosale commented on #501
@gpshonik can you try adding the below package to your project and see if that helps?

[code]

[2017-06-29 17:39] #527 closed

[2017-07-02 14:31] gpshonik commented on #501
@prafullbhosale Sorry for the delay.  I can confirm that adding ```Microsoft.CodeAnalysis.CSharp.Workspaces``` package (either ```2.1.0``` or ```2.2.0```) allows the scaffolding command to complete successfully! Thank you!

[2017-07-03 04:44] StingyJack commented on #484
This is broken in a new console app I have. As soon as I execute `var wks = MSBuildWorkspace.Create();`

So, not just Asp.net  =?

![image](https://user-images.githubusercontent.com/15381181/27778427-c1110e08-5f88-11e7-9b98-f2dc3086d81d.png)

[2017-07-03 11:27] StingyJack commented on #484
This seems like a failure in MsBuild to detect needed dependencies ([here](https://stackoverflow.com/questions/15816769/dependent-dll-is-not-getting-copied-to-the-build-output-folder-in-visual-studio) or [here](https://stackoverflow.com/questions/1132243/msbuild-doesnt-copy-references-dll-files-if-using-project-dependencies-in-sol))

Its even surfaced as a [Mac-specific defect](https://github.com/

[2017-07-03 17:12] prafullbhosale commented on #501
Closing this now! Thanks for reporting this.

[2017-07-03 17:12] #501 closed

[2017-07-03 17:17] prafullbhosale commented on #430
### Update:
There is a workaround to let scaffolding in versions 1.0 and 1.1 work with C#7 code.

- Install (or update) NuGet package `Microsoft.CodeAnalysis.CSharp.Workspaces` version `2.0.0` or higher to the project.
- Restore and retry scaffolding.

[2017-07-04 01:01] mikeharder opened #533 "Remove <NoWarn>NU1605</NoWarn> from MsBuildProjectStrings.cs"
All NuGet warnings have been removed from the ASP.NET build, so I think we should be able to remove `<NoWarn>NU1605</NoWarn>` from https://github.com/aspnet/Scaffolding/blob/dev/test/Shared/MsBuildProjectStrings.cs.

[2017-07-04 01:05] mikeharder opened #534 "Update version of Microsoft.ApplicationInsights.AspNetCore in MSBuildProjectStrings.cs"
The version of `Microsoft.ApplicationInsights.AspNetCore` is `2.0.0-beta1` in https://github.com/aspnet/Scaffolding/blob/dev/test/Shared/MsBuildProjectStrings.cs.  Should this be updated to the version we plan to ship for 2.0.0 RTM?

[2017-07-04 01:06] mikeharder opened #535 "Enable WarningsAsErrors for Scaffolding E2E tests"
Scaffolding tests should enable `TreatWarningsAsErrors` in E2E tests to ensure there are no NuGet warnings.

[2017-07-04 01:17] mikeharder opened #537 "Enable AppVeyor for pull requests"
AppVeyor is enabled for the `dev` branch, but for some reason it didn't run on my PR.

[2017-07-04 03:27] mlorbetske opened #539 "why asp.net core .cshtml's file encoding format is not uft-8 encoded ，but ansi encoded？"
_From @weiwangda2014 on April 29, 2017 18:21_

in visual studio 2017，why asp.net core .cshtml's  file encoding format  is not uft-8 encoded ，but ansi encoded？

How to solve this problem。

_Copied from original issue: dotnet/core#607_

[2017-07-04 03:27] mlorbetske commented on #539
_From @Petermarcu on May 15, 2017 18:54_

@barrytang , can you take a look?

[2017-07-04 03:27] mlorbetske commented on #539
_From @barrytang on May 17, 2017 2:7_

/cc @mlorbetske and @phenning

Hi @weiwangda2014, do you mean when adding a file to the project via VS Add New Item dialog?

[2017-07-04 03:27] mlorbetske commented on #539
_From @weiwangda2014 on June 2, 2017 8:44_

@barrytang yes.

[2017-07-04 03:27] mlorbetske commented on #539
_From @WeihanLi on June 2, 2017 9:20_

I also met this problem,when I add a view via visual studio 2017,the file's encoding is not utf-8 as before

[2017-07-04 03:27] mlorbetske commented on #539
_From @barrytang on June 2, 2017 23:53_

@mlorbetske?

[2017-07-04 03:27] mlorbetske commented on #539
I've just tried this out by adding all the different things (via add new item from the project context menu) that produce cshtml files in VS2017.3's upcoming preview and am seeing that they're producing files encoded as UTF-8 with BOM. @weiwangda2014, could you post the exact steps you're using when you're seeing this to make sure that I've verified that the case you're hitting is working correctl

[2017-07-04 03:27] mlorbetske commented on #539
_From @WeihanLi on June 4, 2017 12:53_

I do not have an `.editorconfig` file with my project  and I develop with VisualStudio 2017(15.2)

[2017-07-04 03:27] mlorbetske commented on #539
_From @taadis on June 5, 2017 7:15_

我也遇到了这个问题,在 Visual Studio 2017 中[右键菜单] -> 直接添加的`.cshtml & controller.cs & class.cs `文件都会出现一样的问题.

但是在[右键菜单] -> [新建项] -> [添加文件]就是正常的.我目前是都到*新建项*中添加需要的文件.

[2017-07-04 03:27] mlorbetske commented on #539
_From @weiwangda2014 on June 24, 2017 12:14_

@WeihanLi we are same problem.i have no time that i am busy.  you can show detail problem to them.

[2017-07-04 03:27] mlorbetske commented on #539
_From @richlander on July 3, 2017 21:33_

Can one of you provide specific instructions? I read that the team is stuck moving forward without them.

@weiwangda2014  @taadis  @WeihanLi

[2017-07-04 03:27] mlorbetske commented on #539
_From @WeihanLi on July 4, 2017 1:56_

Sorry for not replying in time @richlander . The problem is as follows:
There's a option named `[add] --> [add view]`  in ` views`  folder's context menu,I added a view this way and typed in some Chinese characters, and when I reopen the view just created,there's a encoding problem.
Just as follows:
![encoding_problem](https://user-images.githubusercontent.co

[2017-07-04 03:27] mlorbetske commented on #539
Based on the information from @WeihanLi, I'll move this to the scaffolding repo.

[2017-07-04 03:28] mlorbetske commented on #539
@prafullbhosale can you take a look at this one please?

[2017-07-04 07:15] kimbell opened #540 "Creating new web project defaults to https"
Not 100% sure this is the right repo for this issue.

For the 1.x version of ASP.NET Core, I've created a number of web projects and all have defaulted to use http for Kestrel in the launch settings.

At the NDC Oslo workshop I created my first web project on the 2.0 base running VS2017 preview. Then I noticed Kestrel was set up to use https. I remember mentioning it to David Fowler or Jon Gallowa

[2017-07-04 07:20] kimbell commented on #540
I created another web api project now, and that didn't contain https, so it only happens some times. Also noticed that in the newly created file, the port numbers between IIS Express and Kestrel are much closer

http://localhost:62725/
http://localhost:62726/

In the problem file there is a big difference in the selected ports.

[2017-07-06 16:13] prafullbhosale commented on #540
This looks like either a template related, or the VS tooling itself.
cc @BillHiebert, @mlorbetske any thoughts where this should get moved to?

[2017-07-06 16:16] mlorbetske commented on #540
This would go to dotnet/templating since it's a template content problem

[2017-07-06 16:21] prafullbhosale commented on #540
Moving to: https://github.com/dotnet/templating/issues/1023

[2017-07-06 16:21] #540 closed

[2017-07-07 05:56] prafullbhosale opened #544 "Consider exposing PropertyInfo from PropertyMetadata"
The `PropertyMetadata` class uses `PropertyInfo` to extract metadata regarding the property.
Exposing the `PropertyInfo` will allow customizing the Razor templates to check for CustomAttributes set on the properties.

[2017-07-07 17:08] #523 closed

[2017-07-08 06:00] PatyHM commented on #539
Same problem here with Spanish
What I do is add following line at the very begining of the cshtml
![image](https://user-images.githubusercontent.com/29995443/27983021-9a9c6440-6378-11e7-9dd2-b5bb5c6c0103.png)

This way, the file is saved in utf-8.

Note: it is utf-8 and not uft-8

Hope this help !!

[2017-07-09 19:43] #303 closed

[2017-07-10 16:22] prafullbhosale commented on #539
@WeihanLi,
Could you please try the above with the `Auto-detect UTF-8` option selected in VS?

You can find it under:
Tools->Options->Text Editor->General

![image](https://user-images.githubusercontent.com/1521254/28028324-03f09bb2-6551-11e7-857c-59488aa797d0.png)

[2017-07-10 19:49] bricelam opened #549 "Stop using DbContextOperations.CreateContext"
In EF Core 2.0.0, we've added [DbContextActivator](https://github.com/aspnet/EntityFramework/blob/rel/2.0.0/src/EFCore.Design/Design/DbContextActivator.cs) which provides non-internal API to do this.

[2017-07-11 02:44] WeihanLi commented on #539
Hi @prafullbhosale , I‘ve tried that way,but it did not work.

[2017-07-11 04:19] WillPhoenixLiu opened #550 "Can not build the solution in VS 2017, How can I build the solution in the IDE?"
The bulid.cmd works fine, but I can't build the solution in VS 2017. I think it is mainly about restore package failed. How can I build the solution in the IDE?
Here is the messages from the output window.

Restoring NuGet packages...
Detected package downgrade: NETStandard.Library from 2.0.0-preview2-25401-01 to 1.6.1
 Microsoft.VisualStudio.Web.CodeGeneration.Core (>= 2.0.0-preview2) -> Microsof

[2017-07-14 00:11] #534 closed

[2017-07-14 16:11] badersur commented on #493
Passing `-?` will list the code generators:

[code]

[2017-07-15 17:36] badersur opened #559 "aspnet-codegenerator fails to create an API with actions on Ubuntu"
# steps to reproduce

1. `dotnet new webapi -o WebApi`

2. change `WebApi.csproj` to be:

[code]

3. `dotnet restore`

4. `dotnet aspnet-codegenerator controller -name NotGonnaUseController -api -actions -outDir Controllers`

[code]

5. `ls -l /home/badersur/.nuget/packages/microsoft.visualstudio.web.codegenerators.mvc/1.1.1/Templates/ControllerGenerator`

[code]

It seems like the issue is becaus

[2017-07-16 06:43] badersur commented on #550
Could you paste your `.csproj` file?

Maybe changing `netstandard2.0` to `netstandard1.4` or 1.6 in your `.csproj` could solve your issue, or adding `ExcludeAssets="All"` to `Microsoft.Composition`:

[code]

or adding:

[code]

I'm just guessing and for more info, see:

https://stackoverflow.com/questions/42349605/reference-net-4-5-dll-in-net-core-1-1-csproj

and https://marketplace.visualstudio.c

[2017-07-16 16:07] badersur opened #561 "asp-codegenerator creates APIs with views on Ubuntu"
## steps to reproduce:

`dotnet new webapi -o WebApi`

`dotnet add package System.Composition`

`dotnet add package Microsoft.Composition`

`dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design`

`dotnet restore`

`dotnet aspnet-codegenerator controller -api -name ProductsController -outDir Controllers`

`cat Controllers/ProductsController.cs`

[code]

The command seems to be workin

[2017-07-19 21:28] DaffittTech commented on #430
This is the craziest thing. I had the same problem as described above and attempted to follow the solution commented on by @davec21, but I only found one instance where my application was using an "out" variable. Strangely enough, this one instance has nothing to do with the model on which I was attempting to scaffold.

Once I added a predefined variable prior to the "out" part that assigns a valu

[2017-07-19 21:59] ryanbrandenburg opened #566 "Remove Newtonsoft.Json from Microsoft.Extensions.ProjectModel.Tests"
Remove the explicit package reference and confirm that there are still no warnings.

[2017-07-20 16:38] prafullbhosale commented on #493
@badersur the above is correct for 1.0 and 1,1 versions of scaffolding tools.

The changes in cd1729f60b23ef9be5ce81a5ee13acad6cf32434 for 2.0, show the below:

[code]

[code]

[2017-07-20 16:38] #493 closed

[2017-07-20 17:18] mikeharder commented on #537
@natemcmaster: Any idea why this might be happening?  The `appveyor.yml` looks identical to other repos.

[2017-07-20 17:26] badersur commented on #493
Thanks @prafullbhosale for telling me about these awesome changes on version 2.0! I thought 1.0.1 is the latest version (and didn't check nuget!). Unfortunately, I will have to use .NET 1.1 for few weeks until I complete MVA's ASP.NET courses...

[2017-07-20 21:20] mikeharder opened #573 "Update NuGetFrameworksVersion to match CLI"
Scaffolding should reference the same version of NuGet packages as the CLI.  Currently, Scaffolding references `4.0.0` while the CLI references `4.3.0`:

* https://github.com/dotnet/cli/blob/master/build/DependencyVersions.props#L18
* https://github.com/aspnet/Scaffolding/blob/dev/build/dependencies.props#L17

This may also require ASP.NET to mirror NuGet.Frameworks, either from https://dotnet.myg

[2017-07-21 16:32] zubra5 commented on #407
Yes, I have same error with separated DbContext, Models and WebAPI

[2017-07-21 17:00] prafullbhosale opened #575 "Line endings for scaffolded files are not correct"
On Windows the scaffolded files have `LF` instead of `CRLF`.
Staging these files on git causes these warnings:

[code]

cc @Tratcher

[2017-07-21 17:09] natemcmaster commented on #537
Have @Eilon re-authenticate AppVeyor to this project. AppVeyor needs webhooks installed into each project for these triggers to run correclty.

[2017-07-22 03:55] prafullbhosale commented on #550
@reezonew this looks like you need to install the latest dotnet cli from https://github.com/dotnet/cli/tree/release/2.0.0#installers-and-binaries

Running `build.cmd` usually downloads a version of dotnet cli in a private location which may not be discovered by VS.

[2017-07-22 04:42] prafullbhosale commented on #507
The warnings are for `System.Collections.Immutable`
This dependency comes through via Roslyn packages (`System.Collections.Immutable` assembly version `1.2.1.0` ) and conflicts with the one in `Microsoft.NETCore.App` (assembly version `1.2.2.0`)

[code]

[2017-07-24 04:44] Eilon commented on #537
Happy to do it. @prafullbhosale - any concern on enabling AppVeyor to build & run tests on every PR? (This will not block merging PRs - it just shows an extra status check in the PR so you can quickly see red/green status.)

[2017-07-24 16:20] prafullbhosale commented on #537
Sounds good to me.

[2017-07-24 18:15] plntxt commented on #454
For what it is worth I was able to work around this problem by deleting my project files locally, then re-checked out the solution from source control.  Still don't know the cause though.

[2017-07-25 12:56] flatproject commented on #251
July 2017 and still the same issue. Not being able to scaffold when my model and my dbcontext are in separate libraries. Is there any plan to have this fixed for V2 release in September?

[2017-07-26 23:24] mikeharder opened #579 "Scaffolded Controllers should end with a newline"
The typical convention is for files to end with a newline (`}\r\n` instead of `}`).  However, Controllers generated by Scaffolding just end with a bare `}`.

[2017-07-26 23:31] mikeharder opened #580 "List View should use asp-action instead of Html.ActionLink"
List View currently uses a mix of `asp-action` and `Html.ActionLink`:

[code]

I think the preferred syntax is now `asp-action`, so I would suggest replacing `Html.ActionLink` with `asp-action`.

[2017-07-27 18:15] PeterMontgomery777 commented on #444
I have the same problem that llaughlin reported 2nd June. I just installed VS build 26430.16. I have both 4.52 and Core in my solution. Does anyone have any further info or suggestions?

[2017-07-27 18:19] Rick-Anderson commented on #444
@PeterMontgomery777 you installed the 4.52 Framework and VS on Linux?

[2017-07-27 18:56] #549 closed

[2017-07-27 19:23] PeterMontgomery777 commented on #444
Sorry, no, it was on Windows 7!

[2017-07-27 20:30] Eilon commented on #537
Should be enabled now.

[2017-07-27 20:30] #537 closed

[2017-07-28 01:26] Rick-Anderson opened #582 "aspnet-codegenerator razorpage -outDir Pages/Movie -> namespace is Pages_Movie"
See [Scaffold the Movie model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model#scaffold)

When you run the following command:
`dotnet aspnet-codegenerator razorpage -m Movie -dc MovieContext -udl -outDir Pages/Movie`

The *Pages/Movie* `PageModel` classes have the following namespace:

`namespace <Project Name>.Pages_Movie`
The namespace should follow convention and use `P

[2017-08-01 17:38] #544 closed

[2017-08-02 09:32] ciacco85 commented on #407
Same for me: scaffoldinf throw errors if web app, context and model are in separate assemblies

[2017-08-03 17:58] mlorbetske opened #585 "Razor Page templates use fully qualified name"
_From @Rick-Anderson on August 1, 2017 20:7_

The constructor uses the FQN when it's not necessary. For example:

See [Pages/Movie/Index.cshtml.cs](https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/razor-pages/razor-pages-start/sample/RazorPagesMovie/Pages/Movie/Index.cshtml.cs#L14-L16)

`using RazorPagesMovie.Models;` is in the template.

To repro - follow the [Razor Pages tutorial]

[2017-08-04 13:59] mmahomar commented on #539
Having the same issue.
Scaffolding creates the Views in ANSI encoding.
![image](https://user-images.githubusercontent.com/2126867/28971702-2cc2a574-78ea-11e7-981a-0dde3ff0b8c6.png)

You need to change the encoding manually on every view to utf-8 using notepad.

The source t4 view templates are encoded in utf-8, but somehow when scaffolding they get created in ANSI.

I also have Auto-detect UTF-8 e

[2017-08-04 21:04] Rick-Anderson commented on #582
@prafullbhosale

[2017-08-04 21:34] prafullbhosale commented on #582
@Rick-Anderson , if I try with `dotnet aspnet-codegenerator razorpage -m Movie -dc MovieContext -udl -outDir Pages\Movie`

i.e. `\` instead of `/`, it generates the namespace properly.

Looks like a bug in determining namespaces that it doesn't handle `/`.

[2017-08-04 22:14] Rick-Anderson commented on #582
Do we need to open another bug for the fact that when it generates namespaces with underscore in lieu of dot (that is `namespace <Project Name>.Pages_Movie`), changing to dot notation causes a strange error that it can't resolve some `#using` statements. I demo'd this to Dan.Roth - do you want a quick demo?

[2017-08-04 22:19] prafullbhosale commented on #582
Did you change the namespace in both the `.cshtml` and the `.cshtml.cs` (PageModel class ) files?
It'd be great to get a quick demo.

[2017-08-04 22:29] Rick-Anderson commented on #582
Yes,, although changing in the Razor file wouldn't impact the bug in the .cs file.

[2017-08-04 22:43] Rick-Anderson commented on #582
namespace conflict solved - I was using movies as a type an namespace. The _ masked my ambiguity.

[2017-08-07 08:37] OskarKlintrot commented on #159
Any updates on this one?

[2017-08-07 12:55] lee-alderdice opened #586 "Error running selected code generator. The given assembly or codebase was invalid."
Hi,

I am running into the error below when scaffolding a controller and views in VS2017.  My csproj is at the bottom.  I am not sure how to fix this, so far I have tried:

- Different version of Wed.CodeGeneration.
- Different Package and DotNetCliToolReference configurations

Any help greatly appreciated.

Thanks.

![image](https://user-images.githubusercontent.com/11538808/29027157-562a2100-7b7

[2017-08-07 16:50] prafullbhosale commented on #586
@lee-alderdice, I was able to repro the issue with the csproj you provided.

I had to make the following modification to get scaffolding to work:

Remove the below package references:
[code]

The above packages are brought in transitively by `Microsoft.VisualStudio.Web.CodeGeneration.Design`, so you should not refer to them directly.

Let me know if this helps.

[2017-08-07 17:22] lee-alderdice commented on #586
Hi @prafullbhosale that has worked.  Thank you so much.  I have been looking on the web for a long time to get to this point.

[2017-08-08 20:59] Rick-Anderson opened #587 "Razor Pages scaffolder eats DbUpdateConcurrencyException"
Expected behavior:
* Scaffolder should correctly handle `DbUpdateConcurrencyException`

Actual behavior:

 * `DbUpdateConcurrencyException` is caught and ignored.

To repro:

* Create a RP project and add a model.
* [Scaffold the model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model#add-scaffold-tooling-and-perform-initial-migration)

The *Edit.cshtml.cs* file contains th

[2017-08-08 21:03] prafullbhosale opened #588 "Invoking dotnet aspnet-codegenerator with no args should show help"

[2017-08-08 21:03] Rick-Anderson opened #589 "dotnet aspnet-codegenerator” crashes, if it has no passed in args"
“no args” should act as if –help was passed in
cc @shanselman

[2017-08-08 21:06] Rick-Anderson commented on #589
dup of #588

[2017-08-08 21:06] #589 closed

[2017-08-09 00:05] Rick-Anderson opened #590 "Razor Page scaffolder should add `@page "{id:int}"` directive"
The RP scaffolder should add @page "{id:int}" directive so generated links pass the ID as route data, not query strings.

All my RP tutorials I have to have a section on adding this. See https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/da1

Update the Edit, Details, and Delete Razor Pages to use the `"{id:int}"` route template. Change the page directive for each of these pages to

[2017-08-09 18:16] tothsuo19 opened #591 "Unable to restore minimal dependencies for scaffolding in an asp.net core 2 preview project."
Trying to scaffold a controller in an asp.net core 2 project, nuget fails @
**Error	NU1102	Unable to find package Microsoft.VisualStudio.Web.CodeGeneration.Design with version (>= 2.0.0)** after installing minimal dependencies.
Changing this within the .csproj folder results in further dependency errors. Is there a smart workaround to this or would I need to develop out of the core 2 preview?

[2017-08-09 19:39] Rick-Anderson opened #592 "RP scaffolder should not decorate model with [BindProperty] in delete"
`[BindProperty]` in not needed in the [delete page](https://github.com/aspnet/Docs/blob/master/aspnetcore/tutorials/razor-pages/razor-pages-start/sample/RazorPagesMovie/Pages/Movies/Delete.cshtml.cs#L21-L22). There is nothing to bind on the delete page - it uses ID to get the model.

To repo, follow [RP tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model).

[2017-08-10 19:30] #566 closed

[2017-08-13 22:11] prafullbhosale commented on #591
Hi @tothsuo19,
Can you please try again?
The [package](https://www.nuget.org/packages/Microsoft.VisualStudio.Web.CodeGeneration.Design/2.0.0) is now available on NuGet.org and you shouldn't face this issue anymore.

[2017-08-14 00:56] tothsuo19 commented on #591
@prafullbhosale
Worked an absolute treat, thank you kindly.
It does however alert me of the detection of a package downgrade and to directly reference it within I assume the .csproj but not something I should be worried about I'm guessing. I'm able to scaffold a controller as advertised on the tutorial written by Rick & Tom. Hope this has helped others as it has myself.

[2017-08-15 16:21] prafullbhosale commented on #591
@tothsuo19 that shouldn't be the case.
Could you please provide a sample project where this can be repro'ed? I'd love to take a look as to why this is happening.

[2017-08-15 20:11] tothsuo19 commented on #591
Sure.

[MvcMovie.zip](https://github.com/aspnet/Scaffolding/files/1226247/MvcMovie.zip)

The only other issue encountered from start to finish is upon adding the 'Rating' migration to the database. It will complain that 'Movie' is itself a pre-existing object but that's ef not scaffolding.

The tutorial was of great help yet the issues might scare a few people away from the technology.

[2017-08-15 20:29] prafullbhosale commented on #591
@tothsuo19 , the csproj contains `Microsoft.AspNetCore.All` version `2.0.0-preview2-final` which indicates that you have a slightly older version of dotnet CLI installed on your machine.
This is causing the package downgrade warnings for `Microsoft.NETCore.App`.
If you install the latest 2.0 CLI from https://www.microsoft.com/net/download/core, you should get the latest templates that have the rig

[2017-08-15 20:37] tothsuo19 commented on #591
@prafullbhosale
Ah, so that's the issue. I assumed that, with using the preview and it being updated to a complete state I'd of had such a thing already installed? I'll see what happens and it's surely safe to close this.

Thanks again.

[2017-08-15 20:46] #591 closed

[2017-08-16 00:43] mikeharder commented on #459
@ryanbrandenburg: Please close if the test has been relatively stable lately.

[2017-08-16 18:24] #533 closed

[2017-08-17 17:43] #535 closed

[2017-08-17 19:02] ryanbrandenburg commented on #459
This seems to have been fine lately, we can re-open if it re-surges.

[2017-08-17 19:02] #459 closed

[2017-08-17 22:02] Rick-Anderson opened #599 "Scaffolder code has empty `using ;` when you don't specify the FQN on the DC"
To repro:

[code]
Add a [movie model](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model)

[code]

Run `dotnet ef migrations add Initial`

Result:
`<timestamp>_Initial.cs` and *MovieContextModelSnapshot.cs* both start out with

[code]

Fix is to specify the fully qualified namespace on the dc.

[2017-08-18 11:13] cseguenot commented on #430
Same problem for scaffolding controllers or views with asp.net core 2.0 and VS 20117 15.3, and without specific C#7 code. I am unable to determine from which step the problem appeared. I tried to remvove the last classes I added, but without success...

[2017-08-18 17:29] prafullbhosale commented on #599
@Rick-Anderson, With the command line you provided,  the generated DbContext class is not in any namespace:

[code]

But there's no `using ;` generated during scaffolding step.
I can build the project successfully.

I see the issue when I run `dotnet ef migrations add Initial`
The files you mentioned `<timestamp>_Initial.cs` and `MovieContextModelSnapshot.cs` seem to be generated by EF migrations.

[2017-08-18 22:46] shawnwildermuth opened #600 "MVC Template with Database Users Template confuses email and username."

[2017-08-21 16:02] steduardo commented on #407
Same error in netcoreapp2.0 :(

[2017-08-21 21:01] prafullbhosale opened #601 "net461 version of dotnet-aspnet-codegenerator-design.exe should be built for multiple platforms instead of win7-x86"
For a net461 project with RID as win7-x64, the dotnet-aspnet-codegenerator-design.exe causes exception as MVC tries to load the 32-bit assembly in a 64-bit process:

[code]

Sample project:

[code]

[2017-08-21 21:09] prafullbhosale commented on #601
cc @Eilon @mlorbetske

[2017-08-21 22:11] Eilon commented on #601
cc @pranavkm because MVC is in the mix here.

[2017-08-21 22:22] pranavkm commented on #601
I might have been on an email thread related to this. The PR for this looks good.

[2017-08-22 02:56] mrlife opened #603 "[ASP.NET Core 2.0] Scaffolding failed to edit Startup class..."
Running the `dotnet aspnet-codegenerator` produces the following error:

There is indeed a `Startup.cs` that contains both a `ConfigureServices()` and an `IConfigurationRoot Configuration` property.

Here are the full contents of the terminal (`Models/ContactInfo.cs` and `Models/AppContext.cs` exist):

Building project ...
Finding the generator 'controller'...
Running the generator 'controller'...

[2017-08-22 04:07] dougbu opened #604 "[Feature Requested] Server-Side Validation based on the Tag-Helpers"
_From @A7medRamadan on August 21, 2017 18:16_

What about having a server-side validation without the need to post all the data to the server to check the validation constrains, just by adding a simple Tag-Helper (asp-validate="true") it automatically validate that input in the server that if it matches the validation constrains or not.
`<input type="text" asp-for="UserName" asp-validate="true" />

[2017-08-22 04:07] dougbu commented on #604
_From @pranavkm on August 21, 2017 19:20_

@dougbu would TagHelpers + `RemoteValidationAttribute` on the model work in this case?

[2017-08-22 04:07] dougbu commented on #604
@pranavkm you meant `RemoteAttribute` and yes, it should work.

Then again, @A7medRamadan you mention both "without the need to post the data to the server" and "automatically validate in the server". Are you distinguishing between sending _all_ the data and sending just the data for one property? If that's the case, `[Remote]` is your man.

[2017-08-22 04:07] dougbu commented on #604
_From @A7medRamadan on August 21, 2017 19:46_

No need to post all the data to the server to validate then returning it back, just validate it as the input lost its focus.
And i know the `RemoteValidationAttribute `but i just want more clean and simple way to implement it in the code

[2017-08-22 04:07] dougbu commented on #604
_From @A7medRamadan on August 21, 2017 19:53_

To make my point more clear, to implement `RemoteValidationAttributebut ` i have first to write it for a property then making a controller to handle the validation logic then adding the Jquery validation set

i just only want simple taghelper do all the required things on the fly just asp-validate="true"

[2017-08-22 04:07] dougbu commented on #604
_From @A7medRamadan on August 21, 2017 19:56_

@dougbu i edited my request

[2017-08-22 04:07] dougbu commented on #604
To be clear, there is no `RemoteValidationAttribute` in MVC, just `RemoteAttribute`.

`[Remote]` does require some setup -- mostly action(s) to verify data and `[Remote]` annotations. It's also a bit fragile due to the `AdditionalFields` feature.

But, please clarify how `<input type="text" asp-for="UserName"/>` with `[Remote]` on the `UserName` property would change the response if `asp-validate=

[2017-08-22 04:07] dougbu commented on #604
_From @A7medRamadan on August 21, 2017 23:18_

@dougbu  Yeah you are right, that what i really meant Scaffolding feature

[2017-08-22 08:41] SaravananArunagiri commented on #603
can you post the startup class

[2017-08-22 14:01] mrlife commented on #603
Here is the `startup` class:

[code]

[2017-08-23 05:53] GuerrillaCoder commented on #454
I also have this issue.  Any solutions?

[2017-08-23 06:41] GuerrillaCoder commented on #454
I found a solution.  I deleted bin & obj folders then it gave me error it couldnt find project.deps.json in debug folder.  I set project to debug, ran it and now I can add scaffolded items.

[2017-08-23 18:29] prafullbhosale commented on #603
@mrlife, since the DbContext file already exists (`Models\AppContext.cs`), you would have to make sure that the DbContext is registered in the Startup class' `ConfigureServices()` method as well.

[code]

The `ConnectionStringName` in the above snippet maps to the connection string in appsettings.json

Scaffolding will not be able to register existing DbContext classes in the Startup class.

[2017-08-23 21:47] badersur opened #606 "Feature request: add an option to specify templates' location"
The scaffolding tool is great but it's tied to use bootstrap 3 and tweaking generated files for every project is annoying and time consuming! It would be nice to be able to pass a template's folder and the engine looks for templates inside it and use whatever available and use the current default template's path as a last resort!

I would love to provide the path and have the engine to look for te

[2017-08-23 23:12] mrlife commented on #603
@prafullbhosale, you are right about the `AddDbContext` being needed in `ConfigureServices()`. I did try the scaffolding with and without that line, and it didn't affect the error message, so I left it out as a way to provide the smallest code that produces the error.

[2017-08-25 13:55] Pavel-Malezhyk commented on #407
I had the same problem:  (netcoreapp2.0, EF core)  I had such projects and references: WebProj (need to add Controller)->AppData (DbContext)->AppDomain(Data class) .. scaffolding had crushed with "Could not add Model type" error ... after I added Explicit link to AppDomain despite of using "use directive" and all started to work well.
public DbSet<DataClass> DataClasses { get; set; } -> public DbS

[2017-08-25 19:56] Rick-Anderson commented on #582
@prafullbhosale  on MacOS, I can't use the work-around, it appends the folder name to the page name. I'm  forced to have 3 versions of this command:

* Windows
* MacOS
* VS Code (which can be on Windows or anything else)

[2017-08-28 00:46] mrlife commented on #603
Could this be verified whether a bug or maybe an undocumented/overlooked configuration change needed with .NET 2.0?

[2017-08-28 03:11] shobman opened #607 "EF Core 2.0 duplicate fields generated for derived generic entities"
EF Core 2.0 is generating invalid migrations for properties of generic entities which are also derived as part of an inheritance / TPH data model.

I have attached a working demo application with both EF Core 1 and EF Core 2 projects to illustrate the issue: [EF2.DerivedGenericsIssue.zip](https://github.com/aspnet/Scaffolding/files/1255002/EF2.DerivedGenericsIssue.zip)

## Expected behaviour

As p

[2017-08-28 03:13] #607 closed

[2017-08-28 03:18] shobman commented on #607
I posted this to the wrong project by mistake so I close this and reopened: https://github.com/aspnet/EntityFrameworkCore/issues/9600

[2017-08-28 06:23] mguinness commented on #444
FWIW, I also had this issue with an upgraded project on Windows 10 which was resolved by deleting obj folder as directed by prafullbhosale.

The interesting thing was that the scaffolding worked fine using VS 2017 (version 15.3).  For the command line, I had to add the following to my csproj and delete obj to get it working.

`<DotNetCliToolReference Include="Microsoft.VisualStudio.Web.CodeGenerat

[2017-08-28 18:05] jepperaskdk opened #608 "Feature request: Repository Pattern Controller Scaffolding"
As described in my thread on StackOverflow here [https://stackoverflow.com/questions/45905420/visual-studio-2017-mvc-scaffolding-add-custom-directory](url), it would be cool with a Controller-scaffolder adhering to the Repository-pattern.

[2017-08-30 21:45] natemcmaster opened #617 "Remove dependency on Microsoft.DotNet.ProjectModel"
This API was deprecated along with the rest of project.json, but this project still uses it in testing. We should remove or replace usages of this package.

[2017-08-30 21:47] #573 closed

[2017-09-02 19:52] mrlife commented on #603
I was missing running a command like the following before the `dotnet aspnet-codegenerator` command:

[code]

[2017-09-02 19:52] #603 closed

[2017-09-04 11:19] shawnwildermuth commented on #600
Any word on this?

[2017-09-05 10:53] NicoSymo opened #618 "Scaffold multiple error after migrating from Core 1.1 to 2.0"
Hi,

I recently migrate from core 1.1 to core 2.0 on my ASP web project.
I managed to make it work fine except for the Scaffold part, I personnalized the supplied templates for my 1.1 core project (they did work fine), but on 2.0 I get multiple errors.

Here I use 'MVC Controller with views, using Entity Framework' on a simple POCO.

First problem is that some namespace are not resolved :
Here is

[2017-09-06 00:26] prafullbhosale commented on #600
This looks like a template issue. cc @mlorbetske @seancpeters

[2017-09-06 01:04] seancpeters commented on #600
cc @danroth27
From a quick search, this appears to be the case for all versions of both StarterWeb C# & Razor templates.

[2017-09-06 07:11] NicoSymo commented on #618
I confirm that when trying back with the exact same templates, but on a .Net Core 1.1 projet everything works fine.

I tryed to force the 1.1 framework on my 2.0 project using the CLI commands tools but obviously the dependencies failed :
`dotnet aspnet-codegenerator --project "C:\Users\Nicolas\Documents\Visual Studio 2017\Projects\WebPortal\webportal\WebPortal\WebPortal.csproj" --no-build control

[2017-09-06 11:44] NicoSymo commented on #618
I managed to make my template works on .net core 2.0, I checked the differences between my templates and the templates from the repo [,](https://github.com/aspnet/Scaffolding/tree/dev/src/VS.Web.CG.Mvc/Templates) and here are the mandatory modifications :

Templates\ControllerGenerator\MvcControllerWithContext.cshtml

Add :

@using System.Collections.Generic;
@using System.Linq;

in addition of :

[2017-09-06 11:44] #618 closed

[2017-09-06 22:24] shawnwildermuth commented on #600
Yup.

[2017-09-06 22:58] danroth27 commented on #600
Is the proposal here to simply rename the LoginViewModel.Email property to LoginViewModel.Username?

[2017-09-10 22:22] ahmadalli commented on #407
@prafullbhosale any plans on supporting dbcontext in neither web app nor model assembly?

[2017-09-11 05:05] Eilon opened #621 "How difficult will be to have a Code Generator for the MVC rails like ?"
_From @dinooz on September 6, 2017 15:46_

I wonder how difficult will be to bring a C# code generator to automagically create all the mehtods, relationships generated from a basic models to speedup the creation of projects ?

Perhaps this needs to build a new project almost like yeoman or rails generator to based on some DB Model create and wire all the required project.

_Copied from original is

[2017-09-11 05:05] Eilon commented on #621
We do have something like this: the Code Generator Scaffolding feature that has command line tools and a Visual Studio UI for generating controllers and pages.

Here's a doc on how to do it with Razor Pages: https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model

Though the scaffolding works with regular MVC apps as well.

Is that what you're looking for?

[2017-09-11 05:05] Eilon commented on #621
_From @dinooz on September 8, 2017 13:54_

Close... have been working with K2 Forms and is really awesome, the way it works.
Define the SQL Data
Setup Data Sources as Service Instanace / then Smart Objects. [ Build CRUD of the SQL or Data Source]
Use the graphical interface to build the form and put some buttons calling actions and rules.
That's all the form is ready.

Taking that to the command l

[2017-09-11 05:05] Eilon commented on #621
Ah, I see, so this is about scaffolding an entire database (all tables + all relationships) in one command?

[2017-09-13 20:33] bradleypatton opened #622 "aspnet-codegenerator Unhandled Exception: System.InvalidOperationException: Failed to get Project Context"
Trying to use aspnet-codegenerator to scaffold a razor page as outlined here;
   https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model

And getting an "Unhandled Exception: System.InvalidOperationException: Failed to get Project Context" for any action. My project is targeting net47

[code]

My .csproj looks like the following

[code]

[2017-09-14 03:03] mmillican commented on #575
I've been noticing this as well on v2.0 with Visual Studio 2017 15.3.2

Workaround is to do a Save As and change the encoding on the file, but this is tedious for every file.

[2017-09-15 00:32] shawnwildermuth commented on #600
That would fix it, or to change the generated HTML to say username. Probably need both.

[2017-09-15 04:21] danroth27 commented on #600
Well, the template is written with the assumption that the username will be an email address. If we change the HTML to say username, then it will no longer be clear to the user that an email address is really what is expected.

[2017-09-15 04:38] shawnwildermuth commented on #600
I tend to agree. That's the confusing part. But if you change the model, it should be sufficient. But I lost about two hours figuring it out when I *didn't* use email as my username. There are two fields that could have an email and  assuming that email is the username, why have both?

[2017-09-15 16:18] Eilon commented on #457
Removing from milestone because this milestone already shipped.

[2017-09-15 16:19] Eilon commented on #193
Removing from milestone because this milestone already shipped.

[2017-09-15 16:19] Eilon commented on #166
Removing from milestone because this milestone already shipped.

[2017-09-15 16:19] Eilon commented on #159
Removing from milestone because this milestone already shipped.

[2017-09-15 16:19] Eilon commented on #127
Removing from milestone because this milestone already shipped.

[2017-09-15 16:20] Eilon commented on #300
Removing from milestone because this milestone already shipped.

[2017-09-15 16:20] Eilon commented on #284
Removing from milestone because this milestone already shipped.

[2017-09-15 16:20] Eilon commented on #280
Removing from milestone because this milestone already shipped.

[2017-09-15 16:20] Eilon commented on #272
Removing from milestone because this milestone already shipped.

[2017-09-15 16:20] Eilon commented on #271
Removing from milestone because this milestone already shipped.

[2017-09-15 16:20] Eilon commented on #588
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-15 16:23] prafullbhosale commented on #272
This is already fixed in 2.0.0. Closing.

[2017-09-15 16:23] #272 closed

[2017-09-15 16:59] Eilon commented on #601
This patch bug is **approved** for the 2.0.x patch. Please send a PR to the `feature/2.0.1` branch and get it reviewed and merged. When we have the `rel/2.0.1` branches ready please port the commit to that branch.

[2017-09-18 15:16] tjrobinson commented on #601
@Eilon Is there a workaround in the meantime?

[2017-09-18 18:19] #300 closed

[2017-09-21 05:33] danroth27 opened #628 "Generated Web API controllers should derive from ControllerBase"
Generated Web API controllers currently derive from Controller. They should instead derive from ControllerBase.

[2017-09-21 05:34] danroth27 opened #629 "Use route tokens in attribute routes in generated controllers"
Generated controllers (like the Web API controller) should use route tokens in the attribute routes, instead of hard coding the controller name.

Instead of this:

[code]

Do this:

[code]

[2017-09-21 05:36] danroth27 opened #630 "Remove ProducesAttribute from Web API controllers"
Currently the generated Web API controllers have a `[Produces("application/json")]` attribute. I think this attribute can be removed - it doesn't really add any value and is inconsistent with the item templates and project templates.

[2017-09-21 10:35] lee-alderdice commented on #586
Sorry to reopen this but I find once again that the ability to scaffold controllers and views has disappeared and the same error message has returned.

I am on VS2017 15.3.4
My .csproj has just this package `Microsoft.VisualStudio.Web.CodeGeneration.Design`  at version 1.1.2 and tooling `Microsoft.EntityFrameworkCore.Tools.DotNet` at version 1.1.0-preview4-final.

I have checked on VS2017 develope

[2017-09-22 15:26] ibqn opened #631 "Scaffolding fails with async main function"
I was following this famous [tutorial](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/read-related-data#create-a-courses-page-that-displays-department-name) on GNU/Linux running dotnet core 2.0 with some modifications, where one of such was the switch to the _async_ main function.

As the result scaffolding was failing for me with the very "descriptive" error message (which is probably a

[2017-09-30 13:12] mudaser commented on #550
Install .net core first

[2017-10-03 00:07] Rick-Anderson opened #632 "WIP: scaffolder doesn't use plural from DbSet <don't review just yet>"
* In VS, create a new Razor Pages (RP) app named ContosoUniversity
*  Create a Models folder. In the Models folder, create a class file named Student.cs and replace the code with the following:
[code]
* In the Data folder create a new class file named SchoolContext.cs, and replace the template code with the following code:

[code]

* Add `SchoolContext` to the DI container:

[code]
* Open the apps

[2017-10-03 00:24] #632 closed

[2017-10-03 00:25] Rick-Anderson opened #633 "scaffolder doesn't use plural from DbSet"
new shorter instructions

1.  Create a RP web app named `RazorPagesMovie`
1. Follow [these](https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model) instructions **EXCEPT** - name the `DbSet` plural
`public DbSet<Movie> Movies { get; set; }`

This tutorial had 30K confirming it works until an update was made to change to the plural `public DbSet<Movie> Movies { get; set; }`

-- wh

[2017-10-03 20:27] conterio opened #634 "Feature Request: Scaffolding generates nested forms automatically"
If I have a form model that includes a List of another form model and that model has a list of other form model, etc, I would like it when scaffold to generate nested forms of dynamic size (based on the user at run-time) in the scaffold form view.

This can be a pain/tidius to do manually, and isn't that the point of scaffolding.

[2017-10-04 17:13] prafullbhosale opened #635 "Set output encoding to Unicode"
The redirected output shows up garbled in the VS output window

![image](https://user-images.githubusercontent.com/1521254/31189267-9291c7c2-a8ec-11e7-81e5-7fae2f68422b.png)

[2017-10-04 17:14] prafullbhosale commented on #635
cc @mlorbetske @Eilon

[2017-10-04 20:53] danroth27 opened #636 "Update Web API scaffolders to use new Web API conventions"
We are adding some new [Web API specific conventions]() that we will need the Web API scaffolders to react to.

We are adding `[ApiController]` attribute as the way to opt-in to new API specific conventions and behaviors that are tuned around best practices for APIs.

This will include:
- Automatically responding with a 400 when validation errors occur (using https://tools.ietf.org/html/rfc7807)
-

[2017-10-05 16:12] tjrobinson commented on #601
From: https://github.com/aspnet/Mvc/issues/6709#issuecomment-324969596

[2017-10-05 20:20] prafullbhosale opened #638 "Port fixes from rel/2.0.1 to dev"
cc @mlorbetske

[2017-10-05 21:25] prafullbhosale opened #639 "Scaffolding fails if the user project contains 'unsafe' code"
If the user project has any `unsafe` code, scaffolding fails to get the in memory compilation using Roslyn.

Sample code for repro:
https://github.com/prafullbhosale/UnsafeSample

Run
[code]

Scaffolding fails with the below error:

[code]

[2017-10-09 20:56] prafullbhosale commented on #635
Closed in #640

[2017-10-09 20:56] #635 closed

[2017-10-09 20:57] prafullbhosale commented on #601
Fixed by #605

[2017-10-09 20:57] #601 closed

[2017-10-09 20:58] prafullbhosale commented on #588
Fixed by #596

[2017-10-09 20:58] #588 closed

[2017-10-09 20:58] prafullbhosale commented on #587
Fixed by #597

[2017-10-09 20:58] #587 closed

[2017-10-15 22:30] NoralK opened #643 "Areas scaffolding ScaffoldingReadMe.txt and a suggestion"
Clean project - MVC with individual accounts
.Net Core 2.0
VS2017 - 15.4.0

If I right click "Project Name" -> Add -> Area.  Give the Area name it will scaffold the area up.  It creates a file named ScaffoldingReadMe.txt in the root folder with this text, which has a misspelling.

This is what the file contains:
[code]
this is what is should be (the `s` is missing in routes.MapRoute):
[code]
### S

[2017-10-16 21:44] peterres commented on #407
@Pavel-Malezhyk thanks, same situation for me, netcoreapp2.0 with separate projects, and you were right, would never thought of this.

But it's really weird, using full type qualifier with DbSet<T> in DbContext solves the problem.

Not working:
public DbSet<DataClass> DataClasses { get; set; }

Working:
public DbSet<AppDomain.DataClass> DataClasses { get; set; }

[2017-10-19 13:22] mikebrind commented on #633
Related to the issue outlined, the scaffolder also generates singular names for collection properties, which is odd, in my opinion. So instead of
[code]
you get

[code]
And in the Razor Page:
[code]

[2017-10-23 19:25] natemcmaster opened #645 "Microsoft.VisualStudio.Web.CodeGeneration.Design 2.0.1 causes package downgrade error NU1605 for Microsoft.NETCore.App"
Microsoft.VisualStudio.Web.CodeGeneration.Design has Microsoft.NETCore.App listed in its nuspec dependencies. This causes issues when the .NET Core SDK picks an implicit reference to Microsoft.NETCore.App that is lower than what the .Design package depends on.

**Repro:**
Create app with the 2.0.0 SDK.
Add or upgrade Microsoft.VisualStudio.Web.CodeGeneration.Design to 2.0.1
Restore.

**Result:**
[

[2017-10-23 19:35] natemcmaster commented on #645
cc @mikeharder @prafullbhosale

[2017-10-24 17:24] natemcmaster opened #647 "2.0.x tests fail if 2.1.0 is installed on the machine"
The functional tests execute tests in Path.GetTempPath() but fail to copy over the global.json file into the test context. This means functional test may not execute dotnet-CLI commands with the same SDK version as the rest of the build.

[2017-10-24 17:28] natemcmaster commented on #647
Leads to failures such as

[2017-10-24 17:29] natemcmaster commented on #645
Fixed in https://github.com/aspnet/Scaffolding/pull/646 in rel/2.0.1. Leaving open and on my plate to back-port to dev

[2017-11-01 02:13] Rick-Anderson opened #649 "Prefer FirstOrDefaultAsync to SingleOrDefaultAsync"
The scaffolder generates calls to `FirstOrDefaultAsync `.  Per @ajcvickers [comment here](https://github.com/aspnet/Docs/pull/4451#discussion_r148109121)

It's usually best to use `FirstOrDefaultAsync` unless the code specifically needs to check that there really is no more than one entity returned, because doing that check fetches more data and does more work.

[2017-11-01 08:48] basilaiman commented on #251
Still, exists.

[2017-11-01 10:14] vukuze opened #650 "[Question] How to change scaffolding classes and register in VS"
Hi. I beginner and can't understand how change existing scaffolding classes (fork or inherit) and how register them in VS 2017.
For example, need to create additional folders and classes in area scaffolding.

[2017-11-06 16:59] natemcmaster commented on #645
This was brought back to dev in https://github.com/aspnet/Scaffolding/pull/651

[2017-11-06 16:59] #645 closed

[2017-11-06 16:59] natemcmaster commented on #638
Done in https://github.com/aspnet/Scaffolding/pull/651

[2017-11-06 16:59] #638 closed

[2017-11-07 01:09] Rick-Anderson commented on #649
@ajcvickers given we have the PK, wouldn't it be even better to use `FindAsync(id)` ?

[2017-11-07 16:45] ajcvickers commented on #649
@Rick-Anderson There are pros an cons:
* Find is simple and concise if all you need is to look up a single entity.
* Find can have perf benefits in some situations, but they rarely come into play for normal web scenarios.
* Find implicitly does First instead of Single.
* But if you want to Include other entities, then Find is no longer appropriate. This means that you may need to abandon Find and

[2017-11-13 18:07] tillig opened #652 "Scaffolding empty controller/view in VS 15.4.3 adds EF package references"
- ASP.NET Core 2.0.0
- Visual Studio 15.4.3

If you right-click in Solution Explorer and add a controller or a view and specify it should be empty - no model, no actions, etc. - the scaffolding still adds references to:

- Microsoft.EntityFrameworkCore.Design 2.0.0
- Microsoft.EntityFrameworkCore.SqlServer 2.0.0
- Microsoft.EntityFrameworkCore.Tools 2.0.0
- Mcirosoft.VisualStudio.Web.BrowserLink 2

[2017-11-15 10:58] markrendle opened #653 "dotnet aspnet-codegenerator - my brain throws NameTooLongException"
Seriously.

I've looked to see if this has been mentioned before, but it hasn't, so here I am.

Why not `dotnet asp`?

[2017-11-24 16:30] julielerman commented on #407
#metoo ;)

[2017-11-27 19:08] Eilon opened #657 "DisplayAttribute.Name don't support Scaffolding Template"
_From @JamesYing on November 24, 2017 16:57_

hi man, i created a model and areas.
model:
[code]

And I generator a view page use Scaffolding 'Create' template into Areas/Views/Test

If correctly, it show the 'SiteName' for 'SiteName' property, but now, it's show empty,like this:
[code]
If i generator it to /Views/Test, it's correctly.

Kindly check it ,Thanks

_Copied from original issue: aspnet/

[2017-12-01 14:46] t0xicDen commented on #251
Still exists...

[2017-12-07 17:44] NTaylorMullen opened #661 "Request: Tooling option for C# model generation."
_From @jaszb on December 7, 2017 11:26_

I'd love to have the ability to use the scaffolding ability like "Razor Pages using EF CRUD" except allowing us to control the Class generated.

For example say we want to connect to a restful web api, then being ale to scaffold CRUD against a DTO object would be super useful.

right now the only way i can hack around this is to gen against EF, then turn th

[2017-12-08 02:08] smartminion commented on #430
Thanks @prafullbhosale - Installing package Microsoft.CodeAnalysis.CSharp.Workspaces (latest: 2.2.4) worked like a charm!

[2017-12-12 01:30] davkean opened #662 "Adding a new class (scaffolding) does not pay attention to tab settings."
_From @vsfeedback on December 11, 2017 16:13_

This worked in previous versions of VS but using Core and VS 2017 when I add a new class the file is created and it has the VS default tab settings applied not what is currently set. We have changed our tabs from 4 to 3 spaces (don't ask why - 15 year old decision) and when a new class is added there are 4 space tabs. I have to reformat the document e

[2017-12-12 01:30] davkean commented on #662
_From @Pilchie on December 11, 2017 16:15_

Note that Roslyn formats new documents added from templates [here](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices/Implementation/AbstractEditorFactory.cs,229), but it doesn't look like this is supported by the new project system?

[2017-12-12 01:30] davkean commented on #662
The new templating engine doesn't apply the ["template" bit when creating project files](https://github.com/dotnet/templating/issues/1225), I suspect individual files suffer from the same thing. I don't know what actually scaffolds though.

@mlorbetske?

[2017-12-12 01:30] davkean commented on #662
and @phenning?

[2017-12-12 01:30] davkean commented on #662
_From @mlorbetske on December 12, 2017 0:12_

In this case, I don’t believe the new template engine is in play as it’s generally not used for item templates in VS

[2017-12-12 01:30] davkean commented on #662
_From @phenning on December 12, 2017 1:12_

Mike is correct, I just confirmed that none of the item templates other then the new razor page template invoke the new template engine.

[2017-12-13 14:39] EdDraper commented on #407
I ran into this problem as well with 2.1.2.  I'm now getting a connection string error.  I have no idea where this is looking for a connection string.  I'd like to express a general bug in the lack of better error messages.  They would've saved me a LOT of time working through this.  Can anyone offer any insight into where this connection string should be placed?

![image](https://user-images.gith

[2017-12-13 15:30] bradleypatton commented on #622
The problem is that dotnet build fails (see https://github.com/dotnet/cli/issues/8187). So other tools like the Entity Framework ones that return the contexts in the project don't run. This is also why Apply Migrations checkbox does not appear in Visual Studio Web Publish Settings.

[2017-12-14 18:07] prafullbhosale opened #663 "Scaffolding fails to get type information about the Model class from DbContext if the DbContext class is in a dependency"
Related: https://github.com/aspnet/Scaffolding/issues/407#issuecomment-284031010

This is because the Roslyn returns `ErrorType` for types defined in transitive references.

cc @Eilon @mlorbetske

[2017-12-14 20:26] nbw71791 commented on #407
@EdDraper Hey Ed, have you set your connection string in appsettings.json?

[2017-12-18 04:30] lpinter commented on #663
The scaffolding fails even if everything is in the same assembly and same namespace.
![2017-12-17_19-55-57](https://user-images.githubusercontent.com/30354422/34089378-73aa8e18-e364-11e7-9420-f5f2401c74a7.png)

I still get the error message
![2017-12-17_19-59-28](https://user-images.githubusercontent.com/30354422/34089759-70b92ffe-e367-11e7-998e-541a42b7b9ce.png)

The original code in the Configur

[2017-12-18 19:15] danroth27 opened #666 "Identity scaffolder"
Build a scaffolder for generating the identity related code from the individual user accounts template.

[2017-12-18 20:31] DataWingSoftware commented on #663
Hello @prafullbhosale. So is this an issue with the scaffolding, or with Roslyn? I'd be happy to help if I knew where the issue is. This is how all our projects are architected (With a model project that is then referenced by our DAL, which is then consumed by multiple end released products for consistency across the product lines.) Should I be looking here or at Rosyln in your opinion?

[2017-12-21 17:01] #630 closed

[2017-12-27 20:51] LucasNSBR commented on #251
Still exists.

[2018-01-03 17:07] #629 closed

[2018-01-09 11:50] ltm0203 opened #672 "I need to develop via vsix visual studio 2017 custom scaffolding custom code, production development generator."
Hello, I want to propose a demand or a function.
I want to develop based on vsix as a code generator.
In the. NET framework, I can use vsix to achieve, the use of. Net framework class library, installation

[code]
for assembly resolution.
As shown below:

![image](https://user-images.githubusercontent.com/7875527/34719356-809b28f8-f575-11e7-91e0-e4bbcfaca522.png)
 ![image.png](http://upload-images

[2018-01-09 17:26] prafullbhosale commented on #663
@DataWingSoftware, This isn't an issue with Roslyn. Roslyn returns `ErrorType` for types defined in transitive references by design. Scaffolding wasn't taking this into consideration. The fix for this is in the PR #658

[2018-01-10 02:42] shennwei commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:43] LNBQIAN commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:43] dengyongbiao commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:43] pipiluhua commented on #672
I hope you can give a solution Thank you

[2018-01-10 02:43] LitterZ commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:43] ck505778675 commented on #672
我希望你能给一个解决方案谢谢

[2018-01-10 02:43] madeinchinalmc commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:43] ganqiyin commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] lizejia commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] haoyk commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] HowToPlayNo1 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] yangxuilyx commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] mac2222 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] faith3729 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] gezb19890407 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] amin168 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] LXKing commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] chuankang commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] cato541265 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:44] jackehuang commented on #672
I hope you can give a solution Thank you

[2018-01-10 02:44] fzrain commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:45] loudjay commented on #672
I hope can give a solution to help, Thank you.

[2018-01-10 02:45] Future1995 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:45] lihongfang16 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:45] zhaohejing commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:45] ideafirm commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:45] linyujie commented on #672
I hope you can give a solution Thank you

[2018-01-10 02:45] wenxiayili commented on #672
Could you help with the solution code?

[2018-01-10 02:45] strugglepcx commented on #672
I hope you can give a solution Thank you

[2018-01-10 02:46] xxxxxxshu commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:46] yangpengfei commented on #672
I hope can give a solution to help, Thank you.

[2018-01-10 02:46] jasonoiu commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:46] zengchangyang commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:46] 251638256 commented on #672
I hope can give a solution to help, Thank you very much

[2018-01-10 02:46] thelaurelyy commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:46] jerryzhengsz commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:47] ryanruan commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:48] gjl8820 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:48] huanchen21 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:48] yinboxie commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:48] kiaser commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:49] brsoft001 commented on #672
I hope you can give a solution Thank you

[2018-01-10 02:49] toddfsy commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:49] haojiefu007 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:50] zhupeng0929 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:50] remember2011 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:52] yangsanjun commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:52] cwsheng commented on #672
I hope you can give a solution Thank you.

[2018-01-10 02:54] huoyingluoye commented on #672
I hope you can give a solution Thank you.

[2018-01-10 03:00] pointch commented on #672
well done,  I want to see a perfect solution, best wishes to you.

[2018-01-10 03:03] yidui2ban commented on #672
well done, I want to learn more from a solution,thx.

[2018-01-10 03:03] risfeng commented on #672
I hope you can give a solution Thank you.

[2018-01-10 03:06] ouyangnengjun commented on #672
I hope you can give a solution Thank you.

[2018-01-10 03:07] yaozhenfa commented on #672
I hope you can give a solution Thank you.

[2018-01-10 03:21] suqinghe commented on #672
I hope you can give a solution Thank you.

[2018-01-10 03:23] 470503790 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 03:53] cgq355716727 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 04:19] a602123 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 04:42] yunfeiyang1916 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 05:39] haiqing-li commented on #672
I hope you can give a solution Thank you.

[2018-01-10 05:52] thl1991 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 06:39] wai2dance commented on #672
I hope you can give a solution Thank you.

[2018-01-10 09:33] SeanChen2012 commented on #672
I hope you can give a solution Thank you.

[2018-01-10 11:03] LanceFang commented on #672
我希望你能给一个解决方案谢谢

[2018-01-11 19:25] gforceg opened #673 "documentation?"
Does this project extend the command line like the [dotnet-ef](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet)? If so can we expect dedicated documentation on docs.microsoft.com to it similar to EF Core?

The reference to what scaffolding is (README.md) shows how to select a scaffold in the Visual Studio IDE.

[2018-01-13 19:14] Eonasdan commented on #643
did a Google search to submit a ticket for this very thing

[2018-01-15 15:07] arostaing commented on #407
Thanks @Pavel-Malezhyk!!
Exactly the same problem with dotNet Core 2.0.
Solved using full name qualifier declaring DbSet inside a DbContext as you suggested.

Environment:
.NET Command Line Tools (2.1.2)

Product Information:
 Version:            2.1.2
 Commit SHA-1 hash:  5695315371

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.14393
 OS Platform: Windows
 RID:         win10-x64

[2018-01-16 04:00] Eilon opened #674 "Add Razor Page code gen errors specific to generator v2.0.2"
_From @MV10 on January 14, 2018 21:5_

VS2017 v15.5.3 and ASP.NET Core 2.

I am converting a small Core 2 MVC site to Razor Pages. When I tried to add a new Razor Page the null-reference error shown below was thrown. I restarted VS, and it began throwing the second sequencing error every time, even after restarts. It didn't matter what options I choose in the first dialog and the null-reference er

[2018-01-17 13:30] mnmr commented on #645
The Microsoft.VisualStudio.Web.CodeGeneration.Tools package has the same problem (still present in latest v2.0.2 release). It'd be great if a similar fix could be applied there.

[2018-01-17 15:26] natemcmaster commented on #645
@mmr is your reference to Microsoft.VisualStudio.Web.CodeGeneration.Tools a DotNetCliToolReference or a PackageReference? It should be the former.

[2018-01-17 23:10] Eilon commented on #663
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 23:11] Eilon commented on #633
@prafullbhosale what is the reason to patch this? Is it just a bug, or is it really a new feature?

[2018-01-17 23:31] Rick-Anderson commented on #633
@Eilon  sorry for the verbose write up. The scaffolder generates incorrect code when the `DbSet` is plural.

` public DbSet<Student> Students { get; set; }`

[2018-01-17 23:42] mnmr commented on #645
@natemcmaster It was indeed a PackageReference, thanks.

[2018-01-18 00:06] Eilon commented on #633
Ah ok so it's a genuine, old-fashioned, plain & simple bug then?

[2018-01-18 00:29] Eilon commented on #633
Talked to @mlorbetske about this. It's indeed worth fixing, but given the timelines, we are moving this issue to the March 2018 patch.

[2018-01-18 00:29] Rick-Anderson commented on #633
Yes. Most folks like to user plural for the DbSet, but doing so generates invalid code.  See [Scaffold the model](https://docs.microsoft.com/en-us/aspnet/core/data/ef-rp/intro#scaffold-the-model)

Build the project. The build generates errors like the following:

1>Pages\Students\Index.cshtml.cs(26,38,26,45): error CS1061: 'SchoolContext' does not contain a definition for 'Student'

Globally chang

[2018-01-18 00:31] prafullbhosale commented on #633
The fix for this is already in the placeholder branch for 2.0.x #667

[2018-01-18 06:59] Eilon commented on #633
@prafullbhosale please discuss with @mlorbetske whether you two agree it is safe to take for this patch. I'm fine either way.

[2018-01-18 17:31] mlorbetske commented on #633
@Eilon I talked this over with @prafullbhosale and reviewed the changes. It looks like this is low risk & could be taken for this release.

[2018-01-18 17:46] Eilon commented on #633
Okie dokie, approved for 2.0.6.

[2018-01-19 21:14] prafullbhosale opened #677 "Add flag for EF based scaffolders to allow users to choose between SQL server and SQLite"
Currently EF based scaffolding generates code which registers a `DbContext` in the Startup class always using `SqlServer` as follows:
[code]

Scaffolding should allow the user to choose SQLite or SQLServer

cc @danroth27 @mlorbetske

[2018-01-19 21:34] prafullbhosale commented on #674
@MV10 can you share a repro project?
 I tried this scenario with a new ASP.NET Core 2.0 project and couldn't get this error to show up with 2.0.2 version of Microsoft.VisualStudio.Web.CodeGeneration.Design package.

[2018-01-19 21:49] MV10 commented on #674
That figures -- I just updated both projects to 2.0.2 and now it works normally. I suppose we can close this, and I'll come back and tag you if starts happening again and I manage to get it into a repo. Thanks.

[2018-01-19 22:09] #674 closed

[2018-01-24 22:30] prafullbhosale commented on #663
Closing.

[2018-01-24 22:30] #663 closed

[2018-01-24 22:30] #633 closed

[2018-01-31 23:42] bricelam opened #681 "Stop using DbContextOperations.CreateContext in EntityFrameworkModelProcessor"
It looks like the fix for #549 still needs to be applied to [src/VS.Web.CG.EFCore/EntityFrameworkModelProcessor.cs](https://github.com/aspnet/Scaffolding/blob/release/2.2/src/VS.Web.CG.EFCore/EntityFrameworkModelProcessor.cs)

[2018-02-03 19:01] feco93 opened #682 "Could not get the reflection type for DbContext"
I have followed the instructions from this tutorial:
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/model

Unfortunately I have faced with this problem:
Could not get the reflection type for DbContext : RazorPageSample.MovieDbContext
   at Microsoft.VisualStudio.Web.CodeGeneration.ActionInvoker.<BuildCommandLine>b__6_0()
   at Microsoft.Extensions.CommandLineUtils.CommandLineAp

[2018-02-03 19:26] feco93 commented on #682
After running the project the problem has solved. What was the problem?

[2018-02-05 20:51] Eilon commented on #666
@danroth27 / @prafullbhosale - what's the status of this preview1 work item?

[2018-02-05 20:59] prafullbhosale commented on #666
The preview1 changes are checked in to release/2.1 branch https://github.com/aspnet/Scaffolding/pull/678 and merged to dev.

[2018-02-05 21:02] Eilon commented on #666
Cool. Should we close this issue? Or is it tracking any other work?

[2018-02-05 21:05] prafullbhosale commented on #666
There are changes planned for Preview2. Not sure if @danroth27 wants to track it here or separately.
I don't have a preference either ways.

[2018-02-05 21:10] Eilon commented on #666
Moved to preview2. I'll let @danroth27 work with you on how to track any remaining work.

[2018-02-05 23:11] prafullbhosale opened #683 "Scaffolding fails with vague error if Model has a private property mapped in the DbContext."
Having a model class and DbContext as below causes scaffolding (razor pages/ Views using EF) to fail with an error message:
[code]

**Model class**
[code]
**DbContext class**
[code]

[2018-02-09 08:05] javiercn commented on #666
We have a fantastic project board for it https://github.com/orgs/aspnet/projects/12

[2018-02-13 23:44] ajaybhargavb opened #684 "Identity scaffolder overwrites files even without the --force option"
Repro:
- Run `dotnet new mvc --auth Individual`
- Run `dotnet aspnet-codegenerator identity`
- Modify `IdentityHostingStartup.cs` to make sure we know when it is overwritten
- Run `dotnet aspnet-codegenerator identity` (Note: no `--force`)

Expected:
An error that says file already exists.

Actual:
`IdentityHostingStartup` gets overwritten.

[2018-02-13 23:50] ajaybhargavb opened #685 "Identity scaffolder: Mvc individual auth with custom UserClass fails on first request"
Repro:
- Run `dotnet new mvc --auth Individual`
- Run `dotnet aspnet-codegenerator identity -u CustomUserClass`
- Remove `AddIdentity` bit from `Startup.cs` as mentioned in `ScaffoldingReadme.txt`
- Run `dotnet run` and go to localhost:5001

Expected:
Loads the home page

Actual:
Throws InvalidOperationException: No service for type 'Microsoft.AspNetCore.Identity.UserManager

[2018-02-13 23:55] ajaybhargavb opened #686 "Identity scaffolder: An unused connection string is generated when scaffolding Mvc with individual auth with existing DbContext"
Repro:
- Run `dotnet new mvc --auth Individual`
- Run `dotnet aspnet-codegenerator identity -dc ProjectName.Data.ApplicationDbContext`

Expected:
`appsettings.json` only contains one connection string `DefaultConnection`

Actual:
`appsettings.json` has an additional connection string `ApplicationDbContextConnection` which is unused in code.

[2018-02-13 23:59] ajaybhargavb opened #687 "Identity scaffolder: Navigating to localhost:5001/Identity/Manage/Index for the first time does not redirect to Login"
Repro:
- Run `dotnet new razor --auth Individual`
- Run `dotnet aspnet-codegenerator identity`
- Remove `AddIdentity` bit from `Startup.cs` as mentioned in `ScaffoldingReadme.txt`
- Run all the necessary ef migrations
- Go to https://localhost:5001/Identity/Manage/Index

Expected:
- Redirected to Login page

Actual:
Response saying `Unable to load user with ID ''.`

[2018-02-15 01:55] NTaylorMullen opened #689 "Move to RazorProjectEngine."
MvcRazorTemplateEngine isn't used any more. Use RazorProjectEngine.

[2018-02-15 04:27] philysworld commented on #633
how do you fix this error from happening, what and where would i change the text?

[2018-02-15 04:56] Rick-Anderson commented on #633
@philysworld
This issue fixes the problem and has nothing to do with my tutorial.
 Globally means in every file where ` _context.Student` occurs.  If you're using Visual Studio:

* Ctrl+Shift+F to bring up the **Find and Replace** dialog.
* Select the **Replace in Files** tab.
*  Complete the dialog

[2018-02-15 23:44] philysworld commented on #633
am not to sure what page you guys are looking at but i changed in my project every file and coding that had Student to Students and still getting the error.

also for this cmd do i have to input my local database name

[2018-02-16 23:42] mkArtakMSFT opened #692 "Tracking: Scaffolding is broken in 5.2.4 release"
_From @mkArtakMSFT on February 16, 2018 21:32_

With the release of 5.2.4 of MVC, scaffolding is broken for MVC 5 if customers update their packages until we update VS.

This is a tracking bug to just make sure that the upcoming release will have this fixed.

_Copied from original issue: aspnet/AspNetWebStack#130_

[2018-02-16 23:42] mkArtakMSFT commented on #692
_From @Eilon on February 16, 2018 21:59_

Just a task, right? Nothing for us to change in Web Stack as far as I understood; ultimately the bug is in Scaffolding.

[2018-02-16 23:42] mkArtakMSFT commented on #692
Correct. Nothing to do right away. Just tracking for the next release. I'll also move this to the scaffolding repo.

[2018-02-17 00:17] NTaylorMullen commented on #689
0176fab6446174125fd3289ef5a988641669f9c8

[2018-02-17 00:17] #689 closed

[2018-02-20 13:37] Rolito2009 commented on #633
Thank you Rick, your tutorials are the best I could find. The last clarification on how to proceed was what I needed. Some of us need as much detail as possible to fully understand the issue and how to fix it.

[2018-02-21 04:18] NTaylorMullen opened #693 "Error running Razor Scaffolding due to language version"
_From @Valks on February 21, 2018 3:58_

### Razor Pages Scaffolding gives an error when generating EntityFramework CRUD Views due to C# Language Version

### Functional impact
Cannot use the generator to create a set of Views because it fails.

### Minimal repro steps
1. Create a asp.net core 2.0 app )Web Application with Authentication set to Individual User Accounts.
2. create a function which

[2018-02-22 19:29] mkArtakMSFT commented on #692
Assigning to the preview2 milestone to handle during validation and make sure that the scaffolding works fine.

[2018-02-22 20:55] mkArtakMSFT commented on #692
@jbagga, parking this issues on your plate for now. This is really used to track scaffolding validation when we'll be wrapping up preview2 release.

[2018-02-28 20:23] ryanbrandenburg opened #697 "Scaffolding hangs on CI"
We're running into a problem on the CI where the tests will hang (and then usually fail) after running the a CodeGenerator.

A non-exhaustive list of instances of this can be found [here](http://aspnetci/viewLog.html?buildId=413372&buildTypeId=XPlat_Windows_Win8_Universe).

Example:
[code]

[2018-02-28 20:24] ryanbrandenburg commented on #697
CC @prafullbhosale who sounded like he was already working on this.

[2018-03-01 07:07] danroth27 commented on #687
@prafullbhosale I think the `ScaffoldingReadme.txt` has a typo. You shouldn't remove the call to `AddIdentity`. You just need to remove the call to `AddDefaultUI`.

[2018-03-01 07:18] danroth27 opened #700 "Update help text for the `-dc` option for the identity scaffolder"
The `-dc` option lets you specify the name of a new DB context to generate **or** the name of an existing DB context to reuse. This isn't really clear from the help text.

[code]

[2018-03-01 07:23] danroth27 commented on #685
@prafullbhosale I think this is because the readme text is wrong. You shouldn't remove the call to `AddIdentity`. Instead you need to remove the call to `AddDefaultUI`.

[2018-03-01 07:25] danroth27 opened #701 "Extra newline in IdentityHostingStartup.cs"
[code]

**IdentityHostingStartup.cs**
[code]

[2018-03-01 07:31] danroth27 opened #702 "Add instructions to the ScaffoldingReadme.txt for the identity scaffolder on how to pick up the application layout"
The scaffolded identity area has its own layout. To use the application layout instead you need to remove the layout in the identity area and update `_ViewStart.cshtml` to point to the application layout.

[2018-03-01 17:27] prafullbhosale commented on #685
It needs to be conditionally done based on whether the user intended to create a new DbContext or use an existing one.

[2018-03-01 20:23] danroth27 opened #703 "Identity scaffolder uses ILogger<LoginModel> in the RegisterModel, should be ILogger<RegisterModel>"
The `RegisterModel` should use `ILogger<RegisterModel>` instead of `ILogger<LoginModel>`:

[code]

[2018-03-02 18:37] danroth27 commented on #700
Proposed text:

Name of the DbContext to use, or create (if it does not exist)

[2018-03-02 18:51] danroth27 commented on #687
We need to update the code that sets up authorization to look like this:

[code]

[2018-03-02 19:02] danroth27 commented on #685
This should just be readme update to tell the user to fix their login partial. We should open a separate bug to conditional tell the user to remove AddIdentity vs AddDefaultUI.

[2018-03-02 19:02] danroth27 opened #704 "Update the identity scaffolder readme to conditionally tell the user to remove AddIdentity vs AddDefaultUI"

[2018-03-02 22:31] prafullbhosale commented on #697
@ryanbrandenburg is this ok to close now? Or are you still seeing this?

[2018-03-02 22:55] prafullbhosale commented on #693
Sounds similar to this: https://github.com/aspnet/Scaffolding/issues/501
@Valks can you try adding a package reference to `Microsoft.CodeAnalysis.CSharp.Workspaces` to the project?

[2018-03-05 19:52] ryanbrandenburg commented on #697
I have not seen this in a bit, we can close it for now and re-open if we see it again.

[2018-03-05 19:52] #697 closed

[2018-03-06 05:10] DamianEdwards opened #706 "Update the scaffolders to use the new <partial /> Tag Helper when targeting 2.1 projects"
We introduced the new `<partial />` Tag Helper in ASP.NET Core 2.1 and thus we should update the scaffolders for both Views and Razor Pages to use it when adding the validation scripts partial when they're scaffolding into a project targeting 2.1.0:

[code]

[2018-03-06 05:10] DamianEdwards commented on #706
@prafullbhosale @mlorbetske

[2018-03-06 05:10] mlorbetske commented on #706
@seancpeters

[2018-03-06 06:35] DamianEdwards opened #707 "Update controller scaffolders for new features in 2.1"
2.1 introduces some [new features for controllers](https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-web-apis/) that the scaffolders should now generate in projects that target 2.1:
- [ ] the new `ActionResult<T>` type should be used as the return type for any actions that return a result
- [ ] the new `[ApiController]` attribute should be applied to Web API controllers and their

[2018-03-06 06:35] DamianEdwards commented on #707
@mlorbetske @rynowak

[2018-03-06 06:36] mlorbetske commented on #707
@seancpeters @prafullbhosale

[2018-03-07 19:05] natemcmaster commented on #617
@prafullbhosale I took a look at this again. It looks like we have a bunch of disabled tests that haven't been re-enabled since the conversion from project.json to MSBuild. Is it okay to delete these tests altogether, or do you have plans to convert them to MSBuild?

[2018-03-07 20:01] natemcmaster commented on #507
Any ideas how to suppress or fix this warning? We are interested in enabling `-warnaserrors` on our build, but need to fix all warnings first.

[2018-03-08 13:10] Algorytm commented on #251
still not fixed :(

[2018-03-08 13:11] t4rn commented on #251
still not fixed...

[2018-03-14 23:05] prafullbhosale opened #711 "Remove PrivateAssets="All" for EF Core. Design dependency in MS.VS.Web.CG.EFCore package"
Making the `Microsoft.EntityFrameworkCore.Design` package a private dependency has an unfortunate side effect:
https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.EFCore/VS.Web.CG.EFCore.csproj#L20

Scaffolding fails if the user project has a lower version of `Microsoft.EntityFrameworkCore.Design` than what was used to build the scaffolding packages.

In the below csproj, `Microsoft.AspNe

[2018-03-14 23:07] prafullbhosale commented on #711
cc @Eilon. Assigned to 2.0.8 milestone for this to be picked up by triage.

[2018-03-16 01:18] Eilon commented on #711
@prafullbhosale thanks, understood. I'll scan for patch bugs for 2.0.8 in a couple of weeks.

[2018-03-16 16:42] ajcvickers commented on #711
/cc @bricelam @divega

[2018-03-16 16:55] bricelam commented on #711
Removing `PrivateAssets="all"` doesn't feel like the right fix. Surely there's an alternative using binding redirects or late binding.

[2018-03-19 15:58] prafullbhosale commented on #711
The binding redirects work for .NET Framework, but on NetCoreApp it only works if the EF Core assemblies (from the project graph) have a higher version than what the scaffolding assemblies were built with.

[2018-03-19 16:32] bricelam commented on #711
What EF code to you bind to? Can it be replaced by reflection and dynamic invocations?

[2018-03-19 16:47] prafullbhosale commented on #711
Invoking EFCore Design Apis to get the dbContext instance: https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.EFCore/EntityFrameworkModelProcessor.cs#L357-L413
Extension methods for IProperty: https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.EFCore/IPropertyExtensions.cs
Information about navigation properties: https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.EFCo

[2018-03-20 00:20] DavidChennells commented on #683
I was hit by precisely this problem today and wasted two hours before isolating the problem to this cause.  (This issue is still not registering in the search results.)

My IEntityTypeConfiguration<T>.Configure(EntityTypeBuilder<T> entityBuilder) code is interpreted perfectly at run-time.  However, when I went to use the current scaffolding tool in VS 15.7.0 Preview 1.0 (Add => New Scaffolded item

[2018-03-20 11:54] TheMegaMatt opened #712 "Make the ASP.NET Core MVC scaffolders use Bootstrap 4"
or at least switch some way between the two, especially for the CRUD scaffolding, makes the feature useless, its more work to fix the one what got generated that writing from scratch

[2018-03-21 17:11] giggio commented on #507
@natemcmaster if you add a reference to the package to your csproj you resolve it:

[code]

After this the warning will be gone.

[2018-03-21 17:13] natemcmaster commented on #507
@prafullbhosale can you look into @giggio's suggestion? There may be other implications of upgrading this dependency.

[2018-03-21 18:23] giggio commented on #507
It is really an upgrade. I looked into the logs and it was selecting a lower version.

[2018-03-26 02:09] javiercn opened #714 "Identity UI Scaffolding Code Bug: duplicate "_LoginPartial.cshtml" cause some Anti-forgery token error."
_From kapr1k0rn_

I searched and did not see this bug was mentioned.
Following the instruction in the 2.1 Identity UI, I added the identity code back to my project, then found this: if I logout from any of the "Manage your account" pages, an anti-forgery token error would happen and caused a 400 status page. It turned out that there were 2 _LoginPartial.cshtml in the project, /Pages/Shared/_LoginP

[2018-03-26 02:09] javiercn commented on #714
@prafullbhosale

[2018-03-27 17:23] #686 closed

[2018-03-27 17:23] #687 closed

[2018-03-27 17:23] #700 closed

[2018-03-27 17:23] #701 closed

[2018-03-27 17:23] #703 closed

[2018-03-27 17:23] #704 closed

[2018-03-27 22:49] prafullbhosale commented on #702
Closing this. Based on discussion, now that layout file is specified as an option (or is generated), adding to _ViewStart.cshtml is done by the scaffolder.

[2018-03-27 22:49] #702 closed

[2018-03-30 17:27] prafullbhosale commented on #666
@danroth27/ @javiercn  I am closing this as done (All preview2 changes are in).
If we need to make further changes to the command line experience, lets open separate issues to track those changes.

[2018-03-30 17:27] #666 closed

[2018-04-02 23:33] jbagga commented on #692
@mkArtakMSFT Looks like @prafullbhosale moved this out of the preview2 milestone. Does this need to be validated?

[2018-04-03 21:26] mkArtakMSFT commented on #692
@prafullbhosale, do you have any other way you track verification work? The goal was to make sure that the issue introduced in an earlier release is fixed in the next one (upcoming)

[2018-04-03 21:38] prafullbhosale commented on #692
The MVC5 and older scaffolding work is tracked in TFS. Let me check if there is an existing issue for this in TFS (I will create one if it doesn't already exist).

[2018-04-05 05:38] natemcmaster opened #717 "Flaky test: MvcControllerTest.TestControllerWithContext"
http://aspnetci/viewLog.html?buildId=441037&tab=buildResultsDiv&buildTypeId=Releases_21Public_Win2012

Test failure on Ubuntu
[code]

[2018-04-05 11:53] kichalla opened #718 "[Preview2-Validation] 'Add Area' scaffolding generates incorrect code in ScaffoldingReadme.txt"
Repro:
- Create a new MVC application | right-click on the project | Add | Area | give a name like 'Admin'
- Above step creates a ScaffoldingReadme.txt with the following content:

[code]

Note that the code should say `routes.MapRoute` and not `route.MapRoute`

Also could we add the ScaffoldingReadme.txt to .gitignore too?

[2018-04-05 12:30] sohailriaz824 commented on #454
@GuerrillaCoder Thanks man, this works for me.

[2018-04-05 16:20] mlorbetske opened #719 "Microsoft.VisualStudio.Web.CodeGeneration.Design doesn't install after upgrade to core 2.0"
_From @livarcocc on March 15, 2018 17:41_

_From @ozitraveller on August 22, 2017 1:21_

## Steps to reproduce
After the upgrade to dotnet core 2.0, I created a dotnet core 1.1 webapi project without docker support. While installing the components for the Scaffold-DbContext I need to install Microsoft.VisualStudio.Web.CodeGeneration.Design version 1.1.1

## Expected  behavior
I expected to be able

[2018-04-05 17:33] Eilon opened #720 "[Preview2-Validation] Scaffolding using EF CRUD should create a sub folder automatically"
_From @kichalla on April 4, 2018 23:10_

**Repro:**
- Create a new `WebApplication` template based project
- Add a new class like the following
[code]
- Right click on Customers folder | Add Razor Page.. | Razor Pages using EntityFramework (CRUD) | Add | Choose Customer model class and ApplicationDbContext | Add

**Expected:** A `Customers` folder is created and the RazorPages views are generated

[2018-04-05 17:33] Eilon commented on #720
Should this be in the Scaffolding repo?

[2018-04-05 17:33] Eilon opened #721 "[Preview2-Validation] Scaffolding razor pages using EF CRUD generates _ValidationScriptsPartial"
_From @kichalla on April 4, 2018 23:3_

Repro:
- Create a new `WebApplication` template based project (This should create `_ValidationScriptsPartial.cshtml` under `Pages\Shared` folder)
- Add the following class in `Data` folder
[code]
- Add a new folder `Customers` under `Pages` folder
- Right click on `Customers` folder | Add Razor Page.. | Razor Pages using EntityFramework (CRUD) | Add | Choose

[2018-04-05 17:33] Eilon commented on #721
Should this be in the Scaffolding repo?

[2018-04-05 18:47] kichalla opened #722 "[Preview2-Validation] Adding Identity scaffolding in a RazorPages project (created without authentication) throws error"
**VS version:**
15.7.Preview 3.0 [27604.0.d15.7]

**Repro:**
- Create 'WebApplication` based project | right-click on project | Add | New Scaffolded Item.. | choose Identity on left pane | Identity | Add
- In the `Add Identity` dialog, supply `~/Pages/Shared/_Layout.cshtml` for layout textbox
- Choose to override `Account\Manage\EnableAuthenticator`
- Create a new Data context class
- Create a new

[2018-04-05 18:55] kichalla opened #723 "[Preview2-Validation] Identity UI scaffolding doesn't allow to choose an existing user"
**VS version:**
15.7.Preview 3.0 [27604.0.d15.7]

**Repro:**
- Create 'WebApplication` based project | right-click on project | Add | New Scaffolded Item.. | choose Identity on left pane | Identity | Add
- Create the following classes
  - In **Data** folder
[code]
  - In **Models** folder
[code]
- In the `Add Identity` dialog, supply `~/Pages/Shared/_Layout.cshtml` for layout textbox
- Choose to o

[2018-04-05 19:25] kichalla opened #724 "[Preview2-Validation] Adding Identity scaffolding should add LoginPartial if there isn't one already"
*VS version:**
15.7.Preview 3.0 [27604.0.d15.7]

**Repro:**
- Create 'WebApplication` based project (Choose to create a git repoistory as it makes it easier to see file changes) | right-click on project | Add | New Scaffolded Item.. | choose Identity on left pane | Identity | Add
- Choose `/Pages/Shared/_Layout.chstml` in the text box to choose existing layout | Add a new DbContext and User types

[2018-04-05 19:39] kichalla opened #725 "[Preview2-Validation] Identity scaffolding's IdentityHostingStartup should use the simpler `AddDefaultIdentity<TUser>` extension"
Following is how it looks like for code that is generated in `IdentityHostingStartup` file:
[code]

This has the problem that if someone has their own custom IdentityUser and role (ex: `ApplicationUser: IdentityUser<Guid>, ApplicationRole: IdentityRole<Guid>`) and chose the `ApplicationUser` model, then using the generated `IdentityRole` would be incorrect.

Instead we should use the simpler exten

[2018-04-05 22:07] kichalla opened #727 "[Preview2-Validation] Overriding a specific page for a project generated with Authentication enabled causes unnecessary changes to multiple files"
**VS version:**
15.7.Preview 3.0 [27604.0.d15.7]

**Repro:**
- Create 'WebApplication` based project (with git repository enabled so that you can easily see the changes) with `Individual User Accounts` authentication enabled
- Add the following class
[code]
- Right-click on `Areas\Identity` | Add | Identity | Choose to override `Account\Manage\EnableAuthenticator` | choose `ApplicationDbContext` f

[2018-04-05 22:30] danroth27 commented on #727
@prafullbhosale

[2018-04-05 23:08] prafullbhosale commented on #727
cc @seancpeters @vijayrkn

[2018-04-06 16:25] prafullbhosale commented on #719
@mrtaunus, @ozitraveller,
Can you confirm if the `.csproj` file has the below line?

[code]

This is needed for installing the scaffolding package `Microsoft.VisualStudio.Web.CodeGeneration.Design` for ASP.NET Core 1.0 and 1.1 projects.

[2018-04-06 17:53] prafullbhosale opened #728 "Tests to ensure content generated by Identity scaffolder is in sync with content in Identity UI package"
If we end up with a mismatch, the generated content will not behave the same as intended.

[2018-04-06 17:55] prafullbhosale opened #729 "Use content from Identity UI package for generating identity scaffolder code."
Currently scaffolding packages carry all the pages and related content, needed for generating the Identity UI
Instead scaffolding should try to pick up the pages (and related files) from the identity UI package itself.

[2018-04-06 17:57] jbagga commented on #728
cc @Eilon

[2018-04-06 17:57] jbagga commented on #729
cc @Eilon

[2018-04-06 19:51] danroth27 commented on #722
@prafullbhosale

[2018-04-06 22:49] HaoK opened #730 "Consider adding a way to select entire folders to scaffold for Identity area"
It would be nice if there was some way to select everything under /Account, or everything under /Account/Manage, today you have to manually select every page.

Or at the least, it would be nice if you could select override all (then unselect it which would leave everything selected, and let you toggle the ones you don't want off, today it unselects everything)

[2018-04-07 05:02] danroth27 opened #731 "Generated identity code fails to compile"
Repro steps:
- Create a new ASPNET Core Web Application
- Add a package reference to Microsoft.VisualStudio.Web.CodeGeneration.Design
- Right-click on the project and select "New Scaffolded Item..."
- Select the Identity scaffolder
- Leave layout blank, select "Override all files", create a new data context class, click OK
- Build the app

Expected result: App compiles and runs

Actual result: The

[2018-04-07 05:03] danroth27 commented on #731
@prafullbhosale @kichalla

[2018-04-07 05:13] danroth27 opened #732 "Scaffolded identity UI specifies incorrect path to app layout in view start"
Repro steps:
- Create a new ASPNET Core Web Application
- Workaround: Add a package reference to Microsoft.VisualStudio.Web.CodeGeneration.Design
- Right-click on the project and select "New Scaffolded Item..."
- Select the Identity scaffolder
- Leave layout blank, select "Override all files", create a new data context class, click OK
- Workaround: Fix up the namespace in Error.cshtml.cs to (#731)

[2018-04-07 05:41] danroth27 opened #733 "Identity scaffolder readme should contain instructions to run EF Core imgrations"
If you run the identity scaffolder you get a pretty cryptic error about not being able to connect to the database because of a login failure. This is because you need to run migrations. But you're starting without identity you probably don't have the database error page and there isn't anything in the readme about needing to run a migration. We should update the readme about the need to run a migr

[2018-04-09 16:12] prafullbhosale commented on #731
cc @seancpeters

[2018-04-09 16:26] dougbu opened #734 "Identity scaffolding should not require authentication for /Account/Logout"
Logout.cshtml and Logout.cshtml.cs are used before _and after_ the user is logged out. If user posts to the Logout page without a `returnUrl` value, the page displays a message: `You have successfully logged out of the application.` Unfortunately, the page is unreachable after logging out (i.e. requires authentication) due to the following line in the generated `IdentityHostingStartup`: https://gi

[2018-04-09 16:26] dougbu commented on #734
Found while validating aspnet/Release#265

[2018-04-09 18:49] jbagga opened #735 "Add [AllowAnonymous] for some Identity razor pages"
When using a global Authorization filter some razor pages should be accessible anonymously
For instance: Login, Register, LoginWith2fa and others (see https://github.com/aspnet/Identity/pull/1644)

See https://github.com/aspnet/templating/issues/238#issuecomment-379106791

[2018-04-09 18:59] dougbu opened #736 "Refresh user signin after updating their profile"
_From @Biarity on December 14, 2017 7:17_

That way, the changes are immediately visible.

_Copied from original issue: aspnet/templating/pull/199_

[2018-04-09 18:59] dougbu commented on #736
_From @Eilon on December 19, 2017 17:13_

I'm not sure if this is necessary because there's a redirect that's about to happen anyway. I feel that even though this API is called, the "system" is overall in a "bad state" because half of it will think the user is the "old" profile, and half of it will think the user is the "new" profile.

@HaoK / @Tratcher / @blowdart - thoughts on this?

[2018-04-09 18:59] dougbu commented on #736
_From @Tratcher on December 19, 2017 17:23_

This makes sense. The user has just changed some of their profile information in the database but still has the old values cached as claims in the auth cookie. RefreshSignInAsync issues a new auth cookie with the updated information.

[2018-04-09 18:59] dougbu commented on #736
_From @HaoK on December 19, 2017 17:28_

Its safe to call refresh sign in generally to update the claims on the response.  That said, identity doesn't put the phone number of email in the cookie by default, so this shouldn't actually result in any claims being updated

[2018-04-09 18:59] dougbu commented on #736
_From @blowdart on December 19, 2017 17:54_

We should add it though, for "correctness" or an illustration of what should eb done.

[2018-04-09 18:59] dougbu commented on #736
_From @Eilon on February 2, 2018 0:59_

@jbagga can you review & merge? @Tratcher and @blowdart say it's good, so let's do it.

[2018-04-09 18:59] dougbu commented on #736
_From @jbagga on February 2, 2018 1:1_

@Eilon Which milestone is this in?

[2018-04-09 18:59] dougbu commented on #736
_From @Eilon on February 2, 2018 5:19_

`2.1.0-preview2`, so just `dev`

[2018-04-09 18:59] dougbu commented on #736
_From @jbagga on February 5, 2018 21:54_

The code has moved to Identity UI https://github.com/aspnet/Identity/pull/1615

[2018-04-09 18:59] dougbu commented on #736
_From @jbagga on February 5, 2018 21:55_

@Biarity Thanks for the suggestion! The code change has been moved to the new location.

[2018-04-09 19:02] dougbu commented on #736
This issue is much less about the original PR (aspnet/templating#199) than the final changes made to fix aspnet/Identity#1616. Those changes should be done here too.

[2018-04-09 19:05] blowdart commented on #736
Fine by me

[2018-04-09 19:21] danroth27 opened #737 "Update identity scaffolder to not not use Html.Partial"
The code generated by the identity scaffolder uses `Html.Partial` in a bunch of places, which get flagged with warnings because of the risk of deadlocks. We should use the partial tag helper instead.

[code]

[2018-04-09 19:24] danroth27 opened #738 "Remove newline in _ViewStart.cshtml generated by the identity scaffolder"
The `_ViewStart.cshtml` file generated by the identity scaffolder starts with an unnecessary newline that should be removed.

[2018-04-09 20:00] mkArtakMSFT commented on #692
@prafullbhosale, do you have any update on this?
/cc @seancpeters

[2018-04-09 20:05] danroth27 opened #739 "Consider including an initial migration when scaffolding identity"
When we create a new web app with individual user accounts authentication enabled we generate an initial migration. We don't currently do that when scaffolding identity. We should consider if the identity scaffolder should generate the initial migration as well.

[2018-04-09 20:48] prafullbhosale commented on #692
This is being tracked in TFS now (sent you the TFS issue on email).
The actual work hasn't been started on this yet.

[2018-04-09 21:20] HaoK opened #740 "Account/Manage/_ViewStart missing after scaffold"
This causes the Sidebar to be missing:

Create a new WAP/Scaffold overriding all files
Login with bogus data to trigger Apply Migration
Register a user
Click on hello user to go to manage
Expect to see the Profile/TwoFactor/Privacy side bar, Actual: no sidebar

[2018-04-09 22:37] Eilon commented on #507
@prafullbhosale / @seancpeters - can we take a look at this ASAP? We're concerned there might be a product bug lurking here.

[2018-04-09 22:46] danroth27 opened #741 "Identity scaffolder should generate login partial if it doesn't already exist"
Repro steps:
- Create an ASP.NET Core Web App
- Right-click -> Add Scaffolded Item ...
- Leave layout blank, create new data context, click Add

Expected result:
- App builds and runs

Actual result
- The default app layout is modified to add the login partial, which was not generated as part of running the identity scaffolder

Workaround:
- Select the login partial checkbox when running the scaff

[2018-04-09 22:59] danroth27 opened #742 "Running the identity scaffolder generates an empty Services folder"
Run the identity scaffolder in VS with the layout specified and a new data context. An empty Services folder is created in the identity area.

[2018-04-09 23:00] danroth27 commented on #741
Dup of #724

[2018-04-09 23:00] #741 closed

[2018-04-09 23:03] danroth27 opened #743 "Review how identity scaffolder updates the layout to add the login partial"
Currently the identity scaffolder updates the app layout with the following code to add the login partial:

[code]

We should review this code and make share it is appropriate for all layouts.

[2018-04-09 23:03] danroth27 commented on #743
@javiercn

[2018-04-09 23:07] seancpeters commented on #507
@Eilon @giggio - can I get some context regarding a situation where this error / warning occurs? I tried to repro it by creating a new Web Application, then added an ImmutableArray and a reference to System.Collection.Immutable to a class in the project. Then I built the project, and scaffolded Razor Pages using EF (CRUD).

I didn't see the error / warning at any point in the process.

[2018-04-09 23:38] danroth27 opened #744 "Identity scaffolder should add a timestamp or guid to the database name"

[2018-04-10 00:24] seancpeters commented on #731
@danroth27 @prafullbhosale - I'm unable to repro this issue using the latest release/2.1 code (built locally), Possibly a problem with older bits?

In my project, the scaffolded Error.cshtml.cs includes:
```namespace WebApplication12.Areas.Identity.Pages.Account```
...but I have no build issues.

[2018-04-10 01:17] seancpeters commented on #732
Fixed by #745

[2018-04-10 18:05] seancpeters commented on #723
This is by design, specifically:
- If an existing DB context is selected, no user selection can be made
- If a new DB context is selected, either a new or existing user class can be selected.

[2018-04-10 22:37] seancpeters commented on #724
@javiercn @mkArtakMSFT @prafullbhosale
Is it correct that the _LoginPartial.cshtml should be left alone if it already exists?
My plan is to check for it in both:
- `Pages\Shared\_LoginPartial.cshtml`
- `Pages\_LoginPartial.cshtml`
...and if it already exists, do nothing. If it doesn't exist, create it under `Pages\Shared`

[2018-04-11 01:02] seancpeters commented on #725
@kichalla @javiercn @mkArtakMSFT
I cannot find an IServiceCollection extension method AddDefaultIdentity<TUser>(). It appears to have existed at one time, but doesn't currently exist in Microsoft.Extensions.DependencyInjection.IdentityServiceCollectionExtensions

[2018-04-11 14:40] javiercn commented on #725
@HaoK

[2018-04-11 14:55] kichalla commented on #725
Its over here https://github.com/aspnet/Identity/blob/dev/src/UI/IdentityServiceCollectionUIExtensions.cs#L32

@HaoK probably the namespace should be fixed?

[2018-04-11 17:22] ryanbrandenburg opened #750 "Flaky test: TestGetModelMetadata_WithoutDbContext"
This test [fails](http://aspnetci/viewLog.html?buildId=445280&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR#testNameId-192309633891822940) occasionally with the following error:

[code]

Future instances of this failure can be found [here](http://aspnetci/project.html?tab=testDetails&testNameId=-192309633891822940&projectId=XPlat&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR).

[2018-04-11 23:02] prafullbhosale opened #751 "Create and Edit Razor pages have errors when the model class has a boolean property in it."
Related: #709

cc @seancpeters, @Eilon @vijayrkn

[2018-04-11 23:41] seancpeters commented on #731
Ok, with the latest templates, I can repro this...fix coming soon.

[2018-04-12 00:48] seancpeters commented on #722
@kichalla @prafullbhosale @danroth27 - I believe the real solution here is to update to the latest CLI. This version `2.1.300-preview2-008530` causes this package ref to be added:
`    <PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="2.1.0-preview2-final" />
`

[2018-04-12 02:43] seancpeters commented on #731
Fixed by #753

[2018-04-12 02:53] seancpeters commented on #720
@Eilon @vijayrkn - The actionable work here seems to be what's said in the final part of the original issue, i.e.:

This would require a change in the scaffolding UI in VS.

[2018-04-12 18:46] seancpeters commented on #727
@kichalla @javiercn @mkArtakMSFT
I believe this issue is satisfied, at least in the current work scope. The issue calls out 3 things:

_LoginPartial.cshtml created when it shouldn't be. This is dealt with by #748

_Layout.cshtml was incorrectly called _Layout.chstml. Fixed by #745

The other part is about the creation of ManageNav pages – it mentions that Identity scaffolding shouldn’t need to gen

[2018-04-12 19:01] kichalla commented on #727
It was just a suggestion and I think it's OK to skip for now.

Have you tested the scenario in an MVC application? (i.e the layout path should be `/Views/Shared/_Layout.cshtml`). In general we need coverage of using this scaffolding in an MVC app also, so would be good to try there too.

Other than that I am satisfied with what you mentioned. Please check with @javiercn too.

[2018-04-12 20:40] prafullbhosale commented on #720
Maybe we should consider allowing the user to choose if they want the generated files in a folder or not.
Otherwise if a user already created a desired folder and we put the generated files inside a folder using conventional name, it may not be what user intended.

Note that the namespaces of the generated `PageModel` classes are affected based on the output path.

[2018-04-12 21:56] javiercn commented on #727
ManageNavPages is already on the default UI library. There's no need to generate a new copy of it.

[2018-04-13 01:12] seancpeters commented on #727
@kichalla - for MVC apps, I'm not clear what you'd like to happen with the _Layout.cshtml file. Currently, if the user does not select an existing layout page in the UI, a new one is created. IF the user selects an existing layout page, no new one is created.

Note: the described behavior includes a minor bug fix in VS that causes the layout page selection to be correctly sent to the scaffolder.

[2018-04-13 16:01] prafullbhosale commented on #727
https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.Mvc/Templates/Identity/Pages/Account/Manage/Account.Manage.PersonalData.cshtml#L5

If the ManageNavPages is not generated, the above line fails with compilation errors.
I assume that is because the `ViewImports` doesn't include the right namespaces in this case, however, if we include the additional namespace and user chooses to generate

[2018-04-13 16:56] javiercn commented on #727
Why would we give the user the option to generate ManageNavPages at all?

[2018-04-13 16:57] prafullbhosale commented on #727
Are you saying this should never be generated? Even when scaffolding full UI?

[2018-04-13 21:15] Eilon commented on #507
@natemcmaster - can you add a link to the CI logs for this that show it?

[2018-04-13 21:17] natemcmaster commented on #507
This happens on every Universe build. See http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=446508&_focus=8067 for example.

[2018-04-18 14:13] mwhitis commented on #633
@Eilon - you mentioned earlier that this was targeted for the March patch.  Can you comment on whether or not that happened?

[2018-04-18 21:46] annerajb commented on #682
I still have this issue what do you mean that running the project solved?
Did you just load the website and scaffolding magically worked?

[2018-04-18 22:22] jbagga opened #756 "Use partial tag helper instead of @Html.Partial"
Currently we use `@Html.Partial` for `_StatusMessage` for multiple Identity scaffolder razor pages.

For example: https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.Mvc/Templates/Identity/Pages/Account/Manage/Account.Manage.ChangePassword.cshtml#L8

When scaffolding Identity, this leads to several warnings suggesting use of partial tag helper

[2018-04-19 19:41] danroth27 commented on #636
@vijayrkn What's the status of this issue? Looks like it was never assigned to anyone.

[2018-04-19 19:49] #735 closed

[2018-04-19 19:49] #736 closed

[2018-04-19 23:09] danroth27 commented on #636
I'd like to get it done for 2.1.0 RTW. We've already made these updates for the project templates.

[2018-04-19 23:57] seancpeters opened #761 "Identity Scaffolding: Existing user class should be used in generated pages"
1. Create a new Web Application | No Auth
2. Create a custom user class, and a DB context that uses the custom user class.
3. Open the Identity scaffolder, select the existing DB context.
4. Select some user management pages to scaffold (e.g.: login, register, logout)

Expected:
The newly scaffolded user management pages should use the custom user class specified in the DB context.

Actual:
The de

[2018-04-19 23:59] seancpeters opened #762 "Identity Scaffolding: Add EF migrations files"
When a new DB context is created in identity scaffolding, the appropriate EF migrations file should also be scaffolded.

[2018-04-20 00:03] seancpeters opened #763 "Identity Scaffolding: Pages not chooseable by the user need to be generated appropriately"
We need to identify in exactly which situations pages not selectable in the Identity Scaffolder UI should be generated, and where. This also includes where to look for existing instances of those pages in the user project.

Pages that must be dealt with include:
- _LoginPartial
- _ViewImports
- _ViewStart
- _ValidationScriptsPartial

[2018-04-20 00:10] seancpeters opened #764 "Identity Scaffolding: Update readme about ef migrations"
When the user creates a new DbContext, the readme should include information about running migrations, specifically:
 - dotnet ef migrations add initial
 - dotnet ef database update

[2018-04-20 02:54] seancpeters commented on #763
These specs are from an email @javiercn:
•	Whenever we generate a layout we need to generate all supporting files if they are not present (Take the files/layout present on the templates as a reference):
o	  _LoginPartial
o	  _ValidationScriptsPartial
o	  _CookieConsentPartial
o	  _ViewImports
o	  _ViewStart
Think of it as transitioning from empty to (MVC|RazorPages) with Individual user accounts.

[2018-04-20 02:55] seancpeters commented on #763
Update from @javiercn
Above is the logic for when we generate the layout file.

The only correction is that when we are using an existing layout on the app, we will only generate the login partial, not any of the other partials.

Also the _ViewStart in Areas/Identity/Pages/ needs to be updated to point to the layout in either Views/Shared, Pages/Shared, or the layout chosen by the user.

[2018-04-20 02:58] seancpeters commented on #763
@javiercn - looking at this now. We don't have a _CookieConsentPartial page in the current identity scaffolding.

[2018-04-20 03:51] seancpeters commented on #763
@javiercn @mkArtakMSFT
Also, should we check for the existence of _LoginPartial, _ViewImports, _ViewStart, and _ValidationScriptsPartial in Pages/Shared/ and Views/Shared regardless of what was discovered about the _Layout file, or only look in the same location as the _Layout file (if found)?

Note:
After the previous updates to this, we were looking for _LoginPartial in Pages/ and Pages/Shared/

[2018-04-20 03:53] seancpeters commented on #763
@javiercn @mkArtakMSFT

Are all of _LoginPartial, _ViewImports, _ViewStart, and _ValidationScriptsPartial considered to be "partials"? Or are the partials only _LoginPartial & _ValidationScriptsPartial?

[2018-04-20 04:02] seancpeters commented on #763
@javiercn @mkArtakMSFT
We're going to need to discuss the _ViewImports page generation a bit more. Where it gets looked for, and if it gets generated and if so where - is currently a lot more complicated than just checking it's existence in one place.

[2018-04-20 04:08] seancpeters commented on #763
@javiercn @mkArtakMSFT
We'll also need to discuss the _ValidationScriptsPartial page generation. Currently if it's generated, it goes into Areas/Identity/Pages/_ValidationScriptsPartial.cshtml

We'll have to determine if it continues to go there, or if it should go where the _Layout file is generated / already exists.

[2018-04-20 04:33] javiercn commented on #763
_ViewImports and _ViewStart are not partials. I would say that when in doubt, follow the same layout as the MVC/Razor pages with individual user accounts templates and use the presence of a Pages folder to determine whether the app is “Razor pages” or MVC.
If the user explicitly selected a Layout that is not in Pages/Shared, Views/Shared, I would just scaffold everything else on the same folder. I

[2018-04-20 05:44] vijayrkn commented on #636
We have a few more scaffolding items to finish for rc1.
@seancpeters Can you please take a look at this once you are done with all the rc1 items?

[2018-04-23 21:30] prafullbhosale commented on #764
closed in #767

[2018-04-23 21:30] #764 closed

[2018-04-23 21:34] prafullbhosale commented on #761
Closed by #765

[2018-04-23 21:34] #761 closed

[2018-04-23 22:04] blowdart opened #769 "External login provider and confirm email page is not accessible when using global authorize filter"
_From @jbagga on April 18, 2018 18:53_

When an external login provider is configured, and a global authorize filter is applied, clicking the button to navigate to the provider (say Twitter sign in) redirects back to the current Login page.

To allow anonymous users to log in to an external provider while using a global authorize filter, the user can scaffold the `ExternalLogin.cshtml.cs` page and

[2018-04-23 22:04] blowdart commented on #769
This should be allowed by default, otherwise you can't login. Can you create the corresponding bug please?

[2018-04-23 22:04] blowdart commented on #769
Never mind, I'm told I can move it :D

[2018-04-23 23:44] seancpeters commented on #636
@danroth27 - I have some time to work on this issue now. Do you know the PR for the corresponding template changes? If I understand correctly, this work would be to apply similar changes to the scaffolding content.

[2018-04-24 06:01] danroth27 commented on #636
@seancpeters I think it was this one: https://github.com/aspnet/templating/pull/220

[2018-04-24 13:54] photoangell commented on #522
I am having a similar issue in that when I create a Razor project (via dotnet new razor) and try to run it, I get a dialog box saying
![image](https://user-images.githubusercontent.com/3043919/39191288-8af4b2e6-47ce-11e8-9e3f-d443771443c9.png)
However, the dll is created in C:\projects\razor2\bin\**BPC**\Debug\netcoreapp2.0.
If I edit the .vscode/launch.json file so it refers to the correct path,

[2018-04-24 18:46] jbagga commented on #769
FYI @mkArtakMSFT This is "SHP: Approval Pending" as well. The label doesn't exist in the repo yet

[2018-04-25 16:58] mkArtakMSFT opened #771 "Controller Generator Failure"
_From @pthorsley on April 20, 2018 4:38_

Getting this error when trying to create a new controller of any type (mvc or api).

"There was an error running the selected code generator:
'There was an error running the template C:\Users\<username>\.nuget\packages\microsoft.visualstudio.web.codegenerators.mvc\2.1.0-preview2-final\Templates\ControllerGenerator\ApiEmptyController.cshtml: Template Proces

[2018-04-25 16:58] mkArtakMSFT commented on #771
Thanks for contacting us, @pthorsley.
@pranavkm, any thoughts regarding this?

[2018-04-25 16:58] mkArtakMSFT commented on #771
Can you please share a minimalistic repro project to help us investigate the issue you're facing, @pthorsley. Thanks!

[2018-04-25 16:58] mkArtakMSFT commented on #771
_From @pranavkm on April 23, 2018 17:52_

This is an issue in Scaffolding. Could you move it to https://github.com/aspnet/Scaffolding?

[2018-04-26 02:35] pthorsley commented on #771
It is just your basic VS 2017 .net core class library project, then add the libraries I listed using nuget to the data project.

Then create a react .net core web project and reference the class library project.
Then try to create a controller using the controller creator and you will get the errors I received.

This error is really easy to create.

[2018-04-26 02:51] pthorsley commented on #771
Use these to cause the error:
Microsoft.VisualStudio.Web.CodeGeneration.Design  2.1.0-preview2-final
Microsoft.EntityFrameworkCore.Tools 2.1.0-preview2-final

I have now create two seperate solutions with the older libraries and that is the work around for now and it is working great. Able to create controllers just fine.

[2018-04-26 23:12] seancpeters commented on #636
@danroth27 - I noticed that in the aspnet/templating, not all controllers were changed to using ControllerBase (see below). With this in mind, should I make the change to all of the scaffolded Controllers? I'm thinking yes.

Only the WebApi-CSharp template has the change:
https://github.com/aspnet/templating/blob/dev/src/Microsoft.DotNet.Web.ProjectTemplates/content/WebApi-CSharp/Controllers/Value

[2018-04-26 23:32] danroth27 commented on #636
@seancpeters Only web API controllers should derive from `ControllerBase`. Web UI controllers (like `HomeController`) should continue to derive from `Controller`. Only change Web API specific scaffolders to derive from `ControllerBase`.

Looks like we missed updating the SPA templates to use the new Web API conventions. We'll have to deal with that in the next release.

[2018-04-28 16:06] natelaff opened #773 "Scaffolding MVC Controller w/ views into area puts Controller in wrong spot"
1) Create an Area in an ASP.NET Core 2.1 app, i.e. Admin
2) Create a simple model
3) Add Scaffolded MVC Controller with Views (EF) into Area

Controller.cs goes into the root of the Area, rather than the pre-created Controllers folder.

[2018-04-28 16:33] natelaff opened #774 "Add empty item with nullable reference property when scaffoling selectlist"
Just a usability thing. When generating scaffolding for a model, if it contains a reference property that is nullable, add an empty select list item. e.g <option value="">-</option>

            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCa

[2018-05-01 11:26] hin-hin opened #776 "Code generator fails to run with custom bin and obj location"
I followed the instructions at https://www.natemcmaster.com/blog/2017/11/13/dotnet-watch-and-docker/ to setup docker with dotnet watch, which requires moving bin/ and obj/ out of the project folder using a Directory.Build.props file so that docker and Visual Studio Code can work together.

Then when I tried to run dotnet aspnet-codegenerator it failed with the following error (also an obj/ folder

[2018-05-01 19:55] #769 closed

[2018-05-02 12:53] NeelBhatt commented on #743
@danroth27 - I am getting this error while using Identity as UI feature. I added all necessary steps but after opening the Register link I am getting - "The default Identity UI layout requires a partial view '_LoginPartial' usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration we have looked at it in the following locations: "

Any sugge

[2018-05-02 14:41] javiercn commented on #743
@danroth27 I believe this is fixed in RTM. @seancpeters can you confirm?

[2018-05-02 19:56] houbi56 opened #779 "Identity scaffolding in core 2.1 - scaffold account-/managecontrollers"
It should be possible to scaffold the account and manage controllers. Or should I have to copy the code or use asp core 2.0?
Not sure if this is a vs 2017 preview issue or scaffold issue but how would I go about to get the same behaviour (getting all view and controllers for identity genereated) as in vs2017 15.6?

[2018-05-04 20:34] muratg commented on #636
@vijayrkn What's the status of this? This was approved 4 days ago.

[2018-05-04 20:36] vijayrkn commented on #636
@seancpeters Is this already merged?

[2018-05-04 20:40] muratg commented on #763
@vijayrkn @seancpeters Any status update on this guys?

[2018-05-04 20:46] seancpeters commented on #636
@vijayrkn @muratg - yes, the corresponding PR #772 was merged on Tuesday I believe.

So I'll close this issue.

[2018-05-04 20:46] #636 closed

[2018-05-04 20:49] seancpeters commented on #763
@vijayrkn @muratg - this was dealt with in PR #766, merged earlier in the week.

[2018-05-04 20:49] #763 closed

[2018-05-08 11:43] ghost opened #783 "aspnet-codegenerator nuget version still at 2.1.0-preview1-final"
Since 2.1.0-rc1 is now released, shouldn't this package also be updated on nuget? Or is this now available via global tools?

https://www.nuget.org/packages/Microsoft.VisualStudio.Web.CodeGeneration.Tools/

[2018-05-08 16:00] prafullbhosale commented on #783
@tura08 you are correct. This is now available as a global tool
[dotnet-aspnet-codegenerator](https://www.nuget.org/packages/dotnet-aspnet-codegenerator/2.1.0-rc1-final)

[2018-05-08 22:28] tura08 commented on #783
Though I was missing something, thanks. I was able to successfully install it via:

`dotnet tool install -g dotnet-aspnet-codegenerator --version 2.1.0-rc1-final`.

Is this documented somewhere because I couldn't find references to it on docs.microsoft?

[2018-05-08 22:53] tura08 commented on #756
This is a pretty easy fix. Would the team be happy to accept a PR for this?

[2018-05-10 06:05] #472 closed

[2018-05-10 22:23] javiercn opened #785 "partial view bug of MVC website in .NET Core 2.1 RC1"
_From @karelz on May 10, 2018 17:37_

_From @hez2010 on May 8, 2018 4:33_

I use .NET Core 2.1.300-rc1 to create a new MVC web app with individual authentication, then I use identity scaffolder (visual studio -> right click my project -> add -> new scaffolded item -> identity) and specify layout file with "~/Views/Shared/_Layout.cshtml" to generate identity related code in Areas/Identity automatic

[2018-05-10 23:30] seancpeters commented on #785
@javiercn - I created a MVC individual auth project using:
`"Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="2.1.0-rtm-30762"`

There are multiple issues mentioned in this thread, I'll try to address them all:

The _Layout.cshtml includes `<partial name="_LoginPartial" />`

I can navigate corerctly between the Register & Login pages. The source of the login page and the register page in

[2018-05-10 23:51] seancpeters opened #786 "Identity scaffolding adds extra '~' directory with support files"
When scaffolding identity, in addition to the files which should be created, a top-level directory named '~' is created, containing the directory `Views/Shared/` which contains some support files:
![image](https://user-images.githubusercontent.com/20912881/39899657-12a3419e-5472-11e8-8671-03dacd764031.png)

This happens both when an existing _Layout.cshtml file is chosen, or if a new one is being

[2018-05-11 00:07] seancpeters commented on #786
This appears to only happen with MVC projects, when there is an existing Views/Shared/ top-level directory.

[2018-05-11 01:59] seancpeters commented on #786
Update: This only occurs when an existing layout is specified. It's a side-effect of theexisting layout page's relative path starting with `~` in the VS UI.

[2018-05-11 02:36] javiercn commented on #786
@seancpeters what are the implications of this? Can you start an email thread with the appropriate people so that we can follow up in case we need to take action?

[2018-05-11 02:41] seancpeters commented on #786
@javiercn - Vijay & I just discussed it a bit. The impact seems small - just that the extra files get created in the `~` directory, and can be deleted. Since it only occurs when picking an existing layout file, it can be worked around by deleting. Or in the select layout widget in the identity scaffolding dialog, if the user removes the leading `~/` then the problem goes away.

I've got a fix avai

[2018-05-11 03:57] hez2010 commented on #785
@seancpeters I mean that after scaffolding, the layout file of /Areas/Identity/Pages/Account/Manage/_Layout.cshtml  should be ~/Views/Shared/_Layout.cshtml, but actually it is /Areas/Identity/Pages/_Layout.cshtml.

you can see my commit: https://github.com/hez2010/hjudgeNEW/commit/9f7dbe482d202fa8683d44a36328d5e89c59ab2d#diff-7826a144e5b74bb0e26273eaf58194d4
In order to fix it manually, I changed

[2018-05-11 17:32] mkArtakMSFT commented on #692
Closing this as there I no action item here and the TFS issue is tracking this work.

[2018-05-11 17:32] #692 closed

[2018-05-11 18:11] Rick-Anderson opened #788 "Identity Scaffolder 2.1: listFiles options is missing ShortName"
[` [Option(Name = "listFiles", Description = "Lists`](https://github.com/aspnet/Scaffolding/blob/dev/src/VS.Web.CG.Mvc/Identity/IdentityGeneratorCommandLineModel.cs#L22)  is missing `[Option(Name = "listFiles", ShortName = "lf",`

[2018-05-14 14:34] brinehart commented on #251
This is still happening.

[2018-05-14 22:56] vijayrkn commented on #779
We made a decision to support only the Razor pages version of the Identity UI.

[2018-05-14 22:56] #779 closed

[2018-05-15 17:03] blowdart commented on #779
Dupe of https://github.com/aspnet/Identity/issues/1658

[2018-05-15 17:19] vijayrkn commented on #786
Fix: https://github.com/aspnet/Scaffolding/pull/789

[2018-05-16 17:20] mgolois opened #792 "Adding Custom Template Item"
Hello,

In order to improve productivity, is it possible to add a another version of a Controller template (not editing existing, but adding a new one) eg: "MyControllerWithActions.cshtml" template. All the examples I saw were related to editing existing template.

Thanks

[2018-05-16 17:31] natemcmaster opened #793 "Scaffolding in 2.1 fails with NullReferenceException"
![image](https://user-images.githubusercontent.com/2696087/40133377-644f89cc-58f4-11e8-8804-4188bb9c609a.png)

Repro:
1. File -> New -> ASP.NET Core Web Application -> MVC (No auth)
2. Solution explorer -> (right click) Add -> New Scaffolded Item...
3. -> Navigate to identity template and add Data context class:
![image](https://user-images.githubusercontent.com/2696087/40133427-947fb2ca-58f4-11e8

[2018-05-16 17:43] natemcmaster opened #794 "Scaffolding uses stale version of jQuery"

[2018-05-16 19:10] natemcmaster commented on #793
[code]
cc @vijayrkn @prafullbhosale

[2018-05-16 19:16] natemcmaster opened #796 "Remove unused, stale versions of jQuery"
Follow-up to https://github.com/aspnet/Scaffolding/pull/795#issuecomment-389614308

It appears we still have jQuery 1.10 embedded in some scaffolding templates. We should move this forward to jquery 3.x.

https://github.com/aspnet/Scaffolding/blob/release/2.1/src/VS.Web.CG.Mvc/Templates/StaticFiles/Scripts/jquery-1.10.2.js
https://github.com/aspnet/Scaffolding/blob/release/2.1/src/VS.Web.CG.Mvc/Te

[2018-05-16 21:29] seancpeters commented on #793
@natemcmaster  @vijayrkn - I am unable to reproduce this locally. I'm using VS 15.8 Preview2 [27708.3001.d15.8stg]
and the same SDK you're using.

Regarding the Microsoft.VisualStudio.Web.CodeGeneration.Design package version (the above mentions using 2.1.0-rtm-30752):
- If I don't explicitly add this ref to the .csproj file, scaffolding adds 2.1.0-rtm-30762
- If I do add the package with version

[2018-05-16 21:42] natemcmaster commented on #793
Are you restoring with https://dotnet.myget.org/F/dotnet-core/api/v3/index.json?

[2018-05-16 22:02] seancpeters commented on #793
I was not using that source, but I've added it, and now the version you specified restores correctly. But the issue still does not reproduce for me.

Btw: I'm getting the version of AspNetCore.App 2.1.0-rtm-30762 - let me know if you're getting a different version.

[2018-05-16 22:57] natemcmaster commented on #793
I've attached my repro project:
[WebApplication7.zip](https://github.com/aspnet/Scaffolding/files/2011088/WebApplication7.zip)

If it doesn't repro, maybe it's the result of upgrading to Roslyn 2.8.0. I'm running against aspnet 2.1.0-rtm-30752, which still has Roslyn 2.8.0-beta1 in it

[2018-05-16 23:02] natemcmaster commented on #793
I think that must have been it. I upgraded my repro to our latest 2.1.0 candidate builds, and scaffolding runs fine.

[2018-05-16 23:02] #793 closed

[2018-05-17 00:35] natemcmaster commented on #796
Both @seancpeters and I looked at this. We could not identify a way in which these files end up in customer app. If that's the case, let's just remove these from our repo entirely to avoid future confusion.

cc @prafullbhosale

[2018-05-17 00:39] prafullbhosale commented on #796
I agree, I tried reproing based on what the code should do -> Empty project -> add new View with some model class.
And that doesn't add the files.
These files are being used only by the Dependency scaffolders. The dependency scaffolder itself can be removed completely. They cannot be invoked via commandline anyways.

[2018-05-17 18:26] seancpeters opened #797 "Question: Are project-scoped single-file scaffolders supported?"
_From @Lothy on May 16, 2018 22:45_

Hello,

I understand that customising existing templates is possible by using the /Templates/ folder at the root of a project. This permits overriding the generated code for templates that already exist.

But does it support adding completely new .cshtml files (e.g.: the 'DanGenerator' folder in the first screenshot, with the 'DanController.cshtml' and 'DanView

[2018-05-17 20:01] seancpeters commented on #785
This is correctly now correctly dealt with - the user specified layout file is respected.

[2018-05-17 20:01] #785 closed

[2018-05-17 20:51] seancpeters opened #798 "Move scaffolding content to aspnet/templating"
The scaffolding content needs to stay in sync with the aspnet templates used by dotnet/templating in with dotnet new and in Visual Studio project creation. It will be easier to keep them in sync if they're in the same repo.

Scaffolding will be modified to consume a nupkg containing the content, which will need to be published by aspnet/templating.

[2018-05-18 15:11] javiercn opened #799 "Scaffold: Missing ShowRecoveryCodes"
_From @adams-hub on May 17, 2018 11:29_

Scaffolding is missing the ShowRecoveryCodes page.

_Copied from original issue: aspnet/Identity#1796_

[2018-05-18 15:14] javiercn commented on #799
@seancpeters @vijayrkn

[2018-05-18 22:50] chrisckc commented on #785
I also I used .NET Core 2.1.300-rc1 to create a new MVC web app with individual authentication, then I used identity scaffolder, but did not specify a layout file, just left it blank and then let it generate the identity related code in Areas/Identity.

The scaffolded Identity UI seems to be a bunch of
[Razor Pages](https://docs.microsoft.com/en-us/aspnet/core/mvc/razor-pages/?view=aspnetcore-2.1&

[2018-05-18 23:41] chrisckc opened #800 "Issues with Personal Data page (does not delete saved tokens when deleting user)"
It looks like the personal data pages were added with the EU GDPR regulations in mind, the pull is here:
#1559

However using the dotnet-sdk-2.1.300-rc1 identity scaffolded files, when deleting a user, any saved tokens for the user that are stored in the database table "AspNetUserTokens" are left behind so it is not fully deleting the user and their personal data. The User Claims are correctly del

[2018-05-20 16:40] HaoK commented on #800
You were right the first time, this is an identity issue :)

[2018-05-20 16:40] #800 closed

[2018-05-22 12:48] chrisckc commented on #785
I have had chance to take another look at this and found out why i can logout successfully from the root fo the site but not from the account management UI (/Identity/Account/Manage).

The source of the root home page contains a RequestVerificationToken in the html body inside the "logoutForm" element:

[code]

When the form is Posted to /Identity/Account/Logout, the token is sent in the request b

[2018-05-22 12:55] hez2010 commented on #785
The _LoginPartial.cshtml has existed in /View/Shared/, but the scaffolder still created one in /Pages/Shared/
After deleting /Pages/Shared/_LoginPartial.cshtml, the problem I mentioned above was gone.

[2018-05-22 13:21] chrisckc commented on #785
Deleting  /Pages/Shared/_LoginPartial.cshtml has indeed solved the above problem, thanks!

However now when i click the 'Login' link i get this:

[code]

So i tried also removing /Pages/Shared/_Layout.cshtml but also get an exception with cant find the _Layout.cshtml file.

In both cases the Register and Login links are there, as they are coming from the Views/Shared folders when looking at the MV

[2018-05-22 13:27] hez2010 commented on #785
You also need to change the code in /Areas/Identity/Pages/_ViewStart.cshtml, replacing "/Pages/Shared/_Layout.cshtml" to "~/Views/Shared/_Layout.cshtml"

[2018-05-22 17:34] kichalla opened #801 "Upgrade to use 3.2.10 version of jquery unobtrusive scripts"

[2018-05-22 21:44] chrisckc commented on #785
@hez2010 That did the trick thanks, didn't know that it was ok to share the MVC view layouts with the Razor Pages as when i added the Identity scaffolded items it created the separate /Pages/Shared/ layouts so i figured there was a valid reason that the scaffolder did that.

For what i want i prefer to share the base MVC layout, but it looks like if you did want to use a separate layout for the Ra

[2018-05-22 21:51] seancpeters commented on #785
@chrisckc - If you choose to create a new data context class, the User Class selector becomes active, and the new data context class with use the newly created user class.

When selecting an existing data context class, it's not possible to add a new user class - the existing data context class was already setup with either an existing custom user class, or the default IdentityUser.

[2018-05-29 04:44] 1483523635 commented on #251
Still exists

[2018-05-30 12:57] dale-french commented on #771
+1 - same issue on my side

[2018-05-30 20:20] seancpeters opened #805 "Ensure reasonable behavior when Microsoft.AspNetCore.App version is different from Scaffolding Package Version"

[2018-05-30 23:10] imccorve commented on #771
I'm also experiencing the same issue but using the versions found in the ASP.NET core tutorial on microsoft website makes it work for me:

    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />
    <PackageReference Include="Microsoft.VisualStudio.Web.CodeGeneration.Design" Version="2.0.0"/>

    <DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Vers

[2018-05-31 20:18] mkArtakMSFT opened #806 "Adding controller hangs Visual Studio"
_From @donnyv on May 31, 2018 19:50_

#### Is this a Bug or Feature request?: Bug

#### Steps to reproduce (preferrably a link to a GitHub repo with a repro project):
Uninstall Nuget package Microsoft.EntityFrameworkCore.SqlServer and then use Visual Studio right click to create a new controller.

#### Description of the problem:
When using Visual Studio to create a new controller. The process han

[2018-05-31 20:18] mkArtakMSFT commented on #806
Thanks for reporting this issue, @donnyv.
@vijayrkn, seems this is caused by the scaffolder. Will move to the appropriate repo now.

[2018-06-04 19:00] seancpeters commented on #796
#804 and #807 remove the content, and code, respectively.

[2018-06-04 19:00] #796 closed

[2018-06-04 19:29] scottaddie opened #808 "Typo in razorpage generator"
Run the `dotnet aspnet-codegenerator razorpage` command. Notice the typo in the error message. "Pazor" should be "Razor".

![image](https://user-images.githubusercontent.com/10702007/40937210-7688b712-6803-11e8-807d-cd1073a69c47.png)

/cc: @seancpeters

[2018-06-04 20:52] #808 closed

[2018-06-05 19:08] seancpeters opened #810 "Update scaffolding readme with fwlink"
The doc is here: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio

We will need an fwlink for it.

[2018-06-06 01:39] javiercn opened #811 "Scaffolding 2.1 RTM in existing MVC application 404 for non overridden pages"
_From @dotnetshadow on June 1, 2018 5:7_

I recently upgraded my ASP.NET Core application 2.1. I used the identity scaffolder to override Login and Register pages. Upon doing this I noticed that routes to logout and manage were incorrect

`?page=Account/Manage` rather than `/Identity/Account/Manage`

I then rescaffolded and this time and chose to override all files. This seemed to work.
In my part

[2018-06-06 01:39] javiercn commented on #811
_From @blowdart on June 1, 2018 21:9_

@javiercn Does this happen for you?

[2018-06-06 01:40] javiercn commented on #811
@vijayrkn @seancpeters Can you take a look at this?

[2018-06-06 01:42] javiercn commented on #811
@dotnetshadow Are you upgrading a 2.0 app to 2.1 or starting from a 2.1 app?

[2018-06-06 05:48] dotnetshadow commented on #811
@javiercn updating from 2.0 app

[2018-06-06 11:35] hmoratopcs commented on #771
Works for me from Microsoft.VisualStudio.Web.CodeGeneration.Design 2.0.0 to 2.1.0-preview1-final.
Does not work with **2.1.0-preview2-final**.

[2018-06-06 13:04] smabuk opened #812 "Scaffolding Identity into an existing project overwrites important wwwroot files"
### Scaffolding Identity into an existing project overwrites important wwwroot files
*If you choose to scaffold all of the files into an existing project some important files are overwritten without warning*
e.g. site.js, site.css, favicon.ico

### Functional impact
*Anyone project relying on these files stops working*

### Minimal repro steps

1. Create a new 2.1 project
2. modify site.js, site.c

[2018-06-07 01:09] dotnetshadow commented on #811
@javiercn I can confirm that the issue is indead that I was using `services.AddIdentity<ApplicationUser, IdentityRole>` as opposed to `services.AddDefaultIdentity<ApplicationUser>`

After using **AddDefaultIdentity**, the non scaffolded routes worked

[2018-06-07 02:15] javiercn commented on #811
@dotnetshadow Thanks for following up. I will be closing this issue as there’s no action to be taken here.

Thanks!

[2018-06-07 02:15] #811 closed

[2018-06-08 21:34] martinusslomp commented on #771
Downgrade Microsoft.VisualStudio.Web.CodeGeneration.Design from 2.1.0 to 2.0.4 fixed it for me as well

[2018-06-10 05:59] mkArtak opened #814 "Scaffolding a new controller fails when no internet connection"
Tried to generate a new controller, while had no internet connection, and got the following error:
![error when creating new controller without intenet connection](https://user-images.githubusercontent.com/7347708/41198694-91aa7cae-6c38-11e8-99dd-16c3d35e0d1c.png)

.NET SDK version: 2.1.300
VS version: 15.7.3

[2018-06-13 04:36] mkArtak commented on #814
Seems weird, as the new controller should require no NuGet dependencies during creation.

[2018-06-13 20:55] seancpeters commented on #814
Can you post a more detailed repro to generate this error? When I try to scaffold a controller offline without already having the Microsoft.VisualStudio.Web.CodeGeneration.Design package refernce in my project (and correctly restored), this is the error I get:

![image](https://user-images.githubusercontent.com/20912881/41377477-feae480a-6f10-11e8-8256-946aee726997.png)

If i do have that package

[2018-06-14 12:22] feco93 commented on #682
Running the sample project. I think the problem was that i didn't build the project... So i close it.

[2018-06-14 12:22] #682 closed

[2018-06-16 07:14] mkArtak commented on #814
I'll try to repro that later and share it.

[2018-06-19 01:30] mkArtakMSFT commented on #814
I couldn't repro this really. However, the setup I had when this happened was I was connected to a public wifi point, which shown as connect, but I couldn't actually open any websites. That may give you some clue. If not, unfortunately I can't provide a repro either.

[2018-06-20 17:34] livarcocc opened #819 "dotnet aspnet-codegenerator identity Unrecognized option '-lf' but '--listFiles' OK"
_From @billschen on June 20, 2018 8:7_

First I run command **dotnet aspnet-codegenerator identity -h** to show help
**--files|-fi**
List of semicolon separated files to scaffold. Use the **--list-files** option to see the available options
**--listFiles|-lf**
Lists the files that can be scaffolded by using the '**--files**' option.

then I run command dotnet aspnet-codegenerator identity **--list

[2018-06-20 20:41] seancpeters commented on #819
Closing, as this is a duplicate of #788

[2018-06-20 20:41] #819 closed

[2018-06-22 16:37] danroth27 commented on #712
We will need to support both Bootstrap 3 and 4 for folks that are migrating apps that use Bootstrap 3.

[2018-06-22 16:39] danroth27 commented on #712
Updating the title since the template work is tracked by https://github.com/aspnet/templating/issues/278

[2018-06-22 16:51] TheMegaMatt commented on #712
Would it be compete madness having a switch to have 3, 4 or none? Like
having a starter template but with just some really basic html so people
can chose what framework to use

Il ven 22 giu 2018, 18:37 Daniel Roth <notifications@github.com> ha scritto:

[2018-06-22 16:55] danroth27 commented on #712
@TheMegaMatt Sounds like a reasonable ask, but please file a separate issue so that we can track the ask separately from the work to update to Bootstrap 4.

[2018-06-22 16:56] TheMegaMatt commented on #712
Was just brainstorming, will do as I get on a PC

Il 22 giu 2018 18:55, "Daniel Roth" <notifications@github.com> ha scritto:

@TheMegaMatt <https://github.com/TheMegaMatt> Sounds like a reasonable ask,
but please file a separate issue so that we can track the ask separately
from the work to update to Bootstrap 4.

—
You are receiving this because you were mentioned.

Reply to this email directly,

[2018-06-24 16:05] Rick-Anderson commented on #590
@seancpeters  @prafullbhosale  If this should be moved to another repo let me know where.

[2018-06-25 18:18] seancpeters commented on #590
@javiercn @danroth27 - another scaffolding content concern.

[2018-06-25 18:59] Rick-Anderson opened #822 "Namespace of generated DbContext class uses Models when it should use Data"
When you scaffold EF/CRUD the new DC uses Models in the namespace when it should use Data
![image](https://user-images.githubusercontent.com/3605364/41869829-244ef32c-786f-11e8-8b66-19f672493624.png)

The DC
[code]
But it’s not in the *Models* folder, it’s in the *Data* folder. The namespace should be `ContosoUniversity.Data`

[2018-06-26 18:19] javiercn commented on #590
@seancpeters I don't think this is Identity specific. I'll let @danroth27 chip on it.

[2018-06-26 19:09] danroth27 commented on #590
Sounds reasonable to me.

[2018-06-26 19:18] Rick-Anderson commented on #590
It's not Identity specific - my tutorials are not using Identity. It's any model you scaffold.

[2018-06-26 20:27] xsqian commented on #771
downgrade the Microsoft.VisualStudio.Web.CodeGeneration.Design to 2.0.4 cause some other errors:
There was an error running the selected code generator: 'Method not found: 'Void Microsoft.EntityFrameworkCore.Design.Internal.DbContextOperations..ctor (Microsoft.EntityFrameworkCore.Internal.OperationReporter, System.Reflection.Assembly, System.Reflection.Assembly)'.'

[2018-06-27 01:44] Rick-Anderson opened #823 "Scaffolder error: Unexpected character encountered while parsing value: . Path", line 0 position 0.""
From https://github.com/aspnet/Docs/issues/7014

When the scaffolder is run (form VS or the CLI), the following error is returned

c:\RazorPagesMovie>dotnet aspnet-codegenerator razorpage -m Movie -dc RazorPages
Movie.Data.MovieContext -udl -outDir Pages\Movies --referenceScriptLibraries
[Trace]: Command Line: razorpage -m Movie -dc RazorPagesMovie.Data.MovieContext
-udl -outDir Pages\Movies --ref

[2018-06-28 08:54] Raffee commented on #771
I'm facing the same issue too, and like @xsqian downgrading to version 2.0.4 (even 2.0.1) caused the other error: 'Method not found: 'Void Microsoft.EntityFrameworkCore.Design.Internal.DbContextOperations..ctor (Microsoft.EntityFrameworkCore.Internal.OperationReporter, System.Reflection.Assembly, System.Reflection.Assembly)'.'

[2018-06-30 02:58] natelaff opened #827 "Identity: IsEmailConfirmed not readded to model after failing ModelState.IsValid"
When scaffolding Identity, In Account/Manage/Index there is the IsEmailConfirmed member. If model validation fails, when the page is returned, this property is not reset.

[2018-07-01 14:44] PeterHamiltonTO commented on #771
I am using VS Enterprise 15.7.4.  I too have the initial issue "CS0234: The type or namespace name 'Hosting' does not exist in the namespace 'Microsoft.AspNetCore.Razor' ( are you missing an assembly reference?)" which @mkArtakMSFT initially posted.

I tried downgrading Microsoft.VisualStudio.Web.CodeGeneration.Design to 2.0.4 and am also receiving the "Void" errors which @xsqian  and @Raffee have

[2018-07-02 11:17] PeterHamiltonTO commented on #771
I have resolved the issue by downgrading Microsoft.AspNetCore.All to 2.08, Microsoft.EntityFrameworkCore.Tools to 2.03 and Microsoft.VisualStudio.Web.CodeGeneration.Design to 2.01:

![image](https://user-images.githubusercontent.com/32036141/42161113-a0f0423e-7dc7-11e8-8014-6df615555b5a.png)

The Controller was created successfully.

This is a workaround, not a bug fix, but hopefully it will work

[2018-07-02 13:53] Raffee commented on #771
Hi guys,
I was able to solve this issure by updating all the packages along with the .NET SDK and runtimes on my machine, and the target framework of my projects - all to 2.1.301.

[2018-07-09 10:36] jarnmo commented on #797
I was able to run a custom (partial) template by adding it into Templates\RazorPageGenerator\mytemplate.cshtml and then running it from a PowerShell (cd'd into the project folder) with:
`dotnet aspnet-codegenerator razorpage mygeneratedviewname mytemplate -m mynamespace.mymodelclass -dc mynamespace.mydatacontextclass -udl -outDir "Pages\mysubfolder" -partial -f`

Now, I only wanted to generate the

[2018-07-09 10:52] jarnmo commented on #797
Actually, looking at the `dotnet aspnet-codegenerator controller --help`, maybe it's not possible to use a custom template from ControllerGenerator\ as it is from RazorPageGenerator\. However, maybe you can achieve what you want by putting the templates in RazorPageGenerator\.

[2018-07-10 18:06] Eilon opened #830 "Scafolding Models with bool Type Results in Error in CreateModel"
_From @robinwilson16 on April 25, 2018 22:25_

I have found if I add a bool field to a data model - i.e.:
`public class Customer`
    `{`
        `...`
        `public bool CanBeContacted { get; set; }`
        `...`
    `}`

Then generate the model:
`dotnet aspnet-codegenerator razorpage -m Customer -dc ApplicationDbContext -udl -outDir Pages\Customers --referenceScriptLibraries`

The reference i

[2018-07-10 18:06] Eilon opened #831 "To use UseSpaStaticFiles, you must first register an ISpaStaticFileProvider in Azure Service Fabric"
_From @KTazayan on March 29, 2018 16:22_

I'm using the latest version of SPA templates: Microsoft.DotNet.Web.Spa.ProjectTemplates::2.0.0
Creating Angular app by:

and getting the following error when deploy it in Azure SF stateless service:

[code]

[code]

[code]

_Copied from original issue: aspnet/Home#3010_

[2018-07-10 18:06] Eilon commented on #831
@glennc - are you familiar with this type of issue in Service Fabric scenarios?

[2018-07-10 19:24] seancpeters commented on #831
@Eilon @glennc - This doesn't seem like a scaffolding issue. If it's an issue with the SPA template, the issue would more appropriately go in aspnet/templating. If it's a publish issue, I'm not sure where it should go.

[2018-07-11 01:09] seancpeters commented on #830
@robinwilson16 - I've just made PR #832  for the extra trailing paren.

The issue with the incorrect model was recently addressed here: #709.

[2018-07-11 18:27] mgolois opened #833 "Add Custom scaffolding Views"
From my research, seems like I can only add overwrite the existing scaffolding views (Create, Delete, Details, Edit, List, etct..). However, in previous versions of MVC, I was able to add custom scaffolding views to the list of templates, so that when  a developer wanted to add a viewsmy customs views will also show up be list.
How can I achieve that? Thank you!

[2018-07-12 17:45] Andrioden opened #834 "Scaffolding fails without details on why, when using certain c# language syntax"
Environment:
- ASP.Net Core 2.1
- Unspecificed C# language in project settings, I believe I earlier had downloaded and "installed" a newer c# (7.3) version. Then removed it from the project because of then also scaffolding failing.
- Visual Studio Community 2017, Windows

This was one I really did **not** like guys! Since the error gives no clue about what is going on I had to backtrack my commits

[2018-07-12 19:16] seancpeters commented on #834
@Andrioden - Thanks for reporting this problem. For the short-term, I have this PR #824 in progress to provide better error messaging. For your situation, the error will look like this:
![image](https://user-images.githubusercontent.com/20912881/42654349-26aec62c-85cd-11e8-96a3-473f8885913f.png)

For the bigger problem of needing scaffolding to build with the same C# version as the project, we wil

[2018-07-15 15:34] robinwilson16 commented on #830
Hello Sean

Thanks for the update and for fixing it.

Robin

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: seancpeters <notifications@github.com>
Sent: Wednesday, July 11, 2018 2:09:02 AM
To: aspnet/Scaffolding
Cc: Robin Wilson; Mention
Subject: Re: [aspnet/Scaffolding] Scafolding Models with bool Type Results in Error in Crea

[2018-07-15 18:51] shanewalker1595 commented on #251
I was able to resolve the issue by following the steps listed here: https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-xplat/adding-model?view=aspnetcore-2.1#prepare-the-project-for-scaffolding

[2018-07-17 22:40] omnoms opened #838 ".NET Core 2.1.302 and aspnet-codegenerator identity doesnt work."
Trying to follow this https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=netcore-cli

And I face this
[code]

[2018-07-17 23:44] seancpeters commented on #838
@omnoms - this type of error is often caused because the project being scaffolded does not build. Could you check if your project will build on its own? Also, please make sure that the Microsoft.VisualStudio.Web.CodeGeneration.Design package was correctly added to your project.

If the above doesn't help, could you post the contents of your .csproj file here, it may give me some indication of the

[2018-07-18 10:33] NathanJonker commented on #771
Thank you @Raffee, your solution solved my problem. I updated the .Net SDK and runtimes as well as changed my project target framework to .Net Core 2.1.

[2018-07-18 19:19] omnoms commented on #838
It builds. Its just a brand new "dotnet new angular".

[2018-07-18 19:30] omnoms commented on #838
I had run the dotnet add package line but now that I inspect the csproj file i see that it's actually missing. So that failed silently somehow. Adding it manually and running dotnet restore allowed for the scaffolding to succeed. Thanks!

[2018-07-18 19:30] #838 closed

[2018-07-18 19:43] seancpeters commented on #838
Glad you got it working! If dotnet add package is consistently failing for you, perhaps file a bug here:
https://github.com/dotnet/cli

[2018-07-18 19:52] #830 closed

[2018-07-19 18:02] blowdart opened #839 "Scaffold Identity omits custom ApplicationUser"
_From @Ponant on July 19, 2018 15:25_

**Works**
1) New project 2.1 MVC with no auth
2) Scaffold identity and choose the plus button for the user class

![scaffoldidentity21](https://user-images.githubusercontent.com/19961806/42952012-cef98632-8b77-11e8-9c61-219423f81672.PNG)

The resulting code is expected because it refers to `ApplicationUser`

`    public class ApplicationDbContext : IdentityDb

[2018-07-19 18:53] seancpeters commented on #839
@ponant - this issue is a duplicate of https://github.com/aspnet/Scaffolding/issues/761 and has been fixed here: https://github.com/aspnet/Scaffolding/pull/765

The fix is available in the 2.1 Microsoft.VisualStudio.Web.CodeGeneration.Design package, which ships with the 2.1 SDK.

[2018-07-19 18:57] Ponant commented on #839
@seancpeters , I have the 2.1 SDK. It is Microsoft.VisualStudio.Web.CodeGeneration.Design v2.1.1

[2018-07-19 19:08] Ponant commented on #839
![cmddotnetinfo](https://user-images.githubusercontent.com/19961806/42964622-df81bf90-8b97-11e8-90db-dd169968ead3.PNG)

[2018-07-19 20:03] seancpeters commented on #839
@Ponant  - sorry for the premature close on this issue. I'm also able to repro it with the 2.1.0 Design package. I'll update this thread when a fix is available.

[2018-07-19 22:31] seancpeters commented on #839
@Ponant - I've tracked down the root cause of this issue - it's in the VS integration of the identity scaffolder. When I know which release the fix will be available in, I'll update you here.

[2018-07-20 07:11] Ponant commented on #839
The same happens with the Razor Pages template

[2018-07-20 17:59] seancpeters commented on #839
@Ponant - could you provide more details about the problem you're seeing with the Razor Pages template? I'm not clear on the problem you're seeing there.

[2018-07-20 18:14] Ponant commented on #839
@seancpeters , I meant that the same problem is found when you use the Razor Page template in step 1 instead the MVC template.

[2018-07-26 20:48] pranavkm commented on #756
Fixed as part of https://github.com/aspnet/Scaffolding/commit/2ad31dbd843fb2ac7b9f5c586dc9d3b269209f52.

[2018-07-26 20:48] #756 closed

[2018-07-26 20:51] pranavkm commented on #737
Dup of https://github.com/aspnet/Scaffolding/issues/756

[2018-07-26 20:51] #737 closed

[2018-07-27 19:09] Eilon opened #844 "ASP.NET Core 2.1 - Identity Pages Override"
_From @NabinR on July 27, 2018 1:26_

While overwriting Identity Pages on Visual Studio via Add > New Scaffolded Items > Identity, if the "Overwrite all files" is ticked, all Identity Pages (Accounts, Manage) are overwritten. This is the intended behaviour.

In addition to that, the default CSS, JS and image files (site.css, site.js, banner*.svg) also gets overwritten. That surely doesn't look lik

[2018-07-27 19:09] Eilon commented on #844
@javiercn / @vijayrkn  - any thoughts on this?

[2018-07-27 19:09] Eilon commented on #844
_From @javiercn on July 27, 2018 15:55_

@seancpeters As he's the owner of the scaffolders. It sounds like a bug to me

[2018-07-27 19:09] Eilon commented on #844
_From @seancpeters on July 27, 2018 18:1_

The identity scaffolder is designed to check for a wwwroot directory, and only put content there if the directory does not exist or is empty. Overwriting the css, js, etc. in the wwwroot directory is not intended, so yes, this is a bug.

[2018-07-27 19:09] Eilon commented on #844
_From @javiercn on July 27, 2018 18:23_

@seancpeters @vijayrkn Can you guys take it from here? @Eilon @mkArtakMSFT I think this is a patch candidate as it can result in content loss.

[2018-07-27 19:09] Eilon commented on #844
_From @vijayrkn on July 27, 2018 18:25_

You can move this bug to Scaffolding repo

[2018-07-30 08:50] AsValeO opened #846 "DB scaffolding: order properties alphabetically required"
Before 2.1.0 scaffolding generated entities with alphabetically generated properties.
This behavior was changed by default in 2.1.0: properties order repeats columns order.
Is there an option to change this behavior during scaffolding proccess?
If not - this is required feature.

[2018-07-30 23:50] natelaff opened #847 "Scaffoling does not follow MS best practice for list iteration"
Was looking through docs
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/working-with-forms?view=aspnetcore-2.1

There is this note:

However, when scaffolding EF views, the Index view will generate with foreach.

So, which one should we use? :)

[2018-07-31 11:00] ryanbrandenburg commented on #750
TestAreaGenerator [failed again](http://aspnetci/viewLog.html?buildId=519624&buildTypeId=Releases_22xPublic_Win2012).

This comment was made automatically. If there is a problem contact @ryanbrandenburg.

[2018-07-31 17:18] mkArtakMSFT opened #848 "@ViewData["Title"] is of IndexModel type error"
_From @josejmoran on July 30, 2018 21:15_

After I scaffold Identity to have the files in my project. Initially everything works well, but when I try to click on the email link that appears next to Logout I get an error stating that ViewData somehow is of the wrong type. I replace the code with a string instead of using ViewData and the error moves to where you are assigning a value to ViewData on

[2018-07-31 17:19] mkArtakMSFT commented on #848
_From @josejmoran on July 30, 2018 21:17_

This only happens after I scaffold Identity. If I leave the project with Identity as it is generated the project works fine. It is something that has to do after I scaffold Identity.

[2018-07-31 17:19] mkArtakMSFT commented on #848
Thanks for contacting us, @josejmoran.
@javiercn, can you please look into this?

[2018-07-31 18:13] javiercn commented on #848
Hi @josejmoran, thanks for contacting us.

I tried to reproduce the issue you are having and I wasn't able to. Here is what I did:
1) Create a new Razor Pages application selecting individual user accounts.
2) Scaffold all the identity UI into the project using the Wizzard in Visual Studio.
3) Started the application and registered a new user.
4) On the Index page, I clicked on the link with the e

[2018-07-31 18:33] josejmoran commented on #848
Hi,

That is normal. It happened to me too. But try again a couple of times and
I am sure you will get it.
Try also modifying the Index.cshtml file located in Identity folder. I
think that may be the trigger.
I was trying to eliminate the glyphicons because is no longer supported by
BS.

But I think you get the error anyways without modifying the file. Just
click on the email trying to modify the

[2018-07-31 19:07] josejmoran commented on #848
Also I tried to debug it by setting a break point and ended up at Startup.cs and after I step over this line I get the error. Please see line below

services.Configure<CookiePolicyOptions>(options =>
            {
                // This lambda determines whether user consent for non-essential cookies is needed for a given request.
                options.CheckConsentNeeded = context => true; //Th

[2018-07-31 20:01] javiercn commented on #848
@josejmoran I tried what you suggested and I'm still unable to reproduce the issue. **Could you create a minimal repro of the issue and share it with us (for example in a github repo) so that we can help you?**

Could you also give us more details about the issue?
* dotnet version (collected with `dotnet --info`)
* The contents of the csproj file
* The protect templates you used (Razor pages vs MV

[2018-07-31 20:16] josejmoran commented on #848
Hi,

I am using ASP.NET Core 2.1.300
VS version: 15.7.5

I click create new project and select Razor Web Pages with Individual User
Accounts from the start. When I run the project the first time I don't get
the error. I register a user and when I try to go the the profile
page by clicking the email address link that is when I get the error.

Thanks.
*****
Content of .csproj file:
*****
<Project Sd

[2018-07-31 20:26] javiercn commented on #848
@josejmoran I tried to match your settings as close as possible. Could you copy and paste the full output of dotnet --info so that I can be sure about what versions of packages/sdks, etc you are using?

I'm still unable to repro this issue

[2018-07-31 20:28] josejmoran commented on #848
Here is the dotnet --info:

.NET Core SDK (reflecting any global.json):
 Version:   2.1.300
 Commit:    adab45bf0c

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.1.300\

Host (useful for support):
  Version: 2.1.0
  Commit:  caa7b7e2ba

.NET Core SDKs installed:
  2.0.0 [C:\Program Files

[2018-07-31 20:34] josejmoran commented on #848
I think by just opening the new project you should get the same files and
configuration. I didn't change anything.  I tried to do this because I
created a previous project and started updating BS from 3 to 4.1.2
When I reach a point that I want it to update the Identity pages I scaffold
it and right then I got the error. So I said well that is maybe because of
the changes I made, but let me start

[2018-07-31 21:12] javiercn commented on #848
@josejmoran I modified my environment to match yours and I still can't reproduce the issue. Could you send us a repro project?

[2018-07-31 22:46] danroth27 opened #849 "Update Identity scaffolder to use Bootstrap 4"
Update to be consistent with https://github.com/aspnet/Identity/issues/1835

[2018-07-31 22:46] danroth27 commented on #712
Splitting off the work to update the identity scaffolder: https://github.com/aspnet/Scaffolding/issues/849

[2018-08-01 05:14] danroth27 opened #850 "Update Web API scaffolders to use latest conventions"
@pranavkm @glennc

[2018-08-01 05:59] danroth27 commented on #850
No, this is tracking any scaffolding updates due to the convention updates in 2.2.

[2018-08-01 18:14] danroth27 commented on #850
We chatted about this and it sounds like none of the 2.2 work will impact the Web API scaffolder.

[2018-08-01 18:14] #850 closed

[2018-08-02 14:50] josejmoran commented on #848
Hi,

I uploaded the project files that gives me the error so you can take a look.
https://github.com/josejmoran/ViewData-wrong-type

Thanks.

On Tue, Jul 31, 2018 at 5:12 PM, Javier Calvarro Nelson <
notifications@github.com> wrote:

--
Regards,

Jose J. Moran
336-347-8688

[2018-08-07 00:42] Rick-Anderson opened #851 "multiple files fail: dotnet aspnet-codegenerator identity --files <List of semicolon separated files to scaffold>"
The following command
`dotnet aspnet-codegenerator identity -dc WebApp1.Data.ApplicationDbContext --files Account.Register;Account.Login;Account.Logout`

Creates `Account.Register` only, and generates the following error:

[code]

It ignores the 3rd argument. I'm forced to run the command 3 times to create the 3 files.

[code]

[2018-08-07 01:09] seancpeters commented on #851
@Rick-Anderson - The error you're seeing is due to powershell using semicolon as a command separator, whereas dos does not. Since semicolon is the command separator, powershell sees the first command as:
`dotnet aspnet-codegenerator identity -dc WebApp1.Data.ApplicationDbContext --files Account.Register`
...this correctly invokes the aspnet-codegenerator, but with only the first file argument.

Th

[2018-08-07 01:15] Rick-Anderson commented on #851
@seancpeters  thanks - that works. I'll document that at [Scaffold Identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/scaffold-identity?view=aspnetcore-2.1&tabs=visual-studio)

Hopefully most folks will be able the trick between the doc's and this closed githHub issue. We'll see if others have problems.

[2018-08-07 01:15] #851 closed

[2018-08-08 22:58] ryanbrandenburg commented on #712
Can I get a bit more guidance here? How do we intend to separate the bootstrap4 stuff from the bootstrap3 stuff? Do we have a list of the items which we need to BS4-ify? How can I most easily test these bad boys out to make sure they look good while I'm working on them? This might be a meeting I should have with the Scaffolding folks, but if we also answer some of these questions here we can prese

[2018-08-09 20:36] seancpeters commented on #833
@mgolois
With the current version of MVC scaffolding, there are 2 ways to customize scaffolding.

The first way is along the lines you were indicating, where it’s possible to overwrite existing scaffolded views. But with this method, as you suspected, it’s not possible to add additional custom views.

The second way is a bit more involved. It is possible to create a new custom scaffolder and add y

[2018-08-10 19:59] ryanbrandenburg commented on #712
@danroth27 do you know the answers to any of my above questions? If not where might I start looking for them?

[2018-08-11 04:33] danroth27 commented on #712
I believe the agreement is that you just need to worry about providing the BS4 content. The scaffolding folks will work out how to integrate it with the existing scaffolders.

This issue tracks BS4-ify the Razor Pages with EF Core (CRUD) content and the MVC with EF Core (CRUD) content.

@mkArtakMSFT Since we're just providing content would it make sense to implement the content as a sample app?

[2018-08-13 18:39] RyanTaite commented on #812
Looks like this issue was addressed in this ticket: #844
A fix seems to be in the pipeline for 2.2 based on this ticket: #845

[2018-08-13 22:57] niico100 commented on #580
This is still an issue a year later.

[2018-08-15 15:34] mgolois commented on #833
Thank you @seancpeters !

[2018-08-15 15:34] #833 closed

[2018-08-16 00:13] ryanbrandenburg commented on #712
I have the content changes @danroth27 described in a branch [here](https://github.com/aspnet/Scaffolding/tree/rybrande/BS4). That's not actually all this issue tracks now that I'm thinking about it though, we also, at minimum, need to update the _Layout.cshtml to match our new layout (though that should just be a copy-paste). @danroth27 are there any other hidden items I'm missing?

[2018-08-16 12:28] ASKemp commented on #839
Adding to that, I already had a User class - the scaffolding assumes I want to use that without giving me the option to select the default (IdentityUser), so as not to conflict, and uses that class name in all the scaffolded code .
I had to do a directory comparison with/without my existing class to bring in IdentityUser alongside my existing User.
I'm assuming that's the point of the "User" class

[2018-08-16 17:55] ryanbrandenburg commented on #712
I updated that branch with out new layout, adjusted to meet the existing standards where I thought appropriate. It does NOT contain an updated site.css (required for the layout to look good) because the only one I saw was in the Identity folder and I didn't want to cause conflicts for @javiercn when he merged his Identity Scaffolding stuff.

I don't see any further work to do here, so if there's s

[2018-08-16 18:20] seancpeters commented on #839
@ASKemp - The user class selection is only enabled when creating a new DataContext class, it is disabled when selecting an existing data context class.

When an existing data context class is chosen, the identity user associated with that data context class is used in scaffolding, because the data context is already setup to use the existing identity user. Here's an example of a the class declarat

[2018-08-16 23:16] ASKemp commented on #839
Thanks., although i didn't have an identity user associated the class chosen. It would be good if the scaffolding tool pointed these things out.
Also, I found that the selected path of a new db context is not honoured and reverts to the default.

As you note, I found that if you select an existing db context then it wont allow you to specify a user class, if you create a new db context then you ca

[2018-08-17 05:04] natemcmaster commented on #647
Closing as this is stale.

[2018-08-17 05:04] #647 closed

[2018-08-20 18:42] robinwilson16 opened #855 "Scaffoding Bool values results in incorrect syntax on the Create and Edit models"
I have found that if scaffolding a class that contains a Bool value then incorrect syntax is generated on the Create and Edit models (this issue also occurred in .Net Core 2.0):

Steps to reproduce:
[code]

Then scaffold the class and if you try to build the project it will fail with the following error:
[code]

The workaround is to change the line in the Create/Edit model from:
[code]
To:
[code]

[2018-08-20 21:15] javiercn commented on #712
@seancpeters

[2018-08-21 18:43] seancpeters commented on #855
@robinwilson16 - This has been fixed by #709.

[2018-08-21 19:16] robinwilson16 commented on #855
It's not fixed though in the latest version from what I can tell.
Looking at #709 it looks like it may have only been fixed in 2.0 with the fix not ported forward to 2.1?
Are there plans to fix in 2.1 as well?
It also adds an extra closing bracket which just ends up appearing as text on the page.

I do hit it every time I add a bool value and can replicate every time.

[2018-08-22 01:15] javiercn commented on #848
@josejmoran The uploaded project is missing some key files. Could you take a look and add the missing files?

[2018-08-22 11:43] josejmoran commented on #848
Hi,

I found the problem. I had replaced Html.Partial() with <partial name=""
.../> but did not added the input model. So for this reason
ViewData["Title"] was getting a different data type.
I don't think it should happen this way, but it does. I think ViewData[]
type should not be affected by me forgetting to pass the input model. It
does give you the wrong impression of the error because it does

[2018-08-22 16:07] isaac2004 opened #857 "Identity Scaffolding creates empty Services folder"
## Steps to reproduce:
 - Create new ASP.NET Core 2.1 Project with Identity
 - Scaffold Identity
 - Empty Services Folder with no Email or SMS Services

## Expected behavior:
 - Per @blowdart it seems weird the services aren't generated, the base ones provided in the past should be there at least

## Actual behavior:
 - Nothing in Services folder

[2018-08-22 16:29] blowdart commented on #857
@javiercn @mkArtakMSFT

[2018-08-22 17:13] javiercn commented on #857
@seancpeters @vijayrkn Can you take a look at this? There should not be a services folder.

[2018-08-22 18:05] seancpeters commented on #857
I know why this is happening, I'll get a PR out with the fix.

[2018-08-22 18:08] seancpeters commented on #857
With identity scaffolding, we've never had any services scaffolded (such as the ones mentioned in the original post). If it's desired to add those services, let's discuss exactly what we want to add.

[2018-08-22 18:54] isaac2004 commented on #857
My personal opinion is that the scaffold experience should be very similar to the experience before scaffolding was introduced (i.e. EmailService and SMSService scripted as part of template). If the team disagrees, I would like to know why not making those services available is ideal over the old experience which allowed developers to quickly build out identity apps.

[2018-08-22 19:12] javiercn commented on #848
Closing this issue as there’s no further action to be taken here.

[2018-08-22 19:12] #848 closed

[2018-08-22 19:29] javiercn commented on #857
The services mentioned are part of the UI package. We don’t want to scaffold the services because that prevents people from shipping third party package implementations that can be reused.